﻿@model CheckoutBillingAddressModel

@foreach (var address in Model.ExistingAddresses)
                {
                    var addressLine = "";
                    addressLine += address.FirstName;
                    addressLine += " " + address.LastName;
                    {
                        addressLine += ", " + address.Address1;
                    }
                    if (!string.IsNullOrEmpty(address.Address2))
                    {
                        addressLine += ", " + address.Address2;
                    }
                    
                    if (!string.IsNullOrWhiteSpace(address.Landmark))
                    {
                        addressLine += ", " + address.Landmark;
                    }
<div class="addressBox">
    <div class="addressTit">@address.AddressType</div>
    <div class="addressDisT">@(addressLine)</div>
    <input type="button" title="@T("Checkout.BillingAddress.DeliveryHere")" class="button-1 address-next-step-button" onclick="CheckGeoArea('@(address.Address2)','@(address.Id)')" value="@T("Checkout.BillingAddress.DeliveryHere")" />

</div>
                }