﻿@model CheckoutBillingAddressModel
<div class="checkout-data">
    <input type="hidden" id="hdbilling_address_id" name="billing_address_id" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_top" })
    @if (Model.ShipToSameAddressAllowed)
    {
        <div class="section ship-to-same-address" style="display:none">
            <p class="selector">
                <input asp-for="ShipToSameAddress" />
                <label asp-for="ShipToSameAddress">@T("Checkout.ShipToSameAddress")</label>
            </p>
        </div>
    }
    <div class="section select-billing-address">

        @*<select name="billing_address_id" id="billing-address-select" class="address-select"
            title="" onchange="Billing.newAddress(!this.value)">*@
        @foreach (var address in Model.ExistingAddresses)
        {
            var addressLine = "";
            addressLine += address.FirstName;
            addressLine += " " + address.LastName;
            {
                addressLine += ", " + address.Address1;
            }
            if (!string.IsNullOrEmpty(address.Address2))
            {
                addressLine += ", " + address.Address2;
            }
            //if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
            //{
            //    addressLine += ", " + address.City;
            //}
            //if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
            //{
            //    addressLine += ", " + address.StateProvinceName;
            //}
            //if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
            //{
            //    addressLine += " " + address.ZipPostalCode;
            //}
            //if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
            //{
            //    addressLine += ", " + address.CountryName;
            //}
            //if (!string.IsNullOrWhiteSpace(address.Landmark))
            //{
            //    addressLine += ", " + address.Landmark;
            //}
            //how should we render "FormattedCustomAddressAttributes" here?
            @*<option value="@(address.Id)">@(addressLine)</option>*@
            <div class="addressBox col-lg-4 col-md-4 col-sm-12">
                <div class="address_detail">
                    <div class="addressTit">@address.Landmark</div>
                    <div class="addressDisT">@(addressLine)</div>
                </div>
                <input type="button" title="@T("Checkout.BillingAddress.DeliveryHere")" class="button-1 address-next-step-button wid" onclick="CheckGeoArea('@(address.Address2)','@(address.Id)')" value="@T("Checkout.BillingAddress.DeliveryHere")" />

            </div>
        }
        <div class="addressBox col-lg-4 col-md-4 col-sm-12">
            <div class="addressNTit">@T("Checkout.BillingAddress.AddNewAddress")</div>
            <input type="button" title="@T("Checkout.BillingAddress.AddNew")" class="button-1 new-address-next-step-button wid" onclick="Billing.selectAddress('')" value="@T("Checkout.BillingAddress.AddNew")" />
        </div>

    </div>
    @if (Model.NewAddressPreselected || Model.ExistingAddresses.Count == 0)
    {
        <script type="text/javascript">
            Billing.newAddress(true);
        </script>
    }
    else
    {
        <script type="text/javascript">
            //Billing.newAddress(false);
        </script>
        <script type="text/javascript">
            Billing.newAddress(false);
        </script>
    }
    <script>
        $(".addressBox .address-next-step-button").click(function () {
            $(this).parents().find(".addressBox").addClass("highlight");
            $(this).parents(".addressBox").siblings().removeClass("highlight");
            //$(".ajax-loading-block-window").show(); 
 
            
        });
      

    </script>

    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_middle" })
    <div class="section new-billing-address customNewAddressC" id="billing-new-address-form">
        <div class="opacityBg"></div>
        <div class="newAddressForm">
            <div class="enter-address">
                <span class="close" onclick="Billing.closePopup()">&times;</span>
                <h5> @T("Common.AddNewAddress")</h5>
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                @{
                    var dataDictAddress = new ViewDataDictionary(ViewData);
                    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                    @await Html.PartialAsync("_CreateOrUpdateAddressCheckout", Model.BillingNewAddress, dataDictAddress)
                }
            </div>

            <div class="buttons" id="billing-buttons-container" style="clear:both;">
                <input type="button" id="billing-button-continue" title="@T("Checkout.BillingAddress.SaveAndProceed")" class="button-1 new-address-next-step-button" onclick="GetLocation(true)" value="@T("Checkout.BillingAddress.SaveAndProceed")" />
                <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_bottom" })
</div>