﻿@model SignUpModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0");
}
<div class="checkout-data">
    @*<div class="login-header">
            <h2>@T("Checkout.LoginSignup.SignUp.Heading")</h2>
        </div>*@
    <div id="dv-LoginDetails" class="sbuTitleN">
        @T("nb.signupOr")
        <a href="#" onclick="LoginSignUp.showHideLoginSignup('#dv-checkout-login','#dv-checkout-signup')"> @T("nb.login")</a>
    </div>
    <div class="formDetails clearfix">
        <div class="row">
            <div class="col-sm-6">
                <div class="floating_labels">
                    <input asp-for="FirstName" type="text" placeholder=" " />
                    <label asp-for="FirstName" for="POST-FirstName">@T("Checkout.LoginSignup.SignUp.FirstName")</label>
                    @*<input asp-for="FirstName" placeholder="@T("Checkout.LoginSignup.SignUp.FirstName")" />*@
                    <nop-required />
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="floating_labels">
                    <input asp-for="LastName" type="text" placeholder=" " />
                    <label asp-for="LastName" for="POST-LastName">@T("Checkout.LoginSignup.SignUp.LastName")</label>
                    <nop-required />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="floating_labels">
                    <input asp-for="Email" type="text" placeholder=" " />
                    <label asp-for="Email" for="POST-Email">@T("Checkout.LoginSignup.SignUp.Email")</label>
                    <nop-required />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="floating_labels">
                    <input asp-for="Phone" type="text" placeholder=" " />
                    <label asp-for="Phone" for="POST-Phone">@T("Checkout.LoginSignup.SignUp.Phone")</label>
                    <nop-required />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="floating_labels">
                    <input asp-for="Password" type="password" placeholder=" " />
                    <label asp-for="Password" for="POST-Password">@T("Checkout.LoginSignup.SignUp.Password")</label>
                    <nop-required />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-6 buttons">
                <input type="button" class="button-1 register-next-step-button" onclick="LoginSignUp.submit('checkout/OpcSignUp/')" value="@T("Checkout.LoginSignup.SignUp.Submit.Button")" name="register-button" />
            </div>
        </div>

        </div>
</div>
