﻿
@model RatingReviewModel
@using Nop.Web.Models.RatingReview;
@using Nop.Core.Domain.RatingReview;
@using Nop.Core
@inject IWebHelper webHelper
@{var storeLocation = webHelper.GetStoreLocation(); }
<div id="dv-rating-review-popup" class="modal rate_popup">
    <div class="modal-header">
        <span class="close">&times;</span>
    </div>
    <form id="rating-review-form" action="">
        <div>
            @if (Model.ReviewType == (int)ReviewType.Agent || Model.ReviewType == (int)ReviewType.Merchant)
            {
                <div class="row rate_image">
                    <div class="col-md-12">
                        @if (!string.IsNullOrEmpty(Model.ProfilePicture))
                        {
                            <img src="@Model.ProfilePicture" />
                        }
                        else
                        {
                            <img src="~/images/default-image.png" />
                        }
                    </div>
                </div>
                if (Model.ReviewType == (int)ReviewType.Agent)
                {
                    <div class="row rate_text">
                        <div class="col-md-12">
                            <h4> @(String.Format(T("RatingReview.ReviewText.Agent.NameHeading").Text, Model.ReviewForName))</h4>
                        </div>
                    </div>
                    <div class="row rate_text_feed">
                        <div class="col-md-12">
                            @T("RatingReview.ReviewText.Agent.HeaderText")
                        </div>
                    </div>
                }
                else if (Model.ReviewType == (int)ReviewType.Merchant)
                {
                    <div class="row rate_for_name">
                        <div class="col-md-12">
                            <h4>@Model.ReviewForName</h4>
                        </div>
                    </div>
                    <div class="row rate_overall">
                        <div class="col-md-12">
                            @(String.Format(T("RatingReview.ReviewText.Merchant.HeaderText").Text, Model.ReviewForName))
                        </div>
                    </div>
                }
                @*<div class="row rate_buttons">
                        <div class="col-md-12">
                            <input type="button" value="Like" class="like-btn" />
                            <input type="button" value="Dislike" class="dis-like-btn" />
                        </div>
                    </div>
                    <div id="dv-review-options" class="row rate_rev_opt" style="display:none;">
                        <div class="col-md-12">
                            @if (!string.IsNullOrEmpty(Model.ReviewOptions))
                            {
                                foreach (var option in Model.ReviewOptions.Split(','))
                                {
                                    if (!string.IsNullOrEmpty(option))
                                    {
                                        <input type="button" value="@option" class="review-option-btn" />
                                    }
                                }
                            }
                        </div>
                    </div>*@
        <div class="row ratingStar">
            <div class="col-md-12 rating">
                <h2>@T("RatingReview.Common.HeaderText.Rating")</h2>
            </div>
            <div class="rate_star">
                @for (int rat = 1; rat <= 5; rat++)
                {
                    <img src="/Themes/MicroShipping/Content/img/rating1.png" id="rating-@(Model.EntityId)-@(rat)" class="img-rating" />
                }
            </div>
            <br />
        </div>
                <input type="hidden" name="rating-@Model.EntityId" id="rating-@Model.EntityId" value="0" />
                <input type="hidden" id="hdRating" name="Rating" value="@Model.Rating" />
                <div class="questionMain">
                    @if (Model.NBReviewOptions.Count > 0)
                    {
                        <ul>
                            @foreach (var option in Model.NBReviewOptions)
                            {
                            <li class="question">
                                <span class="des">@option.Name</span>
                                <div class="thmbsSection">
                                    <span class="like_dislike thumbsUp"> <input type="button" id="like-btn-@option.Id" value="@option.Id" class="like-btn like-review-btn" /> </span>
                                    <span class="like_dislike thumbsDown"> <input type="button" id="dis-like-btn-@option.Id" value="@option.Id" class="dis-like-btn dislike-review-btn" /> </span>
                                   </div>
                                    <script>
                                        $('#like-btn-@option.Id').bind('click', function () {
                                            $(this).addClass('like-btn-selected');
                                            $('#dis-like-btn-@option.Id').removeClass('dis-like-btn-selected');
                                            $('#hdSelectedReviewOptions').val('');
                                            $('.like-btn-selected').each(function () {
                                                $('#hdSelectedReviewOptions').val($('#hdSelectedReviewOptions').val() + $(this).val() + ',');
                                            });
                                            $('#hdDisLikedReviewOptions').val('');
                                            $('.dis-like-btn-selected').each(function () {
                                                $('#hdDisLikedReviewOptions').val($('#hdDisLikedReviewOptions').val() + $(this).val() + ',');
                                            });
                                        });
                                        $('#dis-like-btn-@option.Id').bind('click', function () {
                                            $(this).addClass('dis-like-btn-selected');
                                            $('#like-btn-@option.Id').removeClass('like-btn-selected');
                                            $('#hdDisLikedReviewOptions').val('');
                                            $('.dis-like-btn-selected').each(function () {
                                                $('#hdDisLikedReviewOptions').val($('#hdDisLikedReviewOptions').val() + $(this).val() + ',');
                                            });
                                            $('#hdSelectedReviewOptions').val('');
                                            $('.like-btn-selected').each(function () {
                                                $('#hdSelectedReviewOptions').val($('#hdSelectedReviewOptions').val() + $(this).val() + ',');
                                            });
                                        });
                                    </script>
                            </li>
                            }
                        </ul>
                    }
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var item in Model.Items)
                        {
                            <div class="rate_prod_img">
                                @if (!string.IsNullOrEmpty(item.ProductPicture))
                                {
                                    <img src="@item.ProductPicture" />
                                }
                                else
                                {
                                    <img src="~/images/default-image.png" />
                                }
                                <div class="rate_prod_name">
                                    <h4>@item.Name</h4>
                                    <div class="rate_star">
                                        @for (int rat = 1; rat <= 5; rat++)
                                        {
                                            <img src="/Themes/MicroShipping/Content/img/rating1.png" id="rating-@(item.ProductId)-@(rat)" class="img-rating" />
                                        }
                                    </div>
                                </div>
                                <input type="hidden" name="itemId-@item.ProductId" value="@item.ProductId" />
                                <input type="hidden" name="rating-@item.ProductId" id="rating-@item.ProductId" value="0" />
                                <input type="checkbox" id="chk-rating-@item.ProductId" class="chk-rating" style="display:none;" />
                            </div>
                        }
                    </div>
                </div>
                <div class="row rate_feedback">
                    <div class="col-md-12">
                        @T("RatingReview.ReviewText.Item.HeaderText")
                    </div>
                </div>
                <div id="dv-title" class="row">
                    <div class="col-md-12">
                        <input name="ReviewTitle" value="@Model.ReviewTitle" placeholder="@T("RatingReview.ReviewTitle.Placeholder")" />
                    </div>
                </div>
            }
            @if (Model.ShowAdditionalNotes)
            {
                @*<div id="dv-additional-note" class="row" style="@((Model.ReviewType!=3)?"display:none;":"")">*@
                <div id="dv-additional-note" class="row">
                    <div class="col-md-12">
                        <input name="ReviewText" value="@Model.ReviewText" placeholder="@T("RatingReview.ReviewText.Placeholder")" class="additional_note" />
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <span id="vld-review-options" style="color:red;display:none;">@T("RatingReview.ReviewText.Validation.ReviewOptions")</span>
                    <span id="vld-item-rating" style="color:red;display:none;">@T("RatingReview.ReviewText.Validation.ItemRating")</span>
                </div>
            </div>
            <div class="row rate_buttons_sub">
                <div class="col-md-12">
                    <input type="hidden" id="hdReviewType" name="ReviewType" value="@Model.ReviewType" />
                    <input type="hidden" id="hdReviewOptions" name="ReviewOptions" value="@Model.ReviewOptions" />
                    <input type="hidden" id="hdSelectedReviewOptions" name="SelectedReviewOptions" value="@Model.SelectedReviewOptions" />
                    <input type="hidden" id="hdDisLikedReviewOptions" name="DisLikedReviewOptions" value="@Model.DisLikedReviewOptions" />
                    <input type="hidden" id="hdOrderId" name="OrderId" value="@Model.OrderId" />
                    <input type="hidden" name="EntityId" value="@Model.EntityId" />
                    <input asp-for="IsLiked" id="chkLike" name="IsLiked" style="display:none;" />
                    <input asp-for="IsNotInterested" id="chkIsNotInterested" name="IsNotInterested" style="display:none;" />
                    <input asp-for="IsSkipped" id="chkIsSkipped" name="IsSkipped" style="display:none;" />
                    <input type="button" value="Skip" class="review-skip-btn" />
                    @if (Model.ReviewType == (int)ReviewType.Item)
                    {
                        <input type="button" value="@T("RatingReview.ReviewText.Button.Submit")" class="review-submit-btn" />
                    }
                    else
                    {
                        <input type="button" value="@T("RatingReview.ReviewText.Button.SubmitandContinue")" class="review-sub-con-btn" />
                    }

                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //bk js
        //$('.like-review-btn').bind('click', function () {
        //    $(this).addClass('like-review-btn-selected');
        //    $('#hdSelectedReviewOptions').val('');
        //    $('.like-review-btn-selected').each(function () {
        //        $('#hdSelectedReviewOptions').val($('#hdSelectedReviewOptions').val() + $(this).val() + ',');
        //    });
        //});
        //$('.dislike-review-btn').bind('click', function () {
        //    $(this).addClass('dislike-review-btn-selected');
        //    $('#hdDisLikedReviewOptions').val('');
        //    $('.dislike-review-btn-selected').each(function () {
        //        $('#hdDisLikedReviewOptions').val($('#hdDisLikedReviewOptions').val() + $(this).val() + ',');
        //    });
        //});
        //--bk js

        $("#dv-rating-review-popup .close").bind('click', function () {
            $('#dv-rating-review-container').hide();
            $('#chkIsNotInterested').prop('checked', true);
            //saveRatingReview();
            $("#rat-rev-" + $("#hdOrderId").val()).hide();
        });
        //$('.like-btn').bind('click', function () {
        //    $(this).addClass('like-btn-selected');
        //    $('.dis-like-btn').removeClass('dis-like-btn-selected');
        //    $('.review-skip-btn').prop('disabled', true);
        //    $('.review-sub-con-btn').prop('disabled', false);
        //    $('#chkLike').prop('checked', true);
        //    $('#dv-review-options').hide();
        //    $('#dv-additional-note').hide();
        //});
        //$('.dis-like-btn').bind('click', function () {
        //    $(this).addClass('dis-like-btn-selected');
        //    $('.like-btn').removeClass('like-btn-selected');
        //    $('.review-skip-btn').prop('disabled', true);
        //    $('.review-sub-con-btn').prop('disabled', false);
        //    $('#chkLike').prop('checked', false);
        //    $('#dv-review-options').show();
        //    $('#dv-additional-note').show();
        //});
        $('.review-option-btn').bind('click', function () {
            if ($(this).hasClass("review-option-btn-selected"))
                $(this).removeClass('review-option-btn-selected');
            else
                $(this).addClass('review-option-btn-selected');
            $('#hdSelectedReviewOptions').val('');
            $('.review-option-btn-selected').each(function () {
                $('#hdSelectedReviewOptions').val($('#hdSelectedReviewOptions').val() + $(this).val() + ',');
            });
        });
        $('.review-sub-con-btn').bind('click', function () {
            $('#vld-review-options').hide();
            //if (!$('#chkLike').is(':checked') && $('#hdReviewOptions').val() != '' && $('#hdSelectedReviewOptions').val() == '') {
            //    $('#vld-review-options').show();
            //    return false;
            //}
            saveRatingReview();
        });
        $('.review-skip-btn').bind('click', function () {
            $('#chkIsSkipped').prop('checked', true);
            saveRatingReview();
        });
        $('.review-submit-btn').bind('click', function () {
            var isValid = true;
            $('#vld-item-rating').hide();
            $('.chk-rating').each(function () {
            if (!$(this).is(':checked')) {
                $('#vld-item-rating').show();
                isValid = false;
                }
            });
            if (isValid) {
                saveItemRatingReview();
            }
        });

        $('.img-rating').bind('click', function () {
            var arrId = this.id.split('-');
            setrating(arrId[1], arrId[2]);
            $('.review-skip-btn').prop('disabled', true);
        });

        var setrating = function (id, rat) {
            $('#chk-rating-'+id).prop('checked', true);
            $('#rating-' + id).val(rat);
            if ($('#hdRating').length > 0) {
                $('#hdRating').val(rat);
            }
            for (var i = 1; i <= 5; i++)
            {
                var imgId = '#rating-' + id + '-' + i + '';
                if (i <= parseInt(rat)) {
                    $(imgId).prop('src', '/Themes/MicroShipping/Content/img/rating2.png');
                }
                else {
                    $(imgId).prop('src', '/Themes/MicroShipping/Content/img/rating1.png');
                }
                }
        }
        var saveRatingReview = function () {
            displayAjaxLoading(true);
              $.ajax({
                cache: false,
                url: '@(storeLocation)ratingreview/saveratingreview/',
                data: $('#rating-review-form').serialize(),
                        type: 'post',
                  success: function (response) {
                        if (response.success) {
                            if (response.html == '') {
                                $("#rat-rev-" + $("#hdOrderId").val()).hide();
                                $("#rat_rev_btn" + $("#hdOrderId").val()).hide();
                            }
                            $('#dv-rating-review-container').html(response.html);
                        }
                        else {
                            alert('An error occurred');
                        }
                        },
                        error: function () {
                            alert('An error occurred');
                        },
                        complete: function () {
                            displayAjaxLoading(false);
                        }
                    });
        }
        var saveItemRatingReview = function () {
            displayAjaxLoading(true);
              $.ajax({
                cache: false,
                url: '@(storeLocation)ratingreview/saveitemratingreview/',
                data: $('#rating-review-form').serialize(),
                        type: 'post',
                    success: function (response) {
                        if (response.success) {
                            if (response.allreviewsubmitted) {
                                $("#rat_rev_btn" + $("#hdOrderId").val()).hide();
                            }

                            if (response.allItemReviewSubmited) {
                                $("#dv-rating-review-popup").hide();
                                $("#rat-rev-" + $("#hdOrderId").val()).hide();
                                $('#dv-rating-review-container').html('');
                            } else {
                                $('#dv-rating-review-container').html(response.html);
                                if (response.html == '') {
                                    $("#rat-rev-" + $("#hdOrderId").val()).hide();
                                }
                            }
                        }
                        else {
                            alert('An error occurred');
                        }
                        },
                        error: function () {
                            alert('An error occurred');
                        },
                        complete: function () {
                            displayAjaxLoading(false);
                        }
                    });
        }
    });
</script>
<script type="text/javascript">
    //$('.review-sub-con-btn').prop('disabled', true);
    $('.review-skip-btn').prop('disabled', false);
    $("#dv-rating-review-popup").show();
    displayAjaxLoading(false);
</script>