﻿@model DynamicSQLQueryResultSearchModel

@using Nop.Core;

@{
    var dynamicDataSourceEntityType = (DynamicDataSourceEntityType)Model.DynamicDataSourceEntityTypeId;

    var uniqueId = CommonHelper.GenerateRandomDigitCode(9);
}

<div id="@uniqueId">

    @Html.HiddenFor(model => model.RawSQLQuery)
    @Html.HiddenFor(model => model.ShouldReturnResultOnEmptySQLQuery)

    <div class="dynamic-sql-query-result-grid"></div>

    <script>
    $(document).ready(function () {
        $("#@uniqueId .dynamic-sql-query-result-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("DynamicSQLQueryResult", "DynamicDataSourceAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: function() {
                            var data = {
                                DynamicDataSourceEntityTypeId: @(Model.DynamicDataSourceEntityTypeId),
                                RawSQLQuery: $('#@uniqueId #@Html.IdFor(model => model.RawSQLQuery)').val(),
                                ShouldReturnResultOnEmptySQLQuery: $('#@uniqueId #@Html.IdFor(model => model.ShouldReturnResultOnEmptySQLQuery)').val(),
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(Model.PageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(Model.AvailablePageSizes)],
                @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
            },
            editable: {
                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                mode: "inline"
            },
            scrollable: false,
            columns: [
            @{
                switch (dynamicDataSourceEntityType)
                {
                    case DynamicDataSourceEntityType.BlogPost:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "Title",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Title")"
                                },
                                {
                                    field: "LanguageName",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Language")"
                                },
                                {
                                    field: "StartDate",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.StartDate")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "EndDate",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.EndDate")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "CreatedOn",
                                    title: "@T("Admin.ContentManagement.Blog.BlogPosts.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Blog/BlogPostEdit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                        case DynamicDataSourceEntityType.Category:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "Breadcrumb",
                                    title: "@T("Admin.Catalog.Categories.Fields.Name")"
                                },
                                {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.Categories.Fields.Published")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "DisplayOrder",
                                    title: "@T("Admin.Catalog.Categories.Fields.DisplayOrder")",
                                    width: 150
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Category/Edit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                        case DynamicDataSourceEntityType.Customer:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "Email",
                                    title: "@T("Admin.Customers.Customers.Fields.Email")",
                                    width: 200
                                },
                                {
                                    field: "FullName",
                                    title: "@T("Admin.Customers.Customers.Fields.FullName")",
                                    width: 200
                                }, {
                                    field: "CustomerRoleNames",
                                    title: "@T("Admin.Customers.Customers.Fields.CustomerRoles")",
                                    width: 200
                                },
                                {
                                    field: "Company",
                                    title: "@T("Admin.Customers.Customers.Fields.Company")",
                                    width: 200
                                },
                                {
                                    field: "Phone",
                                    title: "@T("Admin.Customers.Customers.Fields.Phone")",
                                    width: 200
                                },
                                {
                                    field: "ZipPostalCode",
                                    title: "@T("Admin.Customers.Customers.Fields.ZipPostalCode")",
                                    width: 200
                                },
                                {
                                    field: "Active",
                                    title: "@T("Admin.Customers.Customers.Fields.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "CreatedOn",
                                    title: "@T("Admin.Customers.Customers.Fields.CreatedOn")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "LastActivityDate",
                                    title: "@T("Admin.Customers.Customers.Fields.LastActivityDate")",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Customer/Edit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                        case DynamicDataSourceEntityType.Manufacturer:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "Name",
                                    title: "@T("Admin.Catalog.Manufacturers.Fields.Name")"
                                },
                                {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.Manufacturers.Fields.Published")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "DisplayOrder",
                                    title: "@T("Admin.Catalog.Manufacturers.Fields.DisplayOrder")",
                                    width: 150
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Manufacturer/Edit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                        case DynamicDataSourceEntityType.Product:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "PictureThumbnailUrl",
                                    title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                    template: '<img src="#=PictureThumbnailUrl#" />',
                                    width: 100
                                },
                                {
                                    field: "Name",
                                    title: "@T("Admin.Catalog.Products.Fields.Name")",
                                    width: 300
                                },
                                {
                                    field: "Sku",
                                    title: "@T("Admin.Catalog.Products.Fields.Sku")",
                                    width: 100
                                },
                                {
                                    field: "Price",
                                    title: "@T("Admin.Catalog.Products.Fields.Price")",
                                    width: 150,
                                    //if not a grouped product, then display
                                    template: "# if(ProductTypeId != @((int) ProductType.GroupedProduct)) {# #:Price# #}  #"
                                },
                                {
                                    field: "StockQuantityStr",
                                    title: "@T("Admin.Catalog.Products.Fields.StockQuantity")",
                                    width: 100
                                },
                                {
                                    field: "ProductTypeName",
                                    title: "@T("Admin.Catalog.Products.Fields.ProductType")",
                                    width: 100
                                },
                                {
                                    field: "Published",
                                    title: "@T("Admin.Catalog.Products.Fields.Published")",
                                    width: 100,
                                    template: '# if(Published) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Product/Edit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                        case DynamicDataSourceEntityType.Vendor:
                        {
                            <text>
                                {
                                    field: "Id",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" }
                                },
                                {
                                    field: "Name",
                                    title: "@T("Admin.Vendors.Fields.Name")",
                                    width: 300
                                },
                                {
                                    field: "Email",
                                    title: "@T("Admin.Vendors.Fields.Email")",
                                    width: 300
                                },
                                {
                                    field: "Active",
                                    title: "@T("Admin.Vendors.Fields.Active")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                },
                                {
                                    field: "Id",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Vendor/Edit/")#=Id#" target="_blank"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                                }
                            </text>
                            break;
                        }
                    default:
                        break;
                }
            }
         ]
        });
    });
    </script>
</div>