@model CustomerRoleModel
@using Nop.Core.Domain.NB.Merchant

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.OverrideTaxDisplayType)").click(toggleTaxDisplayType);
        toggleTaxDisplayType();

        toggleRemoveButton();

        $("#@Html.IdFor(model => model.UserGroupId)").change(toggleMerchantPanel);
        toggleMerchantPanel();
    });

    function toggleTaxDisplayType() {
        if ($('#@Html.IdFor(model => model.OverrideTaxDisplayType)').is(':checked')) {
            $('#pnlDefaultTaxDisplayType').show();
        } else {
            $('#pnlDefaultTaxDisplayType').hide();
        }
    }

    function toggleRemoveButton() {
        if ($('#@Html.IdFor(model => model.PurchasedWithProductId)').val() > 0) {
            $('#purchased-with-product-name-remove').show();
        } else {
            $('#purchased-with-product-name-remove').hide();
        }
    }

    function toggleMerchantPanel() {
        if ($('#@Html.IdFor(model => model.UserGroupId)').val() == "@((int)UserGroups.Business)") {
            $('#merchantPanel').show();
        } else {
            $('#merchantPanel').hide();
        }
    }
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="UserGroupId" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="UserGroupId" asp-items="Model.AvailableUserGroups" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="Name">@T("NB.Admin.Configuration.Roles.Fields.RoleName")</label>
                                <div title="@T("NB.Admin.Configuration.Roles.Fields.RoleName.Hint")" data-toggle="tooltip" class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label" for="SystemName">@T("NB.Admin.Configuration.Roles.Fields.RoleSystemName")</label>
                                <div title="@T("NB.Admin.Configuration.Roles.Fields.RoleSystemName.Hint")" data-toggle="tooltip" class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SystemName" asp-required="true" />
                            <span asp-validation-for="SystemName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PhoneNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PhoneNumber" asp-required="true" />
                            <span asp-validation-for="PhoneNumber"></span>
                        </div>
                    </div>
                    <div id="merchantPanel">
                        <div class="form-group" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-3">
                                <nop-label asp-for="SelectedStoreId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SelectedStoreId" asp-items="Model.AvailableStores" />
                            </div>
                        </div>
                        <div id="merchantsSelectedItems">
                            @await Html.PartialAsync("_StoreAndMerchants", Model)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Active" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Active" />
                            <span asp-validation-for="Active"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $("#@Html.IdFor(model => model.SelectedStoreId)").change(function () {
        var selectedItem = $(this).val();
        $.ajax({
        cache: false,
            type: "GET",
            url: "/Admin/NBRole/LoadStoreVendors",
            data: {
                "storeId": selectedItem,
                "customerRoleId": "@Model.Id"
                },
            success: function (dataResponse) {
                if (dataResponse.success) {
                    if (dataResponse.merchantSelectedList) {
                        $("#merchantsSelectedItems").html(dataResponse.merchantSelectedList);
                    }
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve merchants.');
            }
        });

    });
 });
</script>
@if (Html.ViewData.ModelState.IsValid)
{
    //for T6048
    <script>
    $(document).ready(function () {
     //trigger to load selected store vendors
    $("#@Html.IdFor(model => model.SelectedStoreId)").trigger("change");
    });
    </script>
}