﻿@model AddressModel
@using Nop.Core
@inject IStoreContext storeContext
@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<input asp-for="Id" type="hidden" />
<div class="edit-address">
    <div class="inputs">
        <label asp-for="FirstName" asp-postfix=":"></label>
        <input asp-for="FirstName" />
        <nop-required />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="inputs">
        <label asp-for="LastName" asp-postfix=":"></label>
        <input asp-for="LastName" />
        <nop-required />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="inputs">
        <label asp-for="Email" asp-postfix=":"></label>
        <input asp-for="Email" />
        <nop-required />
        <span asp-validation-for="Email"></span>
    </div>
    @if (Model.CompanyEnabled)
    {
        <div class="inputs">
            <label asp-for="Company" asp-postfix=":"></label>
            <input asp-for="Company" />
            @if (Model.CompanyRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="Company"></span>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="inputs">
            <label asp-for="CountryId" asp-postfix=":"></label>
            <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
            <nop-required />
            <span asp-validation-for="CountryId"></span>
        </div>
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="inputs">
            <label asp-for="StateProvinceId" asp-postfix=":"></label>
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId"></span>
        </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="inputs" style="display:none">
            <label asp-for="City" asp-postfix=":"></label>
            <input asp-for="City" />
            @if (Model.CityRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="City"></span>
        </div>
    }
    @*@if (Model.StreetAddress2Enabled)
        {*@
    <div class="inputs">
        <label asp-for="Address2" asp-postfix=":">Area / Locality</label>
        <input asp-for="Address2" />
        @*@if (Model.StreetAddress2Required)
            {*@
        <nop-required />
        @*}*@
        <span asp-validation-for="Address2"></span>
    </div>
    @*}*@
    @*@if (Model.StreetAddressEnabled)
        {*@
    <div class="inputs">
        <label asp-for="Address1" asp-postfix=":">Complete Address</label>
        <input asp-for="Address1" />
        @*@if (Model.StreetAddressRequired)
            {*@
        <nop-required />
        @*}*@
        <span asp-validation-for="Address1"></span>
    </div>
    @*}*@

    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="inputs" style="display:none">
            <label asp-for="ZipPostalCode" asp-postfix=":"></label>
            <input asp-for="ZipPostalCode" />
            @if (Model.ZipPostalCodeRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="ZipPostalCode"></span>
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="inputs">
            <label asp-for="ISDId" asp-postfix=":"></label>
            <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
            <nop-required />
            <span asp-validation-for="ISDId"></span>
        </div>
        <div class="inputs">
            <label asp-for="PhoneNumber" asp-postfix=":"></label>
            <input asp-for="PhoneNumber" />
            @if (Model.PhoneRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="inputs">
            <label asp-for="FaxNumber" asp-postfix=":"></label>
            <input asp-for="FaxNumber" />
            @if (Model.FaxRequired)
            {
                <nop-required />
            }
            <span asp-validation-for="FaxNumber"></span>
        </div>
    }
    @if (Model.CustomAddressAttributes.Count > 0)
    {
        @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
    }
</div>


<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('BillingNewAddress_Address2')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        // Set initial restrict to the greater list of countries.
        autocomplete.setComponentRestrictions(
            { 'country': ['nz'] });

    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //document.getElementById("address_attribute_2").value = place.geometry.location;
        //Added By Mah
        //var address1 = place.formatted_address;
        var latitude = place.geometry.location.lat();
        var longitude = place.geometry.location.lng();
        var latlng = new google.maps.LatLng(latitude, longitude);        
        var geocoder = geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[0]) {
                    //var address2 = results[0].formatted_address;
                    var pin = results[0].address_components[results[0].address_components.length - 1].long_name;
                    var country = results[0].address_components[results[0].address_components.length - 2].long_name;
                    var state = results[0].address_components[results[0].address_components.length - 3].long_name;
                    var city = results[0].address_components[results[0].address_components.length - 4].long_name;
                    //alert(country);
                    //document.getElementById('BillingNewAddress_CountryId').value = "United Kingdom";
                    //var s = document.getElementById('BillingNewAddress_CountryId');
                    //s.options[1].selected = true;
                    //document.getElementById('BillingNewAddress_CountryId').onchange();
                    //alert(state);
                    //document.getElementById('BillingNewAddress_StateProvinceId').value = state;
                    var textToFind = state;

                    var dd = document.getElementById('BillingNewAddress_StateProvinceId');
                    for (var i = 0; i < dd.options.length; i++) {
                        if (dd.options[i].text === textToFind) {
                            dd.selectedIndex = i;
                            break;
                        }
                    }

                    document.getElementById('BillingNewAddress_City').value = city;
                    document.getElementById('BillingNewAddress_ZipPostalCode').value = pin;
                }
            }
        });

    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
   
</script>
<style>
    #autoComError {
        display: none;
        font-size: 12px;
        color: #ff0000;
        padding: 0 0 0 18px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&libraries=places&callback=initAutocomplete" async defer></script>
