﻿@model SMSMessageTemplateSearchModel

@{
    Layout = Constants.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.SMSMessageTemplate");

    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.Manage").Text;
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.Manage")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="Text" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="Text" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="NotificationType" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="NotificationType" asp-items="Model.AvailableNotificationTypes" />
                                    <span asp-validation-for="NotificationType"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="IsActive" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="IsActive" asp-items="Model.AvailableActiveStates" />
                                    <span asp-validation-for="IsActive"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-smsmessagetemplate" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="smsmessagetemplate-grid"></div>

                    <script>
                        $(document).ready(function() {
                            $("#smsmessagetemplate-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "SMSMessageTemplateAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    Text: $('#@Html.IdFor(model => model.Text)').val(),
                                                    NotificationType:$('#@Html.IdFor(model => model.NotificationType)').val(),
                                                    IsActive:$('#@Html.IdFor(model => model.IsActive)').val(),
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "NotificationTypeStr",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.NotificationType")",
                                        width: 150
                                    }, {
                                        field: "Text",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.Text")",
                                        width: 150,
                                    },{
                                        field: "IsActive",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.IsActive")",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "#if(IsActive){#<i class='fa fa-check true-icon'></i>#}else{#<i class='fa fa-close false-icon'></i>#}#"

                                    },  {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {
                            //search button
                            $('#search-smsmessagetemplate').click(function() {
                                //search
                                var grid = $('#smsmessagetemplate-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.IdFor(model => model.Text)").keydown(function(event) {
                                if (event.keyCode == 13) {
                                    $("#search-smsmessagetemplate").click();
                                    return false;
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
