﻿@model OrderModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Catalog;

<div class="panel-body">
    @if (!string.IsNullOrEmpty(Model.CheckoutAttributeInfo))
    {
        <div class="form-group">
            <div class="col-md-12"> 
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dataTables_scroll">
                                <div class="dataTables_scrollHead" >
                                    <div class="dataTables_scrollHeadInner" style="overflow: auto;">
                                        <table class="table table-bordered table-hover table-striped dataTable no-footer" style="border-bottom: 1px solid #e3e3e3 " >
                                            <thead>
                                                <tr>
                                                    <th class="cart-total-left">
                                                        <label>@T("Product.Link")</label>
                                                    </th>
                                                    <th class="cart-total-right">
                                                        <label>@T("Admin.CurrentCarts.Quantity")</label>
                                                    </th>
                                                    <th class="cart-total-right">
                                                        <label>@T("Product.Specification")</label>
                                                    </th>
                                                </tr>
                                            </thead>
                                            @{string[] products = Model.CheckoutAttributeInfo.Split("||");
                                            }
                                            @for (var prod = 0; prod < products.Length; prod++)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span>@products[prod].Split("^^")[0]</span>
                                                        </td>
                                                        <td>
                                                            <span>@products[prod].Split("^^")[1]</span>
                                                        </td>
                                                        <td>
                                                            <span>@products[prod].Split("^^")[2]</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>
        </div>
    }
</div>
