﻿@model AgentEarningSearchModel

@inject IStoreService storeService
@using Nop.Services.Stores

@{
    //page title
    ViewBag.Title = T("Admin.AgentEarning").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AgentEarning");
}

@{
    const string hideSearchBlockAttributeName = "AgentEarningPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<form asp-controller="Report" asp-action="AgentEarningList" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.AgentEarning")
        </h1>
        
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="BillingEmail" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="BillingEmail" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="OrderStatusIds" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="OrderStatusIds" asp-items="Model.AvailableOrderStatuses" asp-multiple="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="GoDirectlyToCustomOrderNumber" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-short">
                                                <nop-editor asp-for="GoDirectlyToCustomOrderNumber" />
                                                <span class="input-group-btn">
                                                    <button type="submit" id="go-to-order-by-number" name="go-to-order-by-number" class="btn btn-info btn-flat">
                                                        @T("Admin.Common.Go")
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableVendors.SelectionIsNotPossible() || Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="VendorId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="AgentId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="AgentId" asp-items="Model.AvailableAgents" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-orders" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header clearfix summaryHead">
                    <h1 class="pull-left">@T("Admin.AgentEarning.Summary")</h1>
                </div>
                <div class="panel panel-default summaryBox">
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("Admin.AgentEarning.TotalOrders")</div>
                        <span class="summaryAmnt" id="spOrders"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("Admin.AgentEarning.TotalAmount")</div>
                        <span class="summaryAmnt" id="spAmount"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("Admin.AgentEarning.ReceivedAmount")</div>
                        <span class="summaryAmnt" id="spReceivedAmount"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("Admin.AgentEarning.PaidAmount")</div>
                        <span class="summaryAmnt" id="spPaidAmount"></span>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5" id="dv-details">

                        </div>
                    </div>
                    <div class="panel-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "orders-grid",
                                UrlRead = new DataUrl("AgentEarningOrderList", "Report", null),
                                UrlUpdate = new DataUrl("AgentEarningUpdate", "Report", null),
                                SearchButtonId = "search-orders",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                FooterCallback = !Model.IsLoggedInAsVendor ? "ordersfootercallback" : null,
                                Filters = new List<FilterParameter>
                                                                                {
                                                    new FilterParameter(nameof(Model.StartDate)),
                                                    new FilterParameter(nameof(Model.EndDate)),
                                                    new FilterParameter(nameof(Model.OrderStatusIds)),
                                                    new FilterParameter(nameof(Model.PaymentStatusIds)),
                                                    new FilterParameter(nameof(Model.ShippingStatusIds)),
                                                    new FilterParameter(nameof(Model.StoreId)),
                                                    new FilterParameter(nameof(Model.VendorId)),
                                                    new FilterParameter(nameof(Model.WarehouseId)),
                                                    new FilterParameter(nameof(Model.BillingEmail)),
                                                    new FilterParameter(nameof(Model.BillingPhone)),
                                                    new FilterParameter(nameof(Model.BillingLastName)),
                                                    new FilterParameter(nameof(Model.BillingCountryId)),
                                                    new FilterParameter(nameof(Model.PaymentMethodSystemName)),
                                                    new FilterParameter(nameof(Model.ProductId)),
                                                    new FilterParameter(nameof(Model.OrderNotes)),
                                                    new FilterParameter(nameof(Model.AgentId))
                                                }
                            };
                            gridModel.ColumnCollection = new List<ColumnProperty>
                                                                            {
                                                new ColumnProperty(nameof(AgentEarningModel.CustomOrderNumber))
                                                {
                                                    Title = T("Admin.AgentEarning.Fields.CustomOrderNumber").Text,
                                                    Width = "80",
                                    Render = new RenderCustom("renderCustomOrderNumber")
                                                }
                                            };
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.CustomerName))
                            {
                                Title = T("Admin.AgentEarning.Fields.CustomerName").Text,
                                Width = "80"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.AgentName))
                            {
                                Title = T("Admin.AgentEarning.Fields.AgentName").Text,
                                Width = "80"
                            });

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.OrderStatus))
                            {
                                Title = T("Admin.AgentEarning.Fields.OrderStatus").Text,
                                Width = "100",
                                Render = new RenderCustom("renderColumnOrderStatus")
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.PaymentStatus))
                            {
                                Title = T("Admin.AgentEarning.Fields.PaymentStatus").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.ItemCost))
                            {
                                Title = T("Admin.AgentEarning.Fields.ItemCost").Text,
                                Width = "50"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.DeliveryFee))
                            {
                                Title = T("Admin.AgentEarning.Fields.DeliveryFee").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.Tip))
                            {
                                Title = T("Admin.AgentEarning.Fields.Tip").Text,
                                Width = "50"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.PayableAmount))
                            {
                                Title = T("Admin.AgentEarning.Fields.PayableAmount").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.PaidAmount))
                            {
                                Title = T("Admin.AgentEarning.Fields.PaidAmount").Text,
                                Width = "100",
                                Editable = true,
                                EditType = EditType.Number,
                                Render = new RenderCustom("renderCustomPaidAmount")
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.AssignedAgentId))
                            {
                                Visible = false
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.PayableAmountValue))
                            {
                                Visible = false
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(AgentEarningModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "50",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            });
                        }

                        @await Html.PartialAsync("Table", gridModel)

                        <script>
                            function renderColumnOrderStatus(data, type, row, meta) {
                                var color;
                                switch (row.OrderStatusId) {
                                case 10:
                                    color = 'yellow';
                                    break;
                                case 20:
                                    color = 'blue';
                                    break;
                                case 30:
                                    color = 'green';
                                    break;
                                case 40:
                                    color = 'red';
                                    break;
                                }
                                return '<span class="grid-report-item ' + color + '">' + data + '</span >';
                            }

                            function renderCustomOrderNumber(data, type, row, meta) {
                                return '' + row.CustomOrderNumber + ''
                                    //<br />< a onclick = "javascript:OpenWindow(\'/Tracking/OrderTrack.html?OrderId='+row.OrderGuid+'\', 800, 320, true); return false;" href = "javascript:void(0);" > Live Track </a > <br /> <a href="/Admin/Order/PdfInvoice?orderId='+row.CustomOrderNumber+'"> Print </a> ';
                            }

                            function renderCustomPaidAmount(data, type, row, meta) {
                                return '' + row.PaidAmmountStr + ''
                            }

                            $(document).ready(function() {
                                $("#@Html.IdFor(model => model.GoDirectlyToCustomOrderNumber)").keydown(
                                    function(event) {
                                        if (event.keyCode === 13) {
                                            $("#go-to-order-by-number").click();
                                            return false;
                                        }
                                    });
                            });
                            function ordersfootercallback(tfoot, data, start, end, display) {
                                //update order totals summary
                                var postData = {
                                    StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                    EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                    OrderStatusIds: $('#@Html.IdFor(model => model.OrderStatusIds)').val(),
                                    PaymentStatusIds: $('#@Html.IdFor(model => model.PaymentStatusIds)').val(),
                                    ShippingStatusIds: $('#@Html.IdFor(model => model.ShippingStatusIds)').val(),
                                    StoreId: $('#@Html.IdFor(model => model.StoreId)').val(),
                                    VendorId: $('#@Html.IdFor(model => model.VendorId)').val(),
                                    AgentId: $('#@Html.IdFor(model => model.AgentId)').val(),
                                    WarehouseId: $('#@Html.IdFor(model => model.WarehouseId)').val(),
                                    BillingEmail: $('#@Html.IdFor(model => model.BillingEmail)').val(),
                                    BillingPhone: $('#@Html.IdFor(model => model.BillingPhone)').val(),
                                    BillingLastName: $('#@Html.IdFor(model => model.BillingLastName)').val(),
                                    BillingCountryId: $('#@Html.IdFor(model => model.BillingCountryId)').val(),
                                    PaymentMethodSystemName: $('#@Html.IdFor(model => model.PaymentMethodSystemName)').val(),
                                    ProductId: $('#@Html.IdFor(model => model.ProductId)').val(),
                                    OrderNotes: $('#@Html.IdFor(model => model.OrderNotes)').val()
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("AgentEarningAmountDetails", "Report"))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        console.log(data);
                                        if (data) {
                                            $("#spOrders").html(data.Orders);
                                            $("#spAmount").html(data.Amount);
                                            $("#spReceivedAmount").html(data.ReceivedAmount);
                                            $("#spPaidAmount").html(data.PaidAmount);
                                        }
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
