﻿@model DailySalesSearchModel

@using Nop.Core.Domain.Catalog;

@{
    //page title
    ViewBag.Title = T("Admin.Reports.DailySales").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DailySales");
}

@{
    const string hideSearchBlockAttributeName = "DailySales.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}


<form asp-controller="Report" asp-action="DailySales" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Reports.DailySales")
        </h1>
        <div class="pull-right">

            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">

                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.All")
                        </button>
                    </li>

                </ul>
            </div>

        </div>

    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @*<div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-dailysalesreport" class="btn btn-primary btn-search">
                                        <i class="fa fa-line-chart"></i>
                                        @T("Admin.Reports.DailySales.RunReport")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "dailysalesreport-grid",
                       UrlRead = new DataUrl("DailySalesList", "Report", null),
                       SearchButtonId = "search-dailysalesreport",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.StartDate)),
                                new FilterParameter(nameof(Model.EndDate))
                            },
                       ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(DailySalesModel.ProductName))
                            {
                                Title = T("Admin.Reports.DailySales.Fields.Name").Text
                            },
                            new ColumnProperty(nameof(DailySalesModel.ProductPrice))
                            {
                                Title = T("Admin.Catalog.Products.Fields.Price").Text
                            },
                            new ColumnProperty(nameof(DailySalesModel.TotalQuantity))
                            {
                                Title = T("Admin.Reports.DailySales.Fields.TotalQuantity").Text
                            },
                            new ColumnProperty(nameof(DailySalesModel.TotalAmount))
                            {
                                Title = T("Admin.Reports.DailySales.Fields.TotalAmount").Text
                            }
                        }
                   })
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
