﻿@model DynamicSQLQueryBuilderModel

@using Nop.Core;

@{
    Html.AddCssFileParts($"{Constants.PluginAdminStylesPath}/QueryBuilder/query-builder.css");
    Html.AddCssFileParts($"{Constants.PluginAdminStylesPath}/QueryBuilder/query-builder.default.min.css");
    Html.AddCssFileParts($"{Constants.PluginAdminStylesPath}/QueryBuilder/bootstrap-datepicker3.min.css");

    Html.AddScriptParts($"{Constants.PluginAdminScriptsPath}/QueryBuilder/query-builder.standalone.min.js");
    Html.AddScriptParts($"{Constants.PluginAdminScriptsPath}/QueryBuilder/sql-parser.min.js");
    Html.AddScriptParts($"{Constants.PluginAdminScriptsPath}/QueryBuilder/interact.min.js");
    Html.AddScriptParts($"{Constants.PluginAdminScriptsPath}/QueryBuilder/bootstrap-datepicker.min.js");

    var sqlQueryWithoutSortClause = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model.RawSQLQuery))
    {
        var sortClauseIndex = Model.RawSQLQuery.IndexOf("ORDER BY");
        if (sortClauseIndex > 0)
        {
            sqlQueryWithoutSortClause = Model.RawSQLQuery.Substring(0, sortClauseIndex);
        }
    }

    var uniqueId = CommonHelper.GenerateRandomDigitCode(9);
}

<script type="text/javascript">
    $(function() {
        var filters = @Html.Raw(Model.Filters);

        var rules = {
            condition: 'AND',
            rules: []
        };

        var jqueryQueryBuilder = $('#@uniqueId #jquery-query-builder').queryBuilder({
            plugins:
                [
                    'sortable',
                    'bt-checkbox',
                    'invert',
                    'filter-description'
                ],
            filters: filters,
            rules: rules,
            allow_empty: true,
            display_empty_filter: false,
            sort_filters: true,
            icons: {
                add_group: 'fa fa-plus-square',
                add_rule: 'fa fa-plus-circle',
                remove_group: 'fa fa-minus-square',
                remove_rule: 'fa fa-minus-circle',
                error: 'fa fa-exclamation-triangle',
                sortable: 'fa fa-exclamation-triangle'
            }
        });

        @if (!string.IsNullOrWhiteSpace(sqlQueryWithoutSortClause))
        {
            <text>
                jqueryQueryBuilder.queryBuilder('setRulesFromSQL', "@Html.Raw(sqlQueryWithoutSortClause)");
            </text>
        }

        // Fix for Bootstrap Datepicker
        jqueryQueryBuilder.on('afterUpdateRuleValue.queryBuilder', function (e, rule) {
            if (rule.filter.plugin === 'datepicker')
                rule.$el.find('.rule-value-container input').datepicker('update');
        });

        var convertJQuerySortQueryToSQLSortQuery = function (query) {
            if (query != null)
                return " " + "ORDER BY" + " " + query.replace(/ AND /g, ", ").replace(/IS NOT NULL/g, "DESC").replace(/IS NULL/g, "ASC").replace(/  /g, " ");

            return query;
        }

        //Global function
        window.validateQueryBuilders = function () {
            if (jqueryQueryBuilder.queryBuilder('validate') && $('#@uniqueId #jquery-sort-query-builder').queryBuilder('validate'))
                return true;

            return false;
        }

        //Global function
        window.getSQL = function ()
        {
            var rawSQLQuery = "";

            var sqlQuery = jqueryQueryBuilder.queryBuilder('getSQL');
            var sortSQLQuery = $('#@uniqueId #jquery-sort-query-builder').queryBuilder('getSQL');

            if (sqlQuery != null)
                rawSQLQuery += sqlQuery.sql.replace(/\\'/g, "''");
            if (sortSQLQuery != null)
                rawSQLQuery += convertJQuerySortQueryToSQLSortQuery(sortSQLQuery.sql);

            return rawSQLQuery;
        }

        $('#@uniqueId #apply-filter').on('click', function () {
            if (validateQueryBuilders()) {
                var rawSQLQuery = getSQL();
                $('#@uniqueId #@Html.IdFor(model => model.RawSQLQuery)').val(rawSQLQuery);

                var grid = $('#@uniqueId .dynamic-sql-query-result-grid').data('kendoGrid');
                grid.dataSource.page(1);
            }
        });
    });
</script>

<div id="@uniqueId">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Filters" />
        </div>
        <div class="col-md-9">
            <div id="jquery-query-builder"></div>
        </div>
    </div>

    @await Component.InvokeAsync("DynamicSQLSortQueryBuilderAdmin", new { dynamicDataSourceEntityTypeId = Model.DynamicDataSourceEntityTypeId, rawSQLQuery = Model.RawSQLQuery })

    <div class="form-group">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="button" id="apply-filter" class="btn bg-blue">@T("Resanehlab.Plugin.Core.Admin.DynamicSQLQueryBuilder.ApplyFilter")</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @await Component.InvokeAsync("DynamicSQLQueryResultAdmin", new { dynamicDataSourceEntityTypeId = Model.DynamicDataSourceEntityTypeId, rawSQLQuery = Model.RawSQLQuery, shouldReturnResultOnEmptySQLQuery = true })
        </div>
    </div>
</div>