
@{
    Layout = "_ColumnsOne";
    //page class
    Html.AppendPageCssClassParts("marchengDetails-page");
}
<script src="~/js/public.ajaxcart.js?v=2.0002"></script>
<script src="~/js/public.common.js"></script>
<script src="~/js/public.ajax.filter.js"></script>


<div class="marchengDetails">
    @if (ViewBag.Success != null)
    {
        <div class="modal fade" id="onloadPopup">
            <div class="modal-body">
                <a href="#" rel="modal:close"class="close" data-dismiss="modal">×</a>
                <h2>@T("thanks.booking.text")</h2>
                <p>@T("booking.accepted.text")</p>
                <img src="/Themes/MKSweets/Content/img/thanksYouImg1.png" />
            </div>
        </div>
        <script>
            $(function () {
                $('#onloadPopup').show();
                $('body').addClass('onLPop');
                $('#onloadPopup .close').click(function () {
                    $('#onloadPopup').hide();
                    $('body').removeClass('onLPop');
                });
            });

        </script>
    }
    <!--Custom code added for Rating 26-03-2019 -->
    <div id="dv-rating-review-container">@await Component.InvokeAsync("RatingReview")</div>
    <!--End Custom code added for Rating-->
    <section id="restaurInfoSectionArea" class="restaurInfoSection clearfix">
        <div class="restaurInfoSectionAreaTop">
            <div class="container-fluid">
                <div class="">
                    <div class="col-md-12 hide-sm text-center prodImg imgMerchentHeader" imgMerchentHeader="@ViewBag.VendorPicture">
                    @*<div class="merchentHImg"></div>*@
                    <div class="merchantImage"><img src="../Themes/MKSweets/Content/img/logo.png" /></div></div>
                    <div class="col-md-12 text-center col-sm-12 restorentInfoCont">
                        @await Component.InvokeAsync("MerchantById")
                    </div>
                    @* <div class="col-md-3 col-sm-12 pull-right">
                            @await Component.InvokeAsync("Offers")
                        </div>*@
                </div>
            </div>
        </div>
    </section>

    <div class="searchAndTags">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="searchFilterLeft">
                        <input type="text" name="txtKeywords" placeholder="@T("Items.Filter.Keywords")" />
                    </div>
                </div>
                <div class="col-md-9 pl0">
                    @*Added for tag*@
                   @* @await Component.InvokeAsync("ProductTagsImages")*@
                    @*End Added for tag*@
                </div>
            </div>
        </div>
    </div>

    <div class="foodMenuSectionBg">

        <div class="offers_banner_area">
            @await Component.InvokeAsync("VendorSliderPictures")
           
        </div>
        <section class="menuItemSection clearfix">
            @*    <div class="panel-headings-3">
                    <div class="col-lg-3 col-md-3 category-head">
                        <h3><span>@T("nb.category")</span></h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 product-head">
                        <h3><span>@T("NB.Products")</span></h3>
                    </div>
                    <div class="col-lg-3 col-md-3 basket-head">
                        <h3><span>@T("nb.mybasket")</span></h3>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-lg-3 col-md-3 leftSideCategoryL leftBoxMerchant">
                    <div class="mobileMenuItem">Menu</div>
                    @await Component.InvokeAsync("HomepageCategoriesMerchant")
                </div>
                <div class="menuItemsBlock col-lg-6 col-md-6 col-xs-12 centerBoxMerchant">

                    <div class="heading-product cat ">
                        <p class="head-center">@T("nb.products")</p>
                    </div>
                    <div class="marchentTopFilter">
                        <div class="row">
                            <div class="col-md-12">
                                <!--Added for tag-->
                                @*@await Component.InvokeAsync("ProductTagsImages")*@
                                <!--End Added for tag-->
                                <!--<ul>
                <li><a href="#" class="vegF">Veg</a></li>
                <li><a href="#" class="nvegF">Non-Veg</a></li>
                <li><a href="#" class="gfvegF">Gluten Free</a></li>
                <li><a href="#" class="lfvegF">Lactose Free</a></li>
            </ul>-->
                            </div>
                        </div>
                        @* <div class="row marchentfilterBelow text-center">
            <div class="merchantHeadDropdown">
                <label class="headLabel">@T("Catalog.OrderBy") :</label>
                <select class="headSelect">
                    <option>@T("nb.relevance")</option>
                </select>
            </div>
            <div class="merchantHeadFilter">
                <a href="#"> <img class="full" src="/Themes/MKSweets/Content/img/window-blue.png" /></a>
                <a href="#"> <img class="half" src="/Themes/MKSweets/Content/img/window-grey.png" /></a>
            </div>
        </div>*@
                    </div>
                    <div id="dvItems" class="item-grid">
                        @await Component.InvokeAsync("HomepageProductsMerchant", new { isBestSeller = true , pageNumber = 1, maxPrice = int.MaxValue })

                    </div>

                    @*@await Component.InvokeAsync("HomepageProductsMerchant", new { merchantid = Context.Request.Query["merchantid"].ToString() })*@

                    @*BestSeller Products --Start--*@
                    @*@await Component.InvokeAsync("HomepageBestSellers")*@
                    @*--End--*@
                </div>

                <div class="col-lg-3 col-md-3 checkOutSection clearfix rightBoxMerchant">
                    <div class="checkOutC1">
                        <div class="miniCartRightFilter">
                            <div class="row CartHead">
                                <p class="leftHead"> <img src="/Themes/MKSweets/Content/img/black-bag.png"><span>@T("nb.mybasket")</span></p>
                                <p class="numberOfItems rightText"> <span></span> @T("nb.itemCart")</p>
                            </div>
                        </div>
                        @*    <div class="numberOfItems"> <span></span> @T("cart.item.text")</div><div id="orderSchedule" class="orderScheduleClick" style="display: block;"><i class="fa fa-calendar" aria-hidden="true"></i> @T("scheduleyour.order.text")</div>
                        *@

                        @*<div class="delveryTimeBtn">
                <button type="button" class="active">Delivery</button>
                <button type="button">Collection</button>
            </div> *@
                        @{
                            var prod = TempData["ExpTime"].ToString();
                            var IsDispDelTake = (bool)TempData["IsDelTakeOption"];

                            var UserOrdDelType = false;
                            if (TempData["orderdeltype"] != null)
                            {
                                UserOrdDelType = (bool)TempData["orderdeltype"];
                            }
                            var UserOrdTakeType = true;
                            if (TempData["ordertaketype"] != null)
                            {
                                UserOrdTakeType = (bool)TempData["ordertaketype"];
                            }
                            TempData.Keep("orderdeltype");
                            TempData.Keep("ordertaketype");
                        }
                        @if (@IsDispDelTake)
                        {
                            <div class="delveryTimeBtn">
                                <div>
                                    @Html.RadioButton("UserOrderType", "Delivery", @UserOrdDelType) <label for="UserOrderType"> @T("delivery.button.text")</label>
                                </div>
                                <div>
                                    @Html.RadioButton("UserOrderType", "Takeaway", @UserOrdTakeType) <label for="UserOrderType">@T("takeaway.button.text")</label>
                                </div>
                            </div>
                        }

                        <div class="estTime"><label>Estimated Delivery Time @T("est.deliverytime.text") :</label> <span>@prod</span></div>
                        <div class="checkOutBlock clearfix delivery">
                           @await Component.InvokeAsync("FlyoutShoppingCart") 
                        </div>
                        <div class="cartEmptyBox clearfix text-center" emptyCartImg="/Themes/MKSweets/Content/img/cartBag.png">

                            <p>
                                @T("emptycart.desc.text")
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
 
<section class="newsletterSection">
    <div class="container">
        @await Component.InvokeAsync("NewsletterBox")
    </div>
</section>
@await Component.InvokeAsync("TopicBlock", new { systemName = "ReadyToOrder" })
</div>
<script>
    var cartCount = 0;
    $(".checkOutBlock .itemList .bar").each(function () {
        if (typeof $(this).find('small').html() !== 'undefined') {
            cartCount = cartCount + parseInt($(this).find('small').html());
        }
    });
    $(".miniCartRightFilter .numberOfItems span").html(cartCount);
    $(".headerCart a span").html(cartCount);
    //$(".miniCartRightFilter .numberOfItems span").html($(".checkOutBlock .itemList .bar").length);
    //keywords filter
    $("input:text[name='txtKeywords']").on("keyup", function (e) {
        var key = e.which;
        if (key == 13) {
            AjaxFilter.filterItems();
        }
    });
</script>


