﻿@model StoreModel

    <div class="panel panel-default collapsible-panel" style="padding:10px;" id="dvCountryStates">
        <div class="opened panel-heading" data-hideattribute="CountryStatePage.HideStatesBlock"><div class="icon-container"><i class="fa fa-globe panel-icon"></i></div><span>@T("Admin.Store.CountryState.States")</span><i class="fa-minus toggle-icon fa"></i></div>
        @if (Model.Id > 0)
        {
    <div class="panel-container">
     @await Html.PartialAsync("Table", new DataTablesModel
     {
         Name = "countrystates-grid",
         UrlRead = new DataUrl("CountryStateList", "Store", new RouteValueDictionary { [nameof(Model.CountryStateSearchModel.StoreId)] = Model.CountryStateSearchModel.StoreId, [nameof(Model.CountryStateSearchModel.CountryId)] = Model.CountryStateSearchModel.CountryId }),
         UrlUpdate = new DataUrl("CountryStateUpdate", "Store", null),
         Length = Model.CountryStateSearchModel.PageSize,
         LengthMenu = Model.CountryStateSearchModel.AvailablePageSizes,
         ColumnCollection = new List<ColumnProperty>
             {
                 new ColumnProperty(nameof(CountryStateModel.CountryName))
                 {
                     Title = T("Admin.Store.CountryState.Fields.CountryName").Text
                 },
                 new ColumnProperty(nameof(CountryStateModel.StateName))
                 {
                     Title = T("Admin.Store.CountryState.Fields.StateName").Text
                 },
                 new ColumnProperty(nameof(CountryStateModel.IsActive))
                 {
                     Title = T("Admin.Store.CountryState.Fields.IsActive").Text,
                     Width = "150",
                     ClassName = NopColumnClassDefaults.CenterAll,
                     Editable = true,
                     EditType = EditType.Checkbox,
                     Render=new RenderBoolean()
                 },
                 new ColumnProperty(nameof(CountryStateModel.Id))
                 {
                     Title = T("Admin.Common.Edit").Text,
                     Width = "200",
                     ClassName =  NopColumnClassDefaults.Button,
                     Render = new RenderButtonsInlineEdit()
                 }
             }
     })
    </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewCountryState"
                        onclick="javascript:OpenWindow('@(Url.Action("CountryStateAddPopup", "Store", new { storeId = Model.Id,countryId = Model.CountryId, btnId = "btnRefreshCountrystates", formId = "store-form" }))', 800, 800, true); return false;"
                        class="btn btn-primary">
                    @T("Admin.Store.CountryState.SelectStates")
                </button>
                <input type="submit" id="btnRefreshCountrystates" style="display: none" />
                <script>
                    $(document).ready(function () {
                        $('#btnRefreshCountrystates').click(function () {
                            //refresh grid
                            updateTable('#countrystates-grid');

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        }
        else
        {
            <div class="panel-container">
                @T("Admin.Store.CountryState.SaveBeforeEdit")
            </div>
        }
    </div>

