﻿@model AddStatesToCountrySearchModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Store.CountryState.States.AddNew").Text;
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}
else
{
    <form asp-controller="Store" asp-action="CountryStateAddPopup"
          asp-route-countryId="@Context.Request.Query["countryId"]"
          asp-route-storeId="@Context.Request.Query["storeId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("Admin.Store.CountryState.States.AddNew")
            </h1>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "products-grid",
                                UrlRead = new DataUrl("CountryStateAddPopupList", "Store", new RouteValueDictionary { [nameof(Model.SearchCountryId)] = Model.SearchCountryId }),
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(StateProvinceModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox(nameof(AddStatesToCountryModel.SelectedProductIds)),
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                    },
                                    new ColumnProperty(nameof(StateProvinceModel.Name))
                {
                    Title = T("Admin.Configuration.Countries.States.Fields.Name").Text,
                    Width = "300"
                },
                new ColumnProperty(nameof(StateProvinceModel.Abbreviation))
                {
                    Title = T("Admin.Configuration.Countries.States.Fields.Abbreviation").Text,
                    Width = "150"
                },
                new ColumnProperty(nameof(StateProvinceModel.Published))
                {
                    Title = T("Admin.Configuration.Countries.States.Fields.Published").Text,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                }
                                }
                            })
                        </div>
                        <div class="panel-footer">
                            <button type="submit" name="save" class="btn bg-blue">
                                <i class="fa fa-floppy-o"></i>
                                @T("Admin.Common.Save")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}