﻿@using Nop.Core
@using Nop.Web.Framework.Themes

@inject IThemeContext themeContext
@inject IStoreContext storeContext

@model LogoModel

@{
    var logoPath = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/logo.png";
    var logo2 = Model.LogoPath;// custom by mohini
    var themeLogo = await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_theme_logo" });
            string storeName = storeContext.CurrentStore.Name;

}

<!--<a href="@Url.RouteUrl("HomePage")" class="navbar-brand logo page-scroll">-->
<a href="/" class="navbar-brand logo page-scroll imgin" imgIn="@Model.LogoPath">
    <img src="../Themes/MicroShipping/Content/img/logo_white_english.png" alt="" class="logo_white">
    <img src="../../Themes/MicroShipping/Content/img/logo_white.png" alt="" class="logo_white_checkout">
    <img src="../../Themes/MicroShipping/Content/img/logo_white_arabic.png" alt="" class="logo_white_checkout_arabic">
    <img src="../Themes/MicroShipping/Content/img/logo_white_arabic.png" alt="" class="logo_white_arabic">
    <img src="../Themes/MicroShipping/Content/img/logo_green_arabic.png" alt="" class="logo_green_arabic">
    <img src="@Model.LogoPath" alt="" class="logo_green">
    @if (!String.IsNullOrEmpty(Model.LogoPath))
    {

    }
    else
    {
        @Html.Raw(storeName)
    }
</a>