﻿@model SMSCodeVerificationModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PhoneNumberVerificationAfterRegistration").Text);

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "style.css"));

    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "additional-methods.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "jquery.validate.min.js"));
}

<div class="page account-page phonenumber-verification-after-registration-page">
    <div class="page-title">
        <h1>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PhoneNumberVerificationAfterRegistration")</h1>
    </div>
    <div class="page-body">
        @await Html.PartialAsync(Constants.SMSCodeVerificationPartialViewPath, Model)
    </div>
</div>

@if (TempData["SendingMessageError"] != null)
{
    <script>
        Resanehlab.documentReady(function () {
            alert("@TempData["SendingMessageError"]")
        });
    </script>
}
