﻿@model AccountBillingModel
@inject IWorkContext  workContext

<div class="panel-body">
    <div class="panel panel-default sub-panel">
        <div class="panel-body">

            <div class="col-md-8">
                <div class="row">
                    <table class="table table-hover table-bordered" style="max-width: 500px;">
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <strong>@T("Admin.AccountSubscriptionDetailModel.Fields.SubscriptionDetail")</strong>
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td><nop-label asp-for="AccountSubscriptionDetailModel.PackageName" /></td>
                            <td>@Model.AccountSubscriptionDetailModel.PackageName</td>
                        </tr>
                        <tr>
                            <td><nop-label asp-for="AccountSubscriptionDetailModel.PackagePlanName" /></td>
                            <td>@Model.AccountSubscriptionDetailModel.PackagePlanName</td>
                        </tr>
                        <tr>
                            <td><nop-label asp-for="AccountSubscriptionDetailModel.Validaty" /></td>
                            <td>@Model.AccountSubscriptionDetailModel.Validaty</td>
                        </tr>
                        <tr>
                            <td><nop-label asp-for="AccountSubscriptionDetailModel.NextDueDate" /></td>
                            <td>@Model.AccountSubscriptionDetailModel.NextDueDate</td>
                        </tr>
                        <tr>
                            <td><nop-label asp-for="AccountSubscriptionDetailModel.Amount" /></td>
                            <td>@Model.AccountSubscriptionDetailModel.Amount</td>
                        </tr>
                    </table>
                </div>
                <div class="row">

                    <button type="submit"
                            onclick="javascript:OpenWindow('@(Url.Action("PackageUpdatePopup", "NBAccountsBilling", new { customerId = Model.CustomerId}))', 800, 800, true); return false;"
                            class="btn btn-primary">
                        @T("Admin.AccountSubscriptionDetailModel.Fields.SubscriptionDetail.AddNew")
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
