﻿@model AccountBillingModel
@inject IWorkContext  workContext

<div class="panel-body">
    <div class="panel-body">

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AccountPayoutMethodModel.AccountNumber" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AccountPayoutMethodModel.AccountNumber" />
                <span asp-validation-for="AccountPayoutMethodModel.AccountNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AccountPayoutMethodModel.RoutingNumber" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AccountPayoutMethodModel.RoutingNumber" />
                <span asp-validation-for="AccountPayoutMethodModel.RoutingNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
                <button type="button" id="addPayoutMethod" class="btn btn-primary">@T("NB.Admin.AccountBillings.PayoutMethods.AddButton")</button>
            </div>
        </div>

        <script>
                    $(document).ready(function() {
                        $('#addPayoutMethod').click(function() {
                            var accountNumber = $("#@Html.IdFor(model => model.AccountPayoutMethodModel.AccountNumber)").val();
                            var routingNumber = $("#@Html.IdFor(model => model.AccountPayoutMethodModel.RoutingNumber)").val();

                            if (accountNumber == 0) {
                                $("#addPayoutMethodAlert").click();
                                return;
                            }
                            //$('#addPayoutMethod').attr('disabled', true);
                            var postData = {
                                accountNumber: accountNumber,
                                routingNumber: routingNumber
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("PayoutMethodAdd", "NBAccountsBilling"))",
                                data: postData,
                                success: function (data, textStatus, jqXHR) {
                                    alert(data.message)

                                    console.log(data.message);
                                    if (!data.Result) {
                                        console.log(data);
                                        return;
                                    }       
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $("#PayoutMethodAddAlert").click();
                                },
                                complete: function (jqXHR, textStatus) {
                                    //$('#addPayoutMethod').attr('disabled', false);
                                }
                            });
                        });
                    });
        </script>
    </div>
</div>
<nop-alert asp-alert-id="addPayoutMethodAlert" asp-alert-message="@T("ANB.Admin.AccountBillings.PayoutMethods.AddNew")" />
<nop-alert asp-alert-id="PayoutMethodAddAlert" asp-alert-message="@T("NB.Admin.AccountBillings.PayoutMethods.Error")" />