﻿@model AccountBillingModel
@inject IWorkContext  workContext

<div class="panel-body">
    <div class="panel-body">

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AccountDocumentModel.IdentityProofFront" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AccountDocumentModel.IdentityProofFront" />
                <span asp-validation-for="AccountDocumentModel.IdentityProofFront"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AccountDocumentModel.IdentityProofBack" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AccountDocumentModel.IdentityProofBack" />
                <span asp-validation-for="AccountDocumentModel.IdentityProofBack"></span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
   
</div>