﻿@model AccountBillingModel
@inject IWorkContext  workContext

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="FirstName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FirstName" asp-required="true" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LastName" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LastName" asp-required="true" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="PhoneNumber" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="EmailAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EmailAddress" />
            <span asp-validation-for="EmailAddress"></span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AddressLine1" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AddressLine1" />
                <span asp-validation-for="AddressLine1"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AddressLine2" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AddressLine2" />
                <span asp-validation-for="AddressLine2"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="City" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="City" />
                <span asp-validation-for="City"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="CountryId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="CountryId" asp-items="Model.AvailableCountries" />
                <span asp-validation-for="CountryId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="StateProvinceId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="StateProvinceId" asp-items="Model.AvailableStates" />
                <span asp-validation-for="StateProvinceId"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="ZipCode" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ZipCode" />
                <span asp-validation-for="ZipCode"></span>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.CountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");

                var postData = {
                    countryId: selectedItem,
                    addSelectStateItem: "true"
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
</script>