@model AccountBillingModel
@{
    //page title
    ViewBag.Title = T("NB.Admin.AccountBillings.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("AcountsBillings");
}

<form asp-controller="NBAccountsBilling" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.AccountBillings.Title.MerchantProfile")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("NB.Admin.AccountBillings.Button.Proposal")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("NB.Admin.AccountBillings.Button.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CategoryDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>