﻿@model AccountPackagePaymentUpdateModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Products.AddNew").Text;
}
<form asp-controller="NBAccountsBilling" asp-action="PackageUpdatePopup"
      asp-route-customerId="@Context.Request.Query["customerId"]">
     
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Categories.Products.AddNew")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.PackageId" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="@Model.PackageId" asp-items="Model.AvailablePackages" />
                                        <span asp-validation-for="@Model.PackageId"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.PackagePlanId" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-select asp-for="@Model.PackagePlanId" asp-items="Model.AvailablePackagesPlan" />
                                        <span asp-validation-for="@Model.PackagePlanId"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-footer">
                                    <button type="submit" name="save" class="btn bg-blue">
                                        <i class="fa fa-floppy-o"></i>
                                        @T("Admin.Common.Save")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
     $(document).ready(function () {
            $("#@Html.IdFor(model => model.PackageId)").change(function () {
                var selectedItem = $(this).val();
                var ddlpackages = $("#@Html.IdFor(model => model.PackagePlanId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetPackagePlanByPackageId", "NBAccountsBilling"))",
                    data: {
                        "PackageId": selectedItem,
                        "addSelectStateItem": "false"
                    },
                    success: function (data, textStatus, jqXHR) {
                        ddlpackages.html('');
                        $.each(data, function (id, option) {
                            ddlpackages.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
</script>

<nop-alert asp-alert-id="statesAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />