﻿@model string
<input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@((!string.IsNullOrEmpty(Model) ? Model : "12:00 AM"))" />
<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoTimePicker();
    });
</script>