﻿@model CustomerSearchModel

@using System.Globalization;
@using Nop.Core.Domain.Media

@inject Nop.Services.Configuration.ISettingService settingService
@inject Nop.Core.IWorkContext _workContext

@inject MediaSettings _mediaSettings

@{
    //page title
    ViewBag.Title = T("NB.Admin.User.Admin.List").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NB Admins");
}

@{
    const string hideSearchBlockAttributeName = "CustomerListPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
@{ var setting = settingService.GetSettingByKey("customcontroldisabledaccordingtostore", "False", _workContext.GetCurrentStoreId);
    if (setting != null && setting != "False")
    {
        ViewBag.DisableAddNew = true;
    }
    else
    {
        ViewBag.DisableAddNew = false;
    }
}
<form asp-controller="NBUserAdmin" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.User.Admin.List")
        </h1>
        <div class="pull-right">
            @if (!Model.IsVendor)
            {
                <span @(ViewBag.DisableAddNew == true ? Html.Raw("style=\"display:none\"") : null)>
                    <a asp-action="Create" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        @T("Admin.Common.AddNew")
                    </a>
                </span>
            }
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @if (!Model.IsVendor)
                {
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div class="label-wrapper">
                                                    <label class="control-label" for="SelectedCustomerRoleIds">@T("NB.Admin.User.Admin.Roles.Search.Role")</label>
                                                    <div title="@T("NB.Admin.User.Admin.Roles.Search.Role.Hint")" data-toggle="tooltip" class="ico-help">
                                                        <i class="fa fa-question-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @*<div class="col-md-4">
                                                    <nop-label asp-for="SearchFirstName" />
                                                </div>*@
                                            <div class="col-md-4">
                                                <div class="label-wrapper">
                                                    <label class="control-label" for="SearchFirstName">@T("NB.Admin.User.Admin.Roles.List.SearchFirstName")</label>
                                                    <div title="@T("NB.Admin.User.Admin.Roles.List.SearchFirstName.Hint")" data-toggle="tooltip" class="ico-help">
                                                        <i class="fa fa-question-circle"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchFirstName" />
                                            </div>
                                        </div>

                                    </div>
                                    @*<div class="col-md-7">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <nop-label asp-for="SearchLastName" />
                                                </div>
                                                <div class="col-md-8">
                                                    <nop-editor asp-for="SearchLastName" />
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="panel panel-default">
                    <div class="panel-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "customers-grid",
                                UrlRead = new DataUrl("CustomerList", "NBUserAdmin", null),
                                SearchButtonId = "search-customers",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                                                                                                                                                                                {
                                    new FilterParameter(nameof(Model.SelectedCustomerRoleIds)),
                                    new FilterParameter(nameof(Model.SearchEmail)),
                                    new FilterParameter(nameof(Model.SearchUsername)),
                                    new FilterParameter(nameof(Model.SearchFirstName)),
                                    new FilterParameter(nameof(Model.SearchLastName)),
                                    new FilterParameter(nameof(Model.SearchDayOfBirth)),
                                    new FilterParameter(nameof(Model.SearchMonthOfBirth)),
                                    new FilterParameter(nameof(Model.SearchCompany)),
                                    new FilterParameter(nameof(Model.SearchPhone)),
                                    new FilterParameter(nameof(Model.SearchZipPostalCode)),
                                    new FilterParameter(nameof(Model.SearchIpAddress)),
                                }
                            };

                            if (Model.CurrentRole == "Administrator")
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.CustomerRoleNames))
                                {
                                    Title = T("NB.Admin.User.Admin.Roles.List.Field.Role").Text,
                                    Width = "150"
                                });
                            }
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.FullName))
                            {
                                Title = T("NB.Admin.User.Admin.Roles.List.Field.Name").Text,
                                Width = "200"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Active))
                            {
                                Title = T("Admin.Customers.Customers.Fields.Active").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            });
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="NBUserAdmin" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>
<script>
    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            updateTable('#customers-grid');
            return false;
        });
    });
</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="NBUserAdmin" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>
<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            updateTable('#customers-grid');
            return false;
        });
    });
</script>