﻿@model CustomerModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="IdProofDocId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IdProofDocId" />
            <span asp-validation-for="IdProofDocId"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="RcBookDocId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="RcBookDocId" />
            <span asp-validation-for="RcBookDocId"></span>
        </div>
    </div>
</div>