﻿@model Nop.Web.Areas.Admin.Models.Agents.AgentListModelSearchModel

@using System.Globalization;
@using Nop.Core.Domain.Media
@using System.Globalization;

@inject Nop.Services.Configuration.ISettingService settingService
@inject Nop.Core.IWorkContext _workContext

@inject MediaSettings _mediaSettings

@{
    //page title
    ViewBag.Title = T("Admin.Agents.Agents").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Agents");
}

@{
    const string hideSearchBlockAttributeName = "CustomerListPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<form asp-controller="Agent" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Agents")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    @T("Admin.Common.AddNew")
                </a>
            
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportxml-all">
                            <i class="fa fa-file-code-o"></i>
                            @T("Admin.Common.ExportToXml.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportxml-selected">
                            <i class="fa fa-file-code-o"></i>
                            @T("Admin.Common.ExportToXml.Selected")
                        </button>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.Selected")
                        </button>
                    </li>
                </ul>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerListButtons })
            </div>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>
                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchEmail" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchEmail" />
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchLastName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchLastName" />
                                        </div>
                                    </div>
                                    @*@if (Model.DateOfBirthEnabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchDayOfBirth" />
                                            </div>
                                            <div class="col-md-8">
                                                @{
                                                    var monthOfBirthValues = new List<SelectListItem>();
                                                    monthOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Month").Text, Value = "0" });
                                                    for (var i = 1; i <= 12; i++)
                                                    {
                                                        monthOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                    }
                                                    var dayOfBirthValues = new List<SelectListItem>();
                                                    dayOfBirthValues.Add(new SelectListItem { Text = T("Admin.Customers.Customers.List.SearchDateOfBirth.Day").Text, Value = "0" });
                                                    for (var i = 1; i <= 31; i++)
                                                    {
                                                        dayOfBirthValues.Add(new SelectListItem { Text = i.ToString(CultureInfo.InvariantCulture), Value = i.ToString(CultureInfo.InvariantCulture) });
                                                    }
                                                }
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <nop-select asp-for="SearchMonthOfBirth" asp-items="@monthOfBirthValues" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <nop-select asp-for="SearchDayOfBirth" asp-items="@dayOfBirthValues" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }*@
                                </div>
                                <div class="col-md-7">
                                    @*@if (Model.CompanyEnabled)
                                    {
                                        <div class="form-group" style="display:none">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCompany" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchCompany" />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.PhoneEnabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchPhone" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchPhone" />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.ZipPostalCodeEnabled)
                                    {
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchZipPostalCode" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchZipPostalCode" />
                                            </div>
                                        </div>
                                    }*@
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SearchFirstName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SearchFirstName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CityId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="CityId" asp-items="Model.AvailableCity" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "customers-grid",
                                UrlRead = new DataUrl("AgentList", "Agent", null),
                                SearchButtonId = "search-customers",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                                                                                {
                                    //new FilterParameter(nameof(Model.SelectedCustomerRoleIds)),
                                    new FilterParameter(nameof(Model.SearchEmail)),
                                    new FilterParameter(nameof(Model.SearchUsername)),
                                    new FilterParameter(nameof(Model.SearchFirstName)),
                                    new FilterParameter(nameof(Model.SearchLastName)),
                                    new FilterParameter(nameof(Model.SearchDayOfBirth)),
                                    new FilterParameter(nameof(Model.SearchMonthOfBirth)),
                                    new FilterParameter(nameof(Model.SearchCompany)),
                                    new FilterParameter(nameof(Model.SearchPhone)),
                                    new FilterParameter(nameof(Model.SearchZipPostalCode)),
                                    new FilterParameter(nameof(Model.SearchIpAddress)),
                                    new FilterParameter(nameof(Model.CityId)),
                                }
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_customers"),
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Width = "50",
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Email))
                            {
                                Title = T("Admin.Customers.Customers.Fields.Email").Text,
                                Width = "200"
                            });
                            //gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.AvatarUrl))
                            //{
                            //    Title = T("Admin.Customers.Customers.Fields.Avatar").Text,
                            //    Width = "100",
                            //    Render = new RenderPicture()
                            //});
                            if (Model.UsernamesEnabled)
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Username))
                                {
                                    Title = T("Admin.Customers.Customers.Fields.Username").Text,
                                    Width = "200"
                                });
                            }
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.FullName))
                            {
                                Title = T("Admin.Customers.Customers.Fields.FullName").Text,
                                Width = "200"
                            });

                            if (Model.PhoneEnabled)
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Phone))
                                {
                                    Title = T("Admin.Customers.Customers.Fields.Phone").Text,
                                    Width = "200"
                                });
                            }
                            if (Model.ZipPostalCodeEnabled)
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.ZipPostalCode))
                                {
                                    Title = T("Admin.Customers.Customers.Fields.ZipPostalCode").Text,
                                    Width = "200"
                                });
                            }
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Active))
                            {
                                Title = T("Admin.Customers.Customers.Fields.Active").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.CreatedOn))
                            {
                                Title = T("Admin.Customers.Customers.Fields.CreatedOn").Text,
                                Width = "200",
                                Render = new RenderDate()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.LastActivityDate))
                            {
                                Title = T("Admin.Customers.Customers.Fields.LastActivityDate").Text,
                                Width = "200",
                                Render = new RenderDate()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(CustomerModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            });
                        }
                        @await Html.PartialAsync("Table", gridModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
