﻿@model CustomerFavoriteMerchantsModel

<div class="favoriteMerchantList row main-cat-row">
    @if (Model.Merchants.Count > 0)
    {
        @foreach (var merchant in Model.Merchants)
        {
            merchant.IsMyaccountPage = true;
            @await Html.PartialAsync("_MerchantBox", merchant)
        }
        var pager = Html.Pager(Model.PagerModel);
        if (!string.IsNullOrEmpty(pager.ToHtmlString()))
        {
            <div class="pager">
                @pager
            </div>
        }
    }
    else
    {
        <div class="no-data">
            @T("NB.Account.FavoriteMerchant.ListisEmpty")
        </div>
    }
</div>
<script>
 function CallMerchant (id) {
     $.ajax({
         cache: false,
         url: '/HomeMerchant/SetMerchant?merchantid=' + id,
         data: {},
                type: 'post',
         success: function (response) {
             location.href = '@Url.RouteUrl("HomeMerchantPage")';
         },
         error: function () {
            alert('An error occurred');
         }
     });
 }
</script>