﻿@model CustomerAddressListModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
    <div class="page account-page address-list-page">
        <div class="page-title">
            <h1>@T("NB.Account.CustomerAddresses")</h1>
            <input type="button" class="button-1 add-address-button" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")" />
        </div>
 
        <div class="page-body Accountaddress">
            <nop-antiforgery-token />
            @if (Model.Addresses.Count > 0)
            {
                <div class="address-list">
                    @for (var i = 0; i < Model.Addresses.Count; i++)
                    {
                        var address = Model.Addresses[i];
                    <div class="section address-item">
                        @if (address.AddressTypeId == 1)
                        {
                            <div class="title home_add">
                                <strong>@address.FirstName @address.LastName</strong>
                            </div>
                        }
                        else if (address.AddressTypeId == 2)
                        {
                            <div class="title add_type_office">
                                <strong>@address.FirstName @address.LastName</strong>
                            </div>
                        }
                        else if (address.AddressTypeId == 3)
                        {
                            <div class="title add_type_other">
                                <strong>@address.FirstName @address.LastName</strong>
                            </div>
                        }
                        else
                        {
                            <div class="title home_add">
                                <strong>@address.FirstName @address.LastName</strong>
                            </div>
                        }
                        <ul class="info">
                            <li class="name">
                                @address.FirstName @address.LastName
                            </li>
                            <li class="email">
                                <label>@T("Address.Fields.Email"):</label>
                                @address.Email
                            </li>

                            @if (address.FaxEnabled)
                            {
                                <li class="fax">
                                    <label>@T("Address.Fields.FaxNumber"):</label>
                                    @address.FaxNumber
                                </li>
                            }
                            @if (address.CompanyEnabled && !string.IsNullOrEmpty(address.Company))
                            {
                                <li class="company">@address.Company</li>
                            }
                            @if (address.StreetAddressEnabled)
                            {
                                <li class="address1">
                                    @address.Address1
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(address.Address2))
                            {
                                <li class="address2">
                                    @address.Address2
                                </li>
                            }
                            @if (address.PhoneEnabled)
                            {
                                <li class="phone">
                                    <label>@T("Address.Fields.PhoneNumber"):</label>
                                    @address.PhoneNumber
                                </li>
                            }

                            @if (!string.IsNullOrEmpty(address.FormattedCustomAddressAttributes))
                            {
                                <li class="custom-attributes-view">
                                    @Html.Raw(address.FormattedCustomAddressAttributes)
                                </li>
                            }
                        </ul>
                        <div class="buttons row">
                            <div class="col-md-6 addressEdit">
                                @*                                <button class="button-2 deliveryHere-address-button">@T("checkout.billingaddress.deliveryhere")</button>
                                *@                                <button class="button-2 delete-address-button" onclick="deletecustomeraddress(@(address.Id))"><img src="/Themes/MKSweets/Content/img/delete.png" /> </button>
                            </div>
                            <div class="col-md-6 addressEditBtn">
                                <button class="button-2 edit-address-button" onclick="location.href = '@(Url.RouteUrl("CustomerAddressEdit", new {addressId = address.Id}))'"><img src="/Themes/MKSweets/Content/img/pencil.png" /> </button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <script type="text/javascript" asp-location="Footer">
                    function deletecustomeraddress(addressId) {
                        if (confirm('@T("Admin.Common.AreYouSure")')) {
                            var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: 'POST',
                                url: '@Url.Action("AddressDelete", "Customer")',
                                data: postData,
                                dataType: 'json',
                                success: function(data) {
                                    location.href = data.redirect;
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to delete');
                                }
                            });
                        }
                    }
                </script>
            }
            else
            {
                <div class="no-data">
                    @T("Account.CustomerAddresses.NoAddresses")
                </div>
            }

        </div>
    </div>