﻿@model LoginModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@{
    bool isCalledAsPopup = !string.IsNullOrEmpty(this.Context.Request.Query["isPopup"]);

    Layout = isCalledAsPopup ? "" : "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    if (Model.CheckoutAsGuest)
    {
        Html.AppendPageCssClassParts("html-guest-page");
    }
    else
    {
        Html.AppendPageCssClassParts("html-login-page");
    }

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    //if (!String.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    //{
    //    registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    //}
    registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}

<div class="page login-page">

    @await Html.PartialAsync("_ExternalAuthentication.Errors")
    <div class="page-body">
        @* @if (Model.CheckoutAsGuest)
            {
                <div class="new-wrapper checkout-as-guest-or-register-block">
                    <div class="title">
                        <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                    </div>
                    <div class="inner-wrapper">
                        <div class="text">
                            @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                            <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href = '@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="new-wrapper register-block">
                    <div class="title">
                        <strong>@T("Account.Login.NewCustomer")</strong>
                    </div>
                    <div class="inner-wrapper">
                        <div class="text">
                            @T("Account.Login.NewCustomerText")
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                        </div>
                    </div>
                </div>
            }
        *@
        <section class="loginSection clearfix">

            @if (Model.CheckoutAsGuest)
            {
                <div class="loginBox">
                    <div class="login-header">
                        @await Component.InvokeAsync("Logo")
                        <h2>@T("Account.Login.CheckoutAsGuestOrRegister")</h2>
                    </div>
                    <div class="formDetails clearfix checkoutGestText">
                        <div class="text">
                            @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                        </div>
                        <div class="buttons">
                            <input type="button" class="button-1 register-button" onclick="location.href = '@registerUrl'" value="@T("Account.Register")" />
                            <input type="button" class="button-1 register-button" onclick="location.href = '@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="loginBox">
                    <div class="login-header">
                        <div class="header-logo Log">
                            <a href="/"> <img src="../Themes/MKSweets/Content/img/logoweb.png" /> </a>
                        </div>
                        @*<div class="storeTabLinks login">
                                <ul>
                                    <li><a href="javascript:void(0)" id="findFoodBtnAll" onclick="setOrderType(0);" class="all-step-link">@T("NB.APP.LoginPage.PhoneLogin")
                                        <img class="allTick" id="allTick0" src="/Themes/MKSweets/Content/img/red-check.png" /></a></li>
                                    <li><a href="javascript:void(0)" id="findFoodBtnDelivery" onclick="setOrderType(1);" class="delivery-step-link">@T("NB.APP.LoginPage.EmailLogin") <img class="allTick" id="allTick1" src="/Themes/MKSweets/Content/img/red-check.png" style="display:none;" /></a></li>
                                </ul>
                            </div>*@
                    </div>

                    <div class="formDetails clearfix fields">
                        <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                            <input asp-for="FCMToken" type="hidden" id="fcmToken" />
                            <input asp-for="AllowFCMToken" type="hidden" id="allowFCMToken" />
                            <div class="registerTabs head">
                                <ul>
                                    <li class="checked">
                                        <input type="radio" onclick="showHideLoginFields('P')" asp-for="RegisterType" value="P" checked="@(Model.RegisterType == "P")" id="registertype-phone" />
                                        <label for="registertype-phone">@T("Account.Fields.LoginType.Phone")</label>
                                    </li>
                                    <li>
                                        <input type="radio" onclick="showHideLoginFields('E')" asp-for="RegisterType" value="E" checked="@(Model.RegisterType == "E")" id="registertype-mail" />
                                        <label for="registertype-mail">@T("Account.Fields.LoginType.Email")</label>
                                    </li>
                                </ul>
                            </div>
                            <span asp-validation-for="RegisterType"></span>
                            <div class="inner-wrapper show">
                                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                <div class="form-fields">
                                    @if (Model.UsernamesEnabled)
                                    {
                                    <div class="fieldBar clearfix">
                                        <div class="col-md-12 fieldCol">
                                            <label asp-for="Username" asp-postfix=":"></label>
                                            <input asp-for="Username" class="username" autofocus="autofocus" />
                                            <span asp-validation-for="Username"></span>
                                        </div>
                                    </div>
                                    <div class="fieldBar clearfix">
                                        <div class="col-md-12 fieldCol">
                                            <input asp-for="Password" class="password" placeholder="@T("nb.enter.password")" />
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="fieldBar clearfix">
                                        <div class="col-md-12 fieldCol">
                                            <input asp-for="RememberMe" class="remember_me" />
                                            <label class="remember_me_text" asp-for="RememberMe"></label>
                                            <div class="forgetPwdText clearfix">
                                                <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                            </div>
                                        </div>
                                    </div>
                                        }
                                        else
                                        {
                                        if (Model.OTPVerificationEnabled)
                                        {
                                        <div class="fieldBar clearfix">
                                            <input asp-for="EmailOrPhone" class="username" autofocus="autofocus" placeholder="@T("nb.enter.emailorphone")" />
                                            <span asp-validation-for="EmailOrPhone"></span>
                                        </div>
                                        }
                                        else
                                        {

                                        <div class="fieldBar clearfix widthpart hidediv" style="display:none">
                                            @*<div class="row">
                <div class="col-md-12">
                    @if (Model.LoiginWithPasswordEnabled)
                    {
                        <input asp-for="Email"  placeholder="@T("nb.email")" />
                    }
                    else
                    {
                        <input asp-for="Email" class="email" placeholder="@T("nb.email")" />
                    }
                    <nop-required />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>*@
                                        </div>
                                        @* <div class="fieldBar clearfix widthpart showdiv">
            <div class="row">
                <div class="col-sm-2 col-md-2 pR0 showdiv">
                    <select><option>+965</option></select>

                </div>
            </div>
        </div>*@
                                        <div class="fieldBar clearfix widthpart">
                                            <div class="col-sm-2 col-md-2 pL0 showdiv fieldCol">
                                                <input type="text" readonly value="@T("nb.isd")" />
                                            </div>
                                            <div class="col-md-10 pL0 pR0 phoneNumber fieldCol">
                                                @if (Model.LoiginWithPasswordEnabled)
                                                {
                                                    <input class="" asp-for="Email" autofocus="autofocus" placeholder="@T("NB.Phone.Number")" />
                                                }
                                                else
                                                {
                                                    <input asp-for="Email" class="email" autofocus="autofocus" placeholder="@T("nb.email/phone")" />
                                                }
                                                <nop-required />
                                                @* <span asp-validation-for="Email"></span>*@
                                            </div>
                                        </div>
                                        <div class="fieldBar clearfix widthpart passwordBox">
                                            <div class="row">
                                                <div class="col-md-12 fieldCol">
                                                    <input asp-for="Password" placeholder="@T("nb.password")" />
                                                    <nop-required />
                                                    <span asp-validation-for="Password"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fieldBar clearfix remember-container">
                                            <input asp-for="RememberMe" class="remember_me" />
                                            <label class="remember_me_text" asp-for="RememberMe"></label>
                                        </div>
                                        <div class="forgetPwdText clearfix">
                                            <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                        </div>
                                        }
                                        }

                                        <div class="acceptance">
                                            <span>
                                                @T("nb.agree") <a class="read highlight" id="" target="_blank" href="/termsconditionmksweets">@T("App.Profile.ButtonTermsCondition")</a>
                                                <br />
                                                @T("nb.and") <a class="read highlight" id="read-privacyinfo" target="_blank" href="/privacy-policy-hda">@T("App.Profile.ButtonPrivacypolicy")</a>
                                            </span>
                                        </div>

                                        @if (Model.DisplayCaptcha)
                                        {
                                            <div class="captcha-box">
                                                <nop-captcha />
                                            </div>
                                        }
                                    </div>
                                <div class="buttons">
                                    <input class="button-1 login-button" type="submit" value="@T("Account.Login")" />
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="signupOptionBar clearfix">@T("nb.dont.Have.Account") <input type="button" onclick="location.href = '@registerUrl'" value="@T("nb.signup.now")" /></div>
                </div>
            }

        </section>

        @* @{
                var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

                if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
                {
                    <div class="external-authentication">
                        @externalMethods
                    </div>
                }
            }

            @if (!isCalledAsPopup)
            {
                @await Component.InvokeAsync("TopicBlock", new { systemName = "LoginRegistrationInfo" })
            }
            else
            {
                <div id="login-modal-window-static-resources">
                    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
                    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
                    @Html.NopScripts(this.Url, ResourceLocation.Head)
                    @Html.NopScripts(this.Url, ResourceLocation.Footer)
                </div>
            }*@
    </div>
</div>

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

            <!-- Container for the Table of content -->
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    <div id="token_div" style="display: none;"></div>
                    <p id="token" style="word-break: break-all; display: none;"></p>
                    <!-- div to display the UI to allow the request for permission to
                         notify the user. This is shown if the app has not yet been
                         granted permission to notify. -->
                    <div id="permission_div" style="display: none;">
                        <h4>Needs Permission</h4>
                        <p id="token"></p>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                onclick="requestPermission()">
                            Request Permission
                        </button>
                    </div>
                    <!-- div to display messages received by this app. -->
                    <div id="messages" style="display: none;"></div>
                </div>
            </div>

        </div>
    </main>
</div>

<link rel="manifest" href="manifest.json">
<!-- Import and configure the Firebase SDK -->
<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-messaging.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBANteoLTl-9rIx0G6LilCHh7XRFXuVkNg",
        authDomain: "mksweets-a4e6a.firebaseapp.com",
        databaseURL: "https://mksweets-a4e6a.firebaseapp.com",
        projectId: "mksweets-a4e6a",
        storageBucket: "mksweets-a4e6a.appspot.com",
        messagingSenderId: "830031523406",
        appId: "1:830031523406:web:653d42401560a31b725d1f",
        measurementId: "G-DYH1G0639G"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

<script>
    // [START get_messaging_object]
    // Retrieve Firebase Messaging object.
    const messaging = firebase.messaging();
    // [END get_messaging_object]

    // IDs of divs that display registration token UI or request permission UI.
    const tokenDivId = 'token_div';
    const permissionDivId = 'permission_div';

    // [START receive_message]
    // Handle incoming messages. Called when:
    // - a message is received while the app has focus
    // - the user clicks on an app notification created by a service worker
    //   `messaging.setBackgroundMessageHandler` handler.
    messaging.onMessage((payload) => {
        console.log('Message received. ', payload);
        // [START_EXCLUDE]
        // Update the UI to include the received message.
        appendMessage(payload);
        // [END_EXCLUDE]
    });
    // [END receive_message]

    function resetUI() {
        clearMessages();
        showToken('loading...');
        // [START get_token]
        // Get registration token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        //messaging.getToken({ vapidKey: '<YOUR_PUBLIC_VAPID_KEY_HERE>' }).then((currentToken) => {
        messaging.getToken().then((currentToken) => {
            if (currentToken) {
                document.getElementById("fcmToken").value = currentToken;
                sendTokenToServer(currentToken);
                updateUIForPushEnabled(currentToken);
            } else {
                // Show permission request.
                console.log('No registration token available. Request permission to generate one.');
                // Show permission UI.
                updateUIForPushPermissionRequired();
                setTokenSentToServer(false);
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
            showToken('Error retrieving registration token. ', err);
            setTokenSentToServer(false);
        });
        // [END get_token]
    }


    function showToken(currentToken) {
        // Show token in console and UI.
        const tokenElement = document.querySelector('#token');
        tokenElement.textContent = currentToken;
    }

    // Send the registration token your application server, so that it can:
    // - send messages back to this app
    // - subscribe/unsubscribe the token from topics
    function sendTokenToServer(currentToken) {
        if (!isTokenSentToServer()) {
            console.log('Sending token to server...');
            // TODO(developer): Send the current token to your server.
            setTokenSentToServer(true);
        } else {
            console.log('Token already sent to server so won\'t send it again ' +
                'unless it changes');
        }

    }

    function isTokenSentToServer() {
        return window.localStorage.getItem('sentToServer') === '1';
    }

    function setTokenSentToServer(sent) {
        window.localStorage.setItem('sentToServer', sent ? '1' : '0');
    }

    function showHideDiv(divId, show) {
        const div = document.querySelector('#' + divId);
        if (show) {
            div.style = 'display: visible';
        } else {
            div.style = 'display: none';
        }
    }

    function requestPermission() {
        console.log('Requesting permission...');
        // [START request_permission]
        Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
                document.getElementById("allowFCMToken").value = true;
                console.log('Notification permission granted.');
                // TODO(developer): Retrieve a registration token for use with FCM.
                // [START_EXCLUDE]
                // In many cases once an app has been granted notification permission,
                // it should update its UI reflecting this.
                resetUI();
                // [END_EXCLUDE]
            } else {
                document.getElementById("allowFCMToken").value = false;
                console.log('Unable to get permission to notify.');
            }
        });
        // [END request_permission]
    }

    function deleteToken() {
        // Delete registraion token.
        // [START delete_token]
        messaging.getToken().then((currentToken) => {
            messaging.deleteToken(currentToken).then(() => {
                console.log('Token deleted.');
                setTokenSentToServer(false);
                // [START_EXCLUDE]
                // Once token is deleted update UI.
                resetUI();
                // [END_EXCLUDE]
            }).catch((err) => {
                console.log('Unable to delete token. ', err);
            });
            // [END delete_token]
        }).catch((err) => {
            console.log('Error retrieving registration token. ', err);
            showToken('Error retrieving registration token. ', err);
        });

    }

    // Add a message to the messages element.
    function appendMessage(payload) {
        const messagesElement = document.querySelector('#messages');
        const dataHeaderElement = document.createElement('h5');
        const dataElement = document.createElement('pre');
        dataElement.style = 'overflow-x:hidden;';
        dataHeaderElement.textContent = 'Received message:';
        dataElement.textContent = JSON.stringify(payload, null, 2);
        messagesElement.appendChild(dataHeaderElement);
        messagesElement.appendChild(dataElement);
    }

    // Clear the messages element of all children.
    function clearMessages() {
        const messagesElement = document.querySelector('#messages');
        while (messagesElement.hasChildNodes()) {
            messagesElement.removeChild(messagesElement.lastChild);
        }
    }

    function updateUIForPushEnabled(currentToken) {
        showHideDiv(tokenDivId, true);
        showHideDiv(permissionDivId, false);
        showToken(currentToken);
    }

    function updateUIForPushPermissionRequired() {
        showHideDiv(tokenDivId, false);
        showHideDiv(permissionDivId, true);
    }

    $(document).ready(function () {
        $("#logintype").click(toggleuseLogin);

        toggleuseLogin();
    });

    function toggleuseLogin() {
        if ($('#logintype').is(':checked')) {
            $('#Email').hide();
            $('#Phone').show();
            $('#Otp').hide();
        } else {
            $('#Email').show();
            $('#Phone').hide();
            $('#Otp').hide();
        }
    }
    resetUI();
</script>
<script>
    function showHideLoginFields(regType) {
        $("#RegisterType").val(regType);
        if (regType === 'E') {
            $(".showdiv").hide();
            $(document).ready(function () {
                $('#Email').val('');
            });
            $('#Email').attr('placeholder', '@T("nb.email")');
            $('.phoneNumber').css("width", "100%");
            $('#Email').css("width", "100%");
            $('.html-login-page .phoneNumber .required').css("left", "640px");


            $(".login-button").click(function () {

                $(".showdiv").hide();
                });



        } else {
            $(".showdiv").show();
            $('#Email').attr('placeholder', '@T("NB.Phone.Number")');
            $('.phoneNumber').css("width", "80%");
            $('.phoneNumber').css("float", "right");
            $('.html-login-page .phoneNumber .required').css("left", "516px");
        }
    }


    $(document).ready(function () {
         $('input:radio').change(function () {
            $('li:has(input:radio)').removeClass('checked');
            var $self = $(this);
            if ($self.prop('checked')) {
                $self.parent().addClass('checked');
            }
        });
    });


</script>

 