﻿@model PasswordRecoveryModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
@{
    bool isCalledAsPopup = !string.IsNullOrEmpty(this.Context.Request.Query["isPopup"]);

    Layout = isCalledAsPopup ? "" : "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class


    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    //if (!String.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    //{
    //    registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    //}
    registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}

<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox space">
        <div class="header-logo Log">
            <a href="/"> <img src="../Themes/MKSweets/Content/img/logoweb.png" /> </a>
        </div>
        <div class="login-header">
            <h2>@T("nb.forgotpassword")</h2>
        </div>
        <div class="login-des">
            <span>@T("nb.passwordDes1")</span>  
        </div>
        <div class="formDetails clearfix">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="fieldset">
                    <div class="form-fields">
                        @if (Model.OTPVerificationEnabled)
                        {
                            <div class="fieldBar clearfix">
                                <label asp-for="EmailOrPhone" asp-postfix=":"></label>
                                <span class="required">*</span>
                                <input asp-for="EmailOrPhone" class="username" />
                                <span asp-validation-for="EmailOrPhone"></span>
                            </div>
                        }
                        else
                        {
                            <div class="fieldBar clearfix recoveryEmail">
                                <input asp-for="Email"  placeholder="@T("nb.email/phone")" />
                                <span class="required">*</span>
                                <span asp-validation-for="Email"></span>
                            </div>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("nb.sendLink")" />
                </div>
                <div class="signupOptionBar clearfix">
                    @T("nb.dont.Have.Account")
                    <input type="button" onclick="location.href = '@registerUrl'" value="@T("nb.signup.now")" />
                </div>

            </form>
        </div>
    </div>
</section>

<script>

    $(window).load(function () {
        function removeValidAttr(yourSelector, yourAttr) {
            $(yourSelector).removeAttr(yourAttr);
        }
        removeValidAttr("#Email", "data-val-email");
        removeValidAttr("#Email", "data-val-required");
        removeValidAttr("#Email", "data-val");
        removeValidAttr("#Email", "email input-validation-error");

    })

</script>