﻿@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    var time = @Model.OTPVerificationModel.Timer;
    var otpDate = Convert.ToDateTime(@Model.OTPVerificationModel.Date);
    var curDate = Convert.ToDateTime(@Model.OTPVerificationModel.CurrentDate);
    var topDate = Convert.ToDateTime(otpDate.AddMinutes(time));
    var startTimer = string.Empty;
}
@if (topDate > curDate)
{
    startTimer = Convert.ToString((topDate - curDate).TotalSeconds);
}
else
{
    startTimer = "00:00";
    <script>
        $(document).ready(function () {
            $("#resend").show();
        });
        $(document).ready(function () {
          //alert("@T("NB.OtpExpired")");
            $("#time").hide();
        });
    </script>
}

<form asp-route="RegisterResult" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
    <div class="page registration-result-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="header-logo Log">
            <a href="/"> <img src="../Themes/MKSweets/Content/img/logoweb.png" /> </a>
        </div>
        <div class="page-body">
            <section class="loginSection clearfix">
                <div class="result heading">
                    @Model.Result
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>

                </div>
                <div class="result register main">
                    @*<input asp-for="OTPVerificationModel.CurrentDate" type="hidden" />*@
                    <input asp-for="OTPVerificationModel.CustomerId" type="hidden" />
                    <input asp-for="OTPVerificationModel.OTP" placeholder="@T("nb.otp")" />
                    <span asp-validation-for="OTPVerificationModel.OTP"></span>
                </div>
                <div class="fieldset timerdiv">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12 main">
                                    <span asp-for="Timer" id="time"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fieldset ResendNowBtn">
                    <button type="button" id="resend" class="button-1 register-next-step-button"><span>@T("nb.nocode")</span> @T("NB.APP.LoginPage.Resend")</button>
                </div>
                <div class="buttons button">
                    <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("nb.verify&register")" />
                </div>

                @*         <div class="buttons">
                    <input type="button" id="resend" style="display:none" class="button-1 register-next-step-button" value="Resend" />
                </div>*@
            </section>
        </div>
    </div>
</form>

<script type="text/javascript">
        function startTimer(duration, display, callback) {
            var timer = duration,
                minutes, seconds;

            var myInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;
                if (--timer < 0) {
                    timer = duration;
                    //alert("@T("NB.OtpExpired")");
                    $("#time").hide();
                    $("#resend").show();

                    // clear the interal
                    clearInterval(myInterval);

                    // use the callback
                    if (callback) {
                        callback();
                    }
                }
            }, 1000);
        }

        window.onload = function () {
            var time = @Model.OTPVerificationModel.Timer;
            var otpSendDate = new Date('@Model.OTPVerificationModel.Date');
            var now = new Date('@Model.OTPVerificationModel.CurrentDate');
            var countDownDate = new Date();
            countDownDate = otpSendDate.setMinutes(otpSendDate.getMinutes() + time);
            var distance = countDownDate - now ;
            if (distance < 0) {
                alert("@T("NB.OtpExpired")");
            } else{
                display = document.querySelector('#time');
                startTimer(parseInt('@(startTimer)'), display, function () {
                    distance.getElementById('time').style.display = "none";
                    distance.getElementById('resend').style.display = "block";
                });
            }
    };

    $("#resend").click(function () {
        displayAjaxLoading(true);
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("ResendOTP", "Customer"))",
            data: {"customerId": @Model.OTPVerificationModel.CustomerId},
            success: function (data) {
                location.reload();
                displayAjaxLoading(false);
            },
              error: function () {
                  alert("Failed To resend");
                }
            });
    });

</script>