﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}




<section class="loginSection signupSection clearfix">
    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
        </script>
    }

    @if (Model.RestaurantRegisterAllow && Model.IsStoreRegisterAllowPackage)
    {
        <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.PackageId)").change(function () {
                var selectedItem = $(this).val();
                var ddlpackages = $("#@Html.IdFor(model => model.PackagePlanId)");
                var packageplansProgress = $("#packageplan-loading-progress");
                packageplansProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetPackagePlanByPackageId"))",
                    data: { "packageId": selectedItem, "addSelectPacagePlanItem": "true" },
                    success: function (data) {
                        ddlpackages.html('');
                        console.log(data)
                        $.each(data, function (id, option) {
                            ddlpackages.append($('<option></option>').val(option.Id).html(option.Name));
                        });
                        packageplansProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        packageplansProgress.hide();
                    }
                });
            });
        });
        </script>
    }


    <div class="loginBox signupBox">
        <div class="header-logo Log">
            <a href="/"> <img src="../Themes/MKSweets/Content/img/logoweb.png" /> </a>
        </div>
        <div class="regiTabLinks">
            <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("dukan.Register.as.customer")" name="btnCustomer" />
            @*<input type="button" id="btndeliveryAgent" class="register-next-step-button" value="@T("dukan.Register.as.deliveryAgent")" name="btndeliveryAgent" />
                <input type="button" id="btnSeller" class="register-next-step-button" value="@T("dukan.Register.as.seller")" name="btnSeller" />*@
            @if (Model.StoreRegisterAllow)
            {
                <input type="button" id="btnStoreOwner" class="register-next-step-button" value="@T("NB.Register.storeOwner")" name="btnStoreOwner" />
            }

        </div>
        @* <div class="fieldBar clearfix ac-type-restaurantOwner">
                <div class="row">
                    <div class="col-md-12">
                        <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                        <nop-required />
                        <span asp-validation-for="RestaurantName"></span>
                    </div>
                </div>
            </div>*@
        <div class="formDetails clearfix">
            <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <input type="hidden" id="RegisterationType" asp-for="RegisterationType" />
                @{
                    bool isCustomer = Model.RegisterationType == "Customer";
                    bool isRestaurantOwner = Model.RegisterationType == "RestaurantOwner";
                    bool isStoreOwner = Model.RegisterationType == "StoreOwner";
                }
                @if (Model.RestaurantRegisterAllow)
                {
                    <div class="regiTabLinks">
                        <input type="button" id="btnCustomer" class="register-next-step-button active" value="@T("bazar.NB.Account.SignupAsCustomer.Button")" name="btnCustomer" />
                        <input type="button" id="btnRestaurantOwner" class="register-next-step-button" value="@T("bazar.NB.Account.SignupAsRestaurantOwner.Button")" name="btnRestaurantOwner" />
                    </div>
                }
                <div class="fieldset">
                    @if (Model.RestaurantRegisterAllow)
                    {
                        <div class="fieldBar clearfix ac-type-restaurantOwner" @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")>

                            <div class="row">
                                <div class="col-md-12 fieldCol">
                                    <input asp-for="RestaurantName" placeholder="@T("bazar.RestaurantName")" />
                                    <span asp-validation-for="RestaurantName"></span>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="fieldBar clearfix ac-type-customer">
                        @*  <div class="storeTabLinks login">
                                <input type="hidden" id="RegistrationType" />
                                <ul>
                                    <li><a href="javascript:void(0)" id="findFoodBtnAll" onclick="setOrderType(0);" class="all-step-link">@T("Account.Fields.RegistrationType.Phone") <img class="allTick" id="allTick0" src="/Themes/MKSweets/Content/img/red-check.png" /></a></li>
                                    <li><a href="javascript:void(0)" id="findFoodBtnDelivery" onclick="setOrderType(1);" class="delivery-step-link">@T("Account.Fields.RegistrationType.Email") <img class="allTick" id="allTick1" src="/Themes/MKSweets/Content/img/red-check.png" style="display:none;" /></a></li>
                                </ul>
                            </div>*@
                        <div class="registerTabs head">
                            <ul>
                                <li class="checked">
                                    <input type="radio" onclick="showHideFields('P')" asp-for="RegistrationType" value="P" checked="@(Model.RegistrationType == "P")" id="registrationtype-phone" />
                                    <label for="registrationtype-phone">@T("Account.Fields.RegistrationType.Phone")</label>
                                </li>
                                <li>
                                    <input type="radio" onclick="showHideFields('E')" asp-for="RegistrationType" value="E" checked="@(Model.RegistrationType == "E")" id="registrationtype-mail" />
                                    <label for="registrationtype-mail">@T("Account.Fields.RegistrationType.Email")</label>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('input:radio').change(function () {
                                        $('li:has(input:radio)').removeClass('checked');
                                        var $self = $(this);
                                        if ($self.prop('checked')) {
                                            $self.parent().addClass('checked');
                                        }
                                    });
                                });

                            </script>
                        </div>

                        <span asp-validation-for="RegistrationType"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="message-error reg"></div>

                    @if (Model.GenderEnabled)
                    {
                        <div class="fieldBar clearfix ac-type-customer">
                            <label>@T("Account.Fields.Gender"):</label>
                            @*<nop-required />*@
                            <div class="gender">
                                <span class="male">
                                    <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                </span>
                                <span class="female">
                                    <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                </span>
                            </div>
                            <span asp-validation-for="Gender"></span>
                        </div>
                    }
                    <div class="fieldBar clearfix isdPhoneNo widthpart hidediv" id="hidediv">
                        <div class="row">
                            <div class="col-sm-2 fieldCol pR0">
                                <input type="text" readonly value="@T("nb.isd")" />
                            </div>
                            <div class="col-md-10 fieldCol phoneNumber">
                                <input asp-for="Phone" placeholder="@T("NB.Phone.Number")" type="tel" pattern="\d*" onkeypress="return onlyNumberKey(event)" />
                                <nop-required />
                                <span asp-validation-for="Phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="fieldBar clearfix widthpart showdiv" id="showdiv" style="display:none">
                        <div class="row">
                            <div class="col-md-12 fieldCol">
                                <input asp-for="Email" placeholder="@T("nb.email")" />
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="fieldBar clearfix flname widthpart">
                        <div class="row">
                            <div class="col-md-6 fieldCol">
                                <input asp-for="FirstName" placeholder="@T("Account.Fields.FirstName")" />
                                <nop-required />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-md-6 fieldCol">
                                <input asp-for="LastName" placeholder="@T("Account.Fields.LastName")" />
                                <nop-required />
                                <span asp-validation-for="LastName"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.UsernamesEnabled)
                    {
                        <div class="fieldBar clearfix flname widthpart">
                            <div class="row">
                                <div class="col-md-6 fieldCol">
                                    <input asp-for="Username" placeholder="@T("Account.Fields.Username")" />
                                    <nop-required />
                                    <span asp-validation-for="Username"></span>
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="fieldBar date-of-birth">
                            <div class="row">
                                <div class="col-md-12 fieldCol">
                                    <label>@T("Account.Fields.DateOfBirth"):</label>@if (Model.DateOfBirthRequired)
                                    {
                                        <nop-required />
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 fieldCol">
                                    <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                     asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                     asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                     asp-begin-year="@(DateTime.Now.Year - 110)"
                                                     asp-end-year="@(DateTime.Now.Year)"
                                                     asp-selected-day="@Model.DateOfBirthDay"
                                                     asp-selected-month="@Model.DateOfBirthMonth"
                                                     asp-selected-year="@Model.DateOfBirthYear" />

                                    <span asp-validation-for="DateOfBirthDay"></span>
                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                    <span asp-validation-for="DateOfBirthYear"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="fieldBar clearfix widthpart hidediv" id="hidediv">
                        <div class="row">
                            <div class="col-md-12 fieldCol">
                                <input asp-for="OptionalEmail" placeholder="@T("nb.emailOptional")" />
                                @*<nop-required />*@
                                @*<span asp-validation-for="Email"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="fieldBar clearfix isdPhoneNo widthpart showdiv" id="showdiv" style="display:none">
                        <div class="row">
                            <div class="col-sm-2 fieldCol pR0">
                                <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                @if (Model.CountryRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="CountryId"></span>
                            </div>
                            <div class="col-md-10 fieldCol phoneNumber">
                                <input asp-for="OptionalPhone" placeholder="@T("nb.phoneOptional")" type="tel" pattern="\d*" onkeypress="return onlyNumberKey(event)" />
                            @*    <nop-required />*@
                                <span asp-validation-for="OptionalPhone"></span>
                            </div>
                        </div>
                    </div>
                    @if (Model.EnteringEmailTwice)
                    {
                        <div class="fieldBar clearfix widthpart">
                            <div class="row">
                                <div class="col-md-12 fieldCol">
                                    <input asp-for="ConfirmEmail" placeholder="@T("mk.ConfirmEmail")" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                        <div class="row">
                            <div class="col-md-12 fieldCol">
                                <input asp-for="VenueName" placeholder="@T("NB.Account.Fields.VenueName")" />
                                <nop-required />
                                <span asp-validation-for="VenueName"></span>
                                <span id="spanVenueName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                        <div class="row">
                            <div class="col-md-12 fieldCol">
                                <input asp-for="VenueURL" placeholder="@T("NB.Account.Fields.VenueURL")" />
                                <nop-required />
                                <span asp-validation-for="VenueURL"></span>
                                <span id="spanVenueUrl"></span>
                            </div>
                        </div>
                    </div>
                    @*Package custom code*@
                    @if (Model.RestaurantRegisterAllow && Model.IsStoreRegisterAllowPackage)
                    {
                        <div class="fieldBar clearfix ac-type-restaurantOwner @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")>">
                            <label asp-for="PackageId" asp-postfix=":"></label>
                            <select asp-for="PackageId" asp-items="Model.AvailablePackages"></select>
                            <nop-required />
                            <span asp-validation-for="PackageId"></span>
                        </div>

                        <div class="fieldBar clearfix ac-type-restaurantOwner @(isRestaurantOwner ? "style=display:block;" : "style=display:none;")">
                            <label asp-for="PackagePlanId" asp-postfix=":"></label>
                            <select asp-for="PackagePlanId" asp-items="Model.AvailablePackagesPlan"></select>
                            <nop-required />
                            <span asp-validation-for="PackagePlanId"></span>
                            <span id="packageplan-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                        </div>
                        <input type="hidden" id="IsStoreRegisterAllowPackage" asp-for="IsStoreRegisterAllowPackage" />
                        <input type="hidden" id="RestaurantRegisterAllow" asp-for="RestaurantRegisterAllow" />
                    }
                    <div class="fieldBar clearfix ac-type-storeOwner" @(isStoreOwner ? "style=display:block;" : "style=display:none;")>
                        <label>@T("NB.Account.Fields.CompanySale"):</label>
                        @*<nop-required />*@
                        <div class="companysale">
                            <span class="food">
                                <input type="radio" asp-for="CompanySale" value="Food" checked="@(Model.CompanySale == "Food")" id="companysale-food" />
                                <label class="forcheckbox" for="companysale-food">@T("NB.Account.Fields.CompanySale.Food")</label>
                            </span>
                            <span class="cafe">
                                <input type="radio" asp-for="CompanySale" value="Cafe" checked="@(Model.CompanySale == "Cafe")" id="companysale-cafe" />
                                <label class="forcheckbox" for="companysale-cafe">@T("NB.Account.Fields.CompanySale.Cafe")</label>
                            </span>
                            <span class="other">
                                <input type="radio" asp-for="CompanySale" value="Other" checked="@(Model.CompanySale == "Other")" id="companysale-other" />
                                <label class="forcheckbox" for="companysale-other">@T("NB.Account.Fields.CompanySale.Other")</label>
                            </span>
                        </div>
                    </div>
                    @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                    {
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <div class="row">
                                        <div class="col-md-12 fieldCol">
                                            <label asp-for="Company" asp-postfix=":"></label> @if (Model.CompanyRequired)
                                            {
                                                <nop-required />
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 fieldCol">
                                            <input asp-for="Company" />
                                            <nop-required />
                                            <span asp-validation-for="Company"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="fieldBar clearfix">
                                    <nop-required />
                                    <input asp-for="VatNumber" placeholder="@T("Account.Fields.VatNumber")" />
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                    {
                        <div class="form-fields">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="fieldBar clearfix ac-type-customer">
                                    <input asp-for="StreetAddress" placeholder="@T("Account.Fields.StreetAddress")" />
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }

                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="fieldBar clearfix ac-type-customer">
                                    <input asp-for="StreetAddress2" placeholder="@T("Account.Fields.StreetAddress2")" />
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }

                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <input asp-for="ZipPostalCode" placeholder="@T("Account.Fields.ZipPostalCode")" />
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CityEnabled)
                            {
                                <div class="fieldBar clearfix ac-type-customer">
                                    <input asp-for="City" placeholder="@T("Account.Fields.City")" />
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }

                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="CountryId" asp-postfix=":"></label>
                                    <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" placeholder="@T("Account.Fields.StateProvince")"></select>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="StateProvinceId"></span>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.PhoneEnabled || Model.FaxEnabled)
                    {
                        <div class="form-fields">
                            @if (Model.PhoneEnabled)
                            {

                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Fax" asp-postfix=":"></label>
                                    <input asp-for="Fax" />
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    }
                    @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {
                        <div class="form-fields">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <label asp-for="Newsletter" asp-postfix=":"></label>
                                    <input asp-for="Newsletter" />
                                    <span asp-validation-for="Newsletter"></span>
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    }
                    @if (Model.AllowCustomersToSetTimeZone)
                    {
                        <div class="form-fields">
                            <div class="fieldBar clearfix">
                                <div class="row">
                                    <div class="col-md-12 fieldCol">
                                        @if (Model.AllowCustomersToSetTimeZone)
                                        {
                                            @*<label asp-for="TimeZoneId" asp-postfix=":"></label>*@
                                            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                            <nop-required />
                                            <span asp-validation-for="TimeZoneId"></span>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-fields ac-type-customer widthpart">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-6 fieldCol">
                                    <input asp-for="Password" placeholder="@T("bazar.Password")" />
                                    <nop-required />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-6 fieldCol">
                                    <input asp-for="ConfirmPassword" placeholder="@T("bazar.ConfirmPassword")" />
                                    <nop-required />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                    <div class="acceptance">
                        <span>
                            @T("nb.agreeSignup") <a class="read highlight" id="" target="_blank" href="/termsconditionmksweets">@T("App.Profile.ButtonTermsCondition")</a>
                            <br />
                            @T("nb.and") <a class="read highlight" id="read-privacyinfo" target="_blank" href="/privacy-policy-mks">@T("App.Profile.ButtonPrivacypolicy")</a>
                        </span>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("NB.APP.LoginPage.Sendotp")" name="register-button" />
                </div>
            </form>
        </div>
        <div class="signupOptionBar clearfix">@T("nb.already.Have.Account") <a href="/login">@T("nb.loginNow")</a></div>
    </div>
    @*@{
            var externalMethods = await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication");

            if (!String.IsNullOrEmpty(externalMethods.ToHtmlString()))
            {
                <div class="external-authentication">
                    @externalMethods
                </div>
            }
        }*@
    <script>
                 $(document).on('click',"#btnCustomer",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("Customer");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btndeliveryAgent",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("RestaurantOwner");
                    showHideRegisterFields();
                 });
    $(document).on('click',"#btnSeller",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("RestaurantOwner");
                    showHideRegisterFields();
    });
        $(document).on('click',"#btnStoreOwner",function () {
                    $("#@Html.IdFor(model => model.RegisterationType)").val("StoreOwner");
                    showHideRegisterFields();
                 });
                 function showHideRegisterFields() {
                    var type = $("#@Html.IdFor(model => model.RegisterationType)").val();

                     if (type == 'Customer') {
                        $("#@Html.IdFor(model => model.Password)").val("");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("");
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-storeOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).show();
                        });
                    }
                     else if (type == 'RestaurantOwner') {
                         $("#@Html.IdFor(model => model.Password)").val("");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("");
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).show();
                        });
                        $('.ac-type-storeOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).show();
                        });
                     }
                    else if (type == 'StoreOwner') {
                        $("#@Html.IdFor(model => model.Password)").val("StoreOwner@123");
                        $("#@Html.IdFor(model => model.ConfirmPassword)").val("StoreOwner@123");
                        $('.ac-type-storeOwner').each(function () {
                            $(this).show();
                        });
                        $('.ac-type-restaurantOwner').each(function () {
                            $(this).hide();
                        });
                        $('.ac-type-customer').each(function () {
                            $(this).hide();
                        });
                    }
                }
                $(document).ready(function () {
                    showHideRegisterFields();
                });
                $(document).ready(function() {
            $(document).on('click','.register-next-step-button',function () {
                $(".register-next-step-button").removeClass("active");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).addClass("active");
            });
            });
    </script>
    <script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.VenueName)").on('blur', function () {
            var venuename = $("#@Html.IdFor(model => model.VenueName)").val();
            if (venuename == null || venuename == '') {
                $("#spanVenueName").html('@T("NB.Account.Fields.VenueNameEmpty")');
            }
            else {
                var postData = {
                    venueName: venuename
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Customer/VenueNameExistCall",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data) {
                            $("#spanVenueName").html('@T("NB.Account.Fields.Store.VenueNameAlreadyExist")');
                        }
                        else {
                            $("#spanVenueName").html('@T("NB.Account.Fields.Store.VenueNameValid")');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#spanVenueName").html('@T("NB.Account.Fields.Store.PleaseTry")');
                    }
                });
            }
        });
        $("#@Html.IdFor(model => model.VenueURL)").bind('keyup blur', function () {
            var node = $(this);
            node.val(node.val().replace(/[^a-z]/g, ''));
        }
        );
        $("#@Html.IdFor(model => model.VenueURL)").on('blur', function () {
            var venueURL = $("#@Html.IdFor(model => model.VenueURL)").val();
            if (venueURL == null || venueURL == '') {
                $("#spanVenueUrl").html('@T("NB.Account.Fields.VenueUrlEmpty")');
            }
            else {
                var postData = {
                    venueUrl: venueURL
                };
                addAntiForgeryToken(postData);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/Customer/VenueUrlHostExistCall",
                    data: postData,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data) {
                            $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.VenueUrlAlreadyExist")');
                        }
                        else {
                            $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.VenueUrlValid")');
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#spanVenueUrl").html('@T("NB.Account.Fields.Store.PleaseTry")');
                    }
                });
            }
        });
    });
    </script>
    <script>
        $("#findFoodBtnDelivery").click(function () {
            $(".searchLoaderImg").show();
        });
        $("#findFoodBtnTA").click(function () {
            $(".searchLoaderImg").show();
        });
        $("#findFoodBtnAll").click(function () {
            $(".searchLoaderImg").show();
        });
        function setOrderType(type) {
            $("#hdOrderType").val(type);
            for (var i = 0; i <= 2; i++) {
                if (i == type) {
                    $("#allTick" + i).show();
                    $("#RegistrationType").val('P');
                }
                else {
                    $("#allTick" + i).hide();
                    $("#RegistrationType").val('E');
                }
            }
            if (type > 0) {
                $.post("Home/SetOrderType", { orderType: type });
            }
            loadMerchantsAndCategories(type);
        }
        $(document).ready(function () {
            setOrderType(0);
            $("#findFoodBtn").click(function () {
                var type = parseInt($("#hdOrderType").val());
                loadMerchantsAndCategories(type);
            });
        });
      @*  if (@(Model.RegistrationType == "P")) {
            $(".showdiv").show();
            $(".hidediv").hide();
        }*@
    </script>
    <script>
        function showHideFields(regType) {
            if (regType === 'E') {
                $(".showdiv").show();
                $(".hidediv").hide();
            } else {
                $(".showdiv").hide();
                $(".hidediv").show();
            }
        }
    </script>
</section>




