﻿@model Nop.Web.Models.Catalog.ProductTagsImagesModel
@if (Model.TagImages.Count > 0)
{
    <ul class="productTypeImgCn">
        @foreach (var item in Model.TagImages)
        {
            <li class="@item.TagName">
                <div id="dvImageTags_@(item.Id)" class="dv-image-tags-filter" onclick="AjaxFilter.filterByImageTags(@(item.Id));">
                    <img src="@item.ImageUrl" alt="@item.TagName" />
                    @if (Model.ShowAll)
                    {
                        <span>@item.TagName</span>
                    }
                </div>
            </li>
        }
    </ul>
}