﻿@model ProductDetailsModel

@using (Html.BeginForm("AddMoreProducts", "Product", FormMethod.Post, new { ProductId = Model.Id }))
{
    <div class="add_prod_container container">
        <h2>@T("NB.Add.More.Products")</h2>
        <p>@T("NB.Max.Products.Add")</p>
        <div class="divIntersts">
            <div id="container"> </div>
        </div> 
        <input type="hidden" name="ProductId" id="ProductId" value="@Model.Id" />
        <div class="button_container"><input type="button" id="btnAdd" value="@T("NB.Add.More.Products")" /></div>
        <input type="submit" value="@T("Checkout")" class="checkout_btn" />
    </div>
}

<script asp-location="Footer">
    $(document).ready(function () {

        var itemIndex = $("#div input.iHidden").length;
        var newItem = $("<div class='add_prod_table add_prod_table_" + itemIndex + "'><table><tr><td><input id='MoreProducts_" + itemIndex + "_Id' type='hidden' value='' class='iHidden' name = 'MoreProducts[" + itemIndex + "].Id' /> <input type='text' id='MoreProducts" + itemIndex + "_InterestText' class='more_prod_link' placeholder='@T("NB.Product.Link")' name='MoreProducts[" + itemIndex + "].ProductLink' required/> <input type='number'  id='MoreProducts" + itemIndex + "__ProductQty' min="+ 1 + " class='more_prod_btn' placeholder='@T("NB.Product.Quantity")' name='MoreProducts[" + itemIndex + "].ProductQty' required/></tr><tr><td><input type='text'  id='MoreProducts" + itemIndex + "__ProductSpecification' placeholder='@T("NB.Product.Specification")' name='MoreProducts[" + itemIndex + "].ProductSpecification' required/></tr></table></div>");

        $("#container").append(newItem);
    });
    $(function () {
        $("#btnAdd").click(function (e) {
            var itemIndex = $("#container input.iHidden").length;

            var getIndex = itemIndex - 1
            var link = $("input[name='MoreProducts[" + getIndex + "].ProductLink']")
                .map(function () { return $(this).val(); }).get().at(-1);
            var qty = $("input[name='MoreProducts[" + getIndex + "].ProductQty']")
                .map(function () { return $(this).val(); }).get().at(-1);
            var specifications = $("input[name='MoreProducts[" + getIndex + "].ProductSpecification']")
                .map(function () { return $(this).val(); }).get().at(-1);

            if (link == "" || qty == "" || specifications == "") {
                e.preventDefault();
            }
            else {
                if (itemIndex <= 10) {
                    //check conditions
                    var newItem = $("<div id=" + itemIndex + " class='add_prod_table add_prod_table_" + itemIndex + "'><table><tr><td><input id='MoreProducts_" + itemIndex + "_Id' type='hidden' value='' class='iHidden' name = 'MoreProducts[" + itemIndex + "].Id' /> <input type='text' id='MoreProducts" + itemIndex + "_InterestText' class='more_prod_link' placeholder='@T("NB.Product.Link")' name='MoreProducts[" + itemIndex + "].ProductLink' required/> <input type='number'  id='MoreProducts" + itemIndex + "__ProductQty'  min=" + 1 + " class='more_prod_btn' placeholder='@T("NB.Product.Quantity")' name='MoreProducts[" + itemIndex + "].ProductQty' required/></tr > <tr><td><input type='text' id='MoreProducts" + itemIndex + "__ProductSpecification' placeholder='@T("NB.Product.Specification")' name='MoreProducts[" + itemIndex + "].ProductSpecification' required /></tr></table><a href=javascript: void (0); class=remCF>@T("NB.Remove")</a></div> ");
                    $("#container").append(newItem);
                }
            }
            $("#container").on('click', '.remCF', function () {
                $(this).parent().remove();
            });
        });

    });
</script>

