﻿@model Nop.Web.Areas.Admin.Models.Catalog.ProductCuisineMappingModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
<script type="text/javascript">
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ProductCuisine_mapping_details_top", additionalData = Model.Id })
            <div class="panel panel-default panel-popup">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="StoreId" />
                        </div>
                        <div class="col-sm-9">
                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStoreList" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>

                    </div>

                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ProductCuisine_mapping_details_bottom", additionalData = Model.Id })
        </div>
    </div>
</div>