﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel
@{

    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}


        <div class="panel-body">
            <div class="form-group" @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="SearchStoreId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="SearchStoreId" id="ddlStores" asp-items="Model.AvailableStores" />
                    <span asp-validation-for="SearchStoreId"></span>
                </div>
            </div>
            <div class="form-group" @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="SearchVendorId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                    <span asp-validation-for="SearchVendorId"></span>
                </div>
            </div>
            <div class="form-group" @(Model.AvailableStores.Count == 0 ?Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="SearchVendorId" />
                </div>
                <div class="col-md-9">
                    <select asp-for="SearchVendorId" class="form-control" id="ddlVendor"><option value="0">Select</option></select>
                    <span asp-validation-for="SearchVendorId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="FromStringTime" />
                </div>
                <div class="col-md-9">
                    @*<select asp-for="FromStringTime" class="form-control" id="ddlTimingsFrom" (change)="getToTimings()"><option value="0">--Select From --</option></select>*@
                    <nop-select asp-for="FromStringTime" id="ddlTimingsFrom" asp-items="Model.AvailableFromTiming" />
                    <span asp-validation-for="FromStringTime"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ToStringTime" />
                </div>
                <div class="col-md-9">
                    <select asp-for="ToStringTime" class="form-control" id="ddlTimingsTo"><option value="">Select</option></select>
                    <span asp-validation-for="ToStringTime"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsAllDay" />
                </div>
                <div class="col-md-9 checkbox">
                    <label>
                        <nop-editor asp-for="IsAllDay" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsCustomDay" />
                </div>
                <div class="col-md-9 checkbox">
                    <label>
                        <nop-editor asp-for="IsCustomDay" id="customDays" />
                    </label>
                </div>
            </div>
            <div id="WeeksCheckbox" class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsCustomDay" />
                </div>
                <div class="col-md-9 checkbox">
                    <label>
                        <nop-editor asp-for="IsMonday" />
                        @T("Admin.Monday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsTuesday" />
                        @T("Admin.Tuesday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsWednesday" />
                        @T("Admin.Wednesday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsThursday" />
                        @T("Admin.Thursday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsFriday" />
                        @T("Admin.Friday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsSaturday" />
                        @T("Admin.Saturday")
                    </label>
                    <label>
                        <nop-editor asp-for="IsSunday" />
                        @T("Admin.Sunday")
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="IsActive" />
                </div>
                <div class="col-md-9 checkbox">
                    <label>
                        <nop-editor asp-for="IsActive" />
                    </label>
                </div>
            </div>

        </div>
    

<script>

    $(document).ready(function () {
        $("#WeeksCheckbox").hide();
        $(function () {
                if ($("#IsCustomDay").is(':checked')) {
                    $("#WeeksCheckbox").show();
                    $('#IsAllDay').prop('checked', false);
                }
                else {
                    $("#WeeksCheckbox").hide();
                }
        });
        $(function() {
             var storeId = $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "Product"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.SearchVendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

        });
        $(function () {
            var FromTime = $("#ddlTimingsFrom").val();
            if (FromTime != null && FromTime!=0)
            {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "Product"))",
                data: {"From": FromTime },
                contentType: "application/json",
                success: function (data) {
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                        var toTime = '@Model.ToStringTime.ToString()';
                        $("#ddlTimingsTo").val(toTime);
                   
                    
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
        });
    });
    $(function () {
        $("#IsCustomDay").click(function () {
            if ($(this).is(':checked')) {
                $("#WeeksCheckbox").show();
                $('#IsAllDay').prop('checked', false);
            }
            else {
                $("#WeeksCheckbox").hide();
            }
        });
    });
    $(function () {
        $("#IsAllDay").click(function () {
            if ($(this).is(':checked')) {
                $('#IsCustomDay').prop('checked', false);
                $("#WeeksCheckbox").hide();
            }
            else {

            }
        });
    });
      $("#ddlTimingsFrom").change(function () {
          $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "Product"))",
                data: {"From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        $("#ddlTimingsTo").append($("<option></option>").val(option.Value).html(option.Text));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $("#ddlStores").change(function () {
        var storeId = $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "Product"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.SearchVendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
</script>