﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel
@using Nop.Web.Areas.Admin.Models.Schedule
@inject AdminAreaSettings adminAreaSettings

    <div class="panel-body">
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_products_top", additionalData = Model.Id })
        @if (Model.Id > 0)
        {
            @await Html.PartialAsync("Table", new DataTablesModel
                  {
                      Name = "products-grid",
                      UrlRead = new DataUrl("ScheduleProductList", "Product", new RouteValueDictionary { [nameof(ScheduleProductListSearchModel.scheduleId)] = Model.Id }),
                      UrlUpdate = new DataUrl("ScheduleProductUpdate", "Product", null),
                      UrlDelete = new DataUrl("ScheduleProductDelete", "Product", null),
                      Length = Model.PageSize,
                      LengthMenu = Model.AvailablePageSizes,
                      ColumnCollection = new List<ColumnProperty>
                      {
                          new ColumnProperty(nameof(ScheduleProductListModel.Product))
                          {
                              Title = T("Admin.Catalog.Schedule.Products.Fields.Product").Text,
                              Width = "200"
                          },
                           new ColumnProperty(nameof(ScheduleProductListModel.IsFeaturedProduct))
                          {
                              Title = T("Admin.Catalog.Schedule.Products.Fields.IsFeaturedProduct").Text,
                              Width = "100",
                               ClassName = NopColumnClassDefaults.CenterAll,
                Editable = true,
                EditType = EditType.Checkbox,
                              Render = new RenderCustom("renderColumnIsFeaturedProduct")
                          },
                            new ColumnProperty(nameof(ScheduleProductListModel.DisplayOrder))
                          {
                              Title = T("Admin.Catalog.Schedule.Products.Fields.DisplayOrder").Text,
                              Width = "200",
                               ClassName = NopColumnClassDefaults.CenterAll,
                Editable = true,
                EditType = EditType.Number
                          },
                          new ColumnProperty(nameof(ScheduleProductListModel.ProductId))
                          {
                              Title = T("Admin.Common.Edit").Text,
                              Width = "100",
                              ClassName =  NopColumnClassDefaults.Button,
                              Render = new RenderCustom("renderColumnEdit")
                          }
                      }
                  })

            <script>
                function renderColumnEdit(data, type, row, meta) {
                    return '<a class="btn btn-default" href="@Url.Content("~/Admin/Product/Edit/")' + row.ProductId + '"><i class="fa fa-pancel"></i>@T("Admin.Common.Edit")</a>';
                }
                function renderColumnIsFeaturedProduct(data, type, row, meta) {
                    if (row.IsFeaturedProduct) {
                        return '<i class="fa fa-check true-icon"></i>';
                    } else {
                        return '<i class="fa fa-close false-icon"></i>';
                    }

                }
            </script>

                

                <div class="panel-footer">
                    <button type="submit" id="btnAddNewProduct"
                            onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "Product", new {categoryId = Model.Id, btnId = "btnRefreshProducts", formId = "product-form"}))', 800, 800, true); return false;"
                            class="btn btn-primary">
                        @T("Admin.Catalog.Schedule.Products.AddNew")
                    </button>
                    <input type="submit" id="btnRefreshProducts" style="display: none" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefreshProducts').click(function () {
                                //refresh grid
                                updateTable('#products-grid');
                                //return false to don't reload a page
                                return false;
                            });
                        });
                    </script>
                </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @T("Admin.Catalog.Schedule.Products.SaveBeforeEdit")
                </div>
            </div>
        }
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "Admin_Schedule_details_products_bottom", additionalData = Model.Id })
    </div>