﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel
@inject IEventPublisher eventPublisher
@{ 
    const string hideInfoBlockAttributeName = "SchedulePage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideItmesBlockAttributeName = "SchedulePage.HideItmesBlock";
    var hideItmesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideItmesBlockAttributeName, defaultValue: true);

}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="product-panels">
            <nop-panel asp-name="product-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.Schedule.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateSchedule.Info", Model)</nop-panel>
            <nop-panel asp-name="product-items" asp-icon="fa fa-usd" asp-title="@T("Admin.Catalog.Schedule.Itmes")" asp-hide-block-attribute-name="@hideItmesBlockAttributeName" asp-hide="@hideItmesBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdateSchedule.Items", Model)</nop-panel>

    </nop-panels>
        @*<nop-tabs id="product-edit">
                <nop-tab asp-name="tab-info" asp-title="@T("Admin.Catalog.Schedule.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdateSchedule.Info", Model)</nop-tab>
                <nop-tab asp-name="tab-items" asp-title="@T("Admin.Catalog.Schedule.Itmes")">@await Html.PartialAsync("_CreateOrUpdateSchedule.Items", Model)</nop-tab>

            </nop-tabs>*@
</div>
</div>

@{
    //custom tabs
    @*var eventMessage = new AdminTabStripCreated(this.Html, "product-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }*@
}