﻿@model Nop.Web.Areas.Admin.Models.Catalog.ProductTagImageMapppingModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script type="text/javascript">
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_tag_image_mapping_details_top", additionalData = Model.Id })
            <div class="panel panel-default panel-popup">
                <div class="panel-body">
                    @(Html.LocalizedEditor<ProductTagImageMapppingModel, ProductTagImageMapppingLocalizedModel>("producttag-localized",
                                                @<div>
                                                    <div class="form-group">
                                                        <div class="col-sm-3">
                                                            <nop-label asp-for="@Model.Locales[item].Name" />
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <nop-editor asp-for="@Model.Locales[item].Name" />
                                                            <span asp-validation-for="@Model.Locales[item].Name"></span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                                </div>
  ,
                                                                                                                @<div>
                                                                                                                </div>
                                      ))

                    <div class="form-group" >
                        <div class="col-md-2">
                            <nop-label asp-for="SelectedStoreIds" />
                        </div>
                        <div class="col-md-6">
                            <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                                    storesIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                                    @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                    </text>
                            }
                                });
                            </script>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="Name"/>
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Picture_Id"/>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Picture_Id" />
                            <span asp-validation-for="Picture_Id"></span>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_tag_image_mapping_details_bottom", additionalData = Model.Id })
        </div>
    </div>
</div>