﻿@model Nop.Web.Areas.Admin.Models.Catalog.ProductTagImageMapppingModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Catalog.ProductTagsImageMapping.CreateTagDetails").Text;
}

<form asp-controller="Product" asp-action="EditProductTagImageMapping"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductTagsImageMapping.AddTagDetails") - @Model.Name
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_tag_image_mapping_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateProductTagImageMapping", Model)
</form>