﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Schedule.AddNew").Text;
}

@if (ViewBag.RefreshPage == true)
{
<script type="text/javascript">
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}

<form asp-controller="Product" asp-action="ScheduleAddPopup"
      asp-route-categoryId="@Context.Request.Query["categoryId"]"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Categories.Products.AddNew")
        </h1>
        <div class="pull-right">
            &nbsp;
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search panel-popup">
                    <div class="panel-body">
                        <div class="row">
                           
                            <div class="col-sm-6">
                                <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-sm-5">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-sm-7">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" id="search-products" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                           {
                               Name = "products-grid",
                               UrlRead = new DataUrl("ProductAddPopupList", "Category", null),
                               SearchButtonId = "search-products",
                               Length = Model.PageSize,
                               LengthMenu = Model.AvailablePageSizes,
                               Filters = new List<FilterParameter>
                               {
                                   new FilterParameter(nameof(Model.SearchStoreId)),
                               },
                               ColumnCollection = new List<ColumnProperty>
                               {
                                   new ColumnProperty(nameof(ProductModel.Id))
                                   {
                                       IsMasterCheckBox = true,
                                       Render = new RenderCheckBox(nameof(AddProductToCategoryModel.SelectedProductIds)),
                                       ClassName = NopColumnClassDefaults.CenterAll,
                                       Width = "50"
                                   },
                                   new ColumnProperty(nameof(ProductModel.Name))
                                   {
                                       Title = T("Admin.Catalog.Products.Fields.Name").Text
                                   },
                                   new ColumnProperty(nameof(ProductModel.Published))
                                   {
                                       Title = T("Admin.Catalog.Products.Fields.Published").Text,
                                       Width = "100",
                                       ClassName = NopColumnClassDefaults.CenterAll,
                                       Render = new RenderBoolean()
                                   }
                               }
                           })


                    </div>
                    <div class="panel-footer">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>