﻿@model PackageModel
@inject IWorkContext  workContext

<div class="panel-body">
    <div class="form-group" @Html.Raw(!workContext.IsAdminRole?"style='display:none;'":null)>
        <div class="col-md-3">
            <nop-label asp-for="StoreId" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Name" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" asp-required="true" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="PictureId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PictureId" />
            <span asp-validation-for="PictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="ShortDescription" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShortDescription" />
            <span asp-validation-for="ShortDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="FullDescription" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
            <span asp-validation-for="FullDescription"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="UnitLabel" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="UnitLabel" />
            <span asp-validation-for="UnitLabel"></span>
        </div>
    </div>
</div>
