﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;
@using Nop.Services
<div class="panel-group">
    @*@await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_info_top", additionalData = Model.Id })*@
    <div class="panel panel-default">
        <div class="panel-body">
            <input id="Id" value="@Model.Id" type="hidden" />
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AvailableFrom" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="AvailableFrom" id="ddlAvailableFrom" asp-items="Model.AvailableFromTiming" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AvailableTo" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="AvailableTo" id="ddlAvailableTo" asp-items="Model.AvailableToTiming" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (date != null) {
            dateEditChanged(date);
        }

    });
    function dateEditChanged(ev) {
        //$("#ddlTimingsTo").empty();
        $("#ddlTimingsFrom").empty();
        var id = $("#Id").val();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
             data: {"id": id, "date": ev },
             success: function (data) {
                 $("#ddlTimingsFrom").append($("<option></option>").val("-Select Table-").html("--Select From--"));
                 $.each(data.AvailableTimings, function (id, option) {
                     $("#ddlTimingsFrom").append($("<option></option>").val(option.Text).html(option.Value));

                     //$("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                 if (data.From != null) {
                     var string = data.From;
                     if (string != null) {
                         $("#ddlTimingsFrom").val(string);
                         dateFromEditChanged();
                     }

                 }
                 else {
                     $("#ddlTimingsTo").empty();
                 }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
    }
    function dateChanged(ev) {
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        $("#ddlTimingsFrom").empty();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
             data: {"id":0, "date": ev.target.value },
             success: function (data) {
                 $("#ddlTimingsFrom").append($("<option></option>").val("-Select Table-").html("--Select From--"));
                 $.each(data.AvailableTimings, function (id, option) {
                     $("#ddlTimingsFrom").append($("<option></option>").val(option.Text).html(option.Value));
                     //$("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
    }
    function dateFromEditChanged() {
        var FromTime = $("#ddlTimingsFrom").val();
        var id = $("#Id").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: {"id":id, "From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTimingsTo").append($("<option></option>").val("-Select Table-").html("--Select To--"));
                    $.each(data, function (id, option) {

                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value).select(option.Selected));
                        if (option.Selected) {
                            $("#ddlTimingsTo").val(option.Value);
                            SelectedTables();
                        }
                        // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    }
      $("#ddlTimingsFrom").change(function () {
          $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: {"id":0, "From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTimingsTo").append($("<option></option>").val("-Select Table-").html("--Select To--"));
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    function SelectedTables() {
         $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
        var date = $("#inputBookingDate").val();
        var id = $("#Id").val();
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: {"id":id, "From": FromTime, "To": ToTime,"date":date },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTables").append($("<option></option>").val("-Select Table-").html("--Select Table--"));
                 $.each(data, function (id, option) {

                     $("#ddlTables").append($("<option></option>").val(option.Text).html(option.Value));
                     if (option.Selected) {
                         $("#ddlTables").val(option.Value);
                     }
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
    }
    $("#ddlTimingsTo").change(function () {
            $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
            var date = $("#inputBookingDate").val();
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: { "id": 0, "From": FromTime, "To": ToTime, "date": date },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTables").append($("<option></option>").val("-Select Table-").html("--Select Table--"));
                 $.each(data, function (id, option) {

                     $("#ddlTables").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            minDate: new Date()
        }
        ).change(dateChanged)
            .on('changeDate', dateChanged); //Initialise any date pickers
    });
</script>
