@model GeneralCommonSettingsModel

    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="StoreInformationSettings.FaviconPictureId_OverrideForStore" asp-parent-container="logo-block" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="StoreInformationSettings.FaviconPictureId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="StoreInformationSettings.FaviconPictureId" />
                <span asp-validation-for="StoreInformationSettings.FaviconPictureId"></span>
            </div>
        </div>
        @*<p>
            @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.Description")
        </p>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="button" name="uploadiconsarchive" class="btn bg-olive" data-toggle="modal" data-target="#uploadiconsarchive-window">
                    <i class="fa fa-upload"></i>
                    @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive")
                </button>
            </div>
        </div>*@
    </div>