﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListModel
@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.booking.Edit").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Booking Table Setting");
}

<form asp-controller="Setting" asp-action="Edit" method="post" id="order-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.booking.Edit") 
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="BookTable">@T("Admin.booking.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>

          
            <input type="submit" id="btnRefreshPage" style="display: none" />
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#btnRefreshPage').click(function () {
                        //refresh pageed
                        location.reload();
                    });
                });
            </script>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_buttons", additionalData = Model.Id })
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="order-edit">
                <nop-tab asp-name="tab-info" asp-title="@T("Admin.Orders.Info")" asp-default="true">@await Html.PartialAsync("_BookingDetails.Info", Model)</nop-tab>
              
            </nop-tabs>
        </div>
    </div>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "order-edit");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="order-delete" />