
@{
    Layout = "_ColumnsOne";
    //page class
    Html.AppendPageCssClassParts("marchengDetails-page");
}
<script src="~/js/public.ajaxcart.js?v=2.0002"></script>
<script src="~/js/public.common.js"></script>
<script src="~/js/public.ajax.filter.js"></script>


<div class="marchengDetails">
    @if (ViewBag.Success != null)
    {
        <div class="modal fade" id="onloadPopup">
            <div class="modal-body">
                <a href="#" rel="modal:close" class="close" data-dismiss="modal">×</a>
                <h2>@T("thanks.booking.text")</h2>
                <p>@T("booking.accepted.text")</p>
                <img src="/Themes/MicroShipping/Content/img/thanksYouImg1.png" />
            </div>
        </div>
        <script>
            $(function () {
                $('#onloadPopup').show();
                $('body').addClass('onLPop');
                $('#onloadPopup .close').click(function () {
                    $('#onloadPopup').hide();
                    $('body').removeClass('onLPop');
                });
            });

        </script>
    }
    <section id="restaurInfoSectionArea" class="restaurInfoSection clearfix">
        <div class="restaurInfoSectionAreaTop">
            <div class="container-fluid">
                <div class="">


                </div>
            </div>
        </div>
    </section>
    <div class="foodMenuSectionBg">
        <section class="menuItemSection clearfix">
            <div class="row">
                <div class="menuItemsBlock col-lg-12 col-md-12 col-xs-12 centerBoxMerchant">
                    <div id="dvItems" class="item-grid">
                        @await Component.InvokeAsync("HomepageProductsMerchant", new { isBestSeller = true, pageNumber = 1, maxPrice = int.MaxValue })
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="newsletterSection">
        <div class="container">
            @await Component.InvokeAsync("NewsletterBox")
        </div>
    </section>
    @await Component.InvokeAsync("TopicBlock", new { systemName = "ReadyToOrder" })
</div>
<script>
    //var cartCount = 0;
    //$(".checkOutBlock .itemList .bar").each(function () {
    //    if (typeof $(this).find('small').html() !== 'undefined') {
    //        cartCount = cartCount + parseInt($(this).find('small').html());
    //    }
    //});
    //$(".miniCartRightFilter .numberOfItems span").html(cartCount);
    //$(".headerCart a span").html(cartCount);
    //$(".miniCartRightFilter .numberOfItems span").html($(".checkOutBlock .itemList .bar").length);
    //keywords filter
    $("input:text[name='txtKeywords']").on("keyup", function (e) {
        var key = e.which;
        if (key == 13) {
            AjaxFilter.filterItems();
        }
    });
</script>


