﻿@model DynamicSQLSortQueryBuilderModel

@using Nop.Core;

@{
    var sqlQueryWithoutWhereClause = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model.RawSQLQuery))
    {
        var sortClauseIndex = Model.RawSQLQuery.IndexOf("ORDER BY");
        if (sortClauseIndex > -1)
        {
            sqlQueryWithoutWhereClause = Model.RawSQLQuery.Substring(sortClauseIndex);
        }
    }

    var uniqueId = CommonHelper.GenerateRandomDigitCode(9);
}

<script type="text/javascript">
    $(function() {
        var filters = @Html.Raw(Model.Filters);

        var rules = {
            condition: 'AND',
            rules: [{
                id: '@(((DynamicDataSourceEntityType)Model.DynamicDataSourceEntityTypeId).GetEntityQueryName())' + '.Id',
                operator: 'is_null'
            }]
        };

        var jquerySortQueryBuilder = $('#@uniqueId #jquery-sort-query-builder').queryBuilder({
            plugins: ['unique-filter'],
            filters: filters,
            rules: rules,
            allow_empty: false,
            display_empty_filter: false,
            sort_filters: true,
            default_group_flags: { condition_readonly: true, no_add_group: true },
            conditions: ['AND'],
            lang: {
                operators: {
                    is_null: 'Ascending',
                    is_not_null: 'Descending'
                },
                conditions: {
                    AND: 'Sort by'
                },
                errors: {
                    no_filter: "At least one sort rule must be defined"
                }
            },
            icons: {
                add_group: 'fa fa-plus-square',
                add_rule: 'fa fa-plus-circle',
                remove_group: 'fa fa-minus-square',
                remove_rule: 'fa fa-minus-circle',
                error: 'fa fa-exclamation-triangle',
                sortable: 'fa fa-exclamation-triangle'
            }
        });

        var convertSQLSortQueryToJQuerySortQuery = function (query) {
            if (query != null)
                return query.replace(/,/g, " AND ").replace(/DESC/g, "IS NOT NULL").replace(/ASC/g, "IS NULL").replace(/ORDER BY/g, "");

            return query;
        }

        @if (!string.IsNullOrWhiteSpace(sqlQueryWithoutWhereClause))
        {
            <text>
                jquerySortQueryBuilder.queryBuilder('setRulesFromSQL', convertSQLSortQueryToJQuerySortQuery("@Html.Raw(sqlQueryWithoutWhereClause)"));
            </text>
        }

        var isClearRuleErrorFunctionRunning = false;
        jquerySortQueryBuilder.on('beforeDeleteRule.queryBuilder', function (e, rule) {
            if (rule.$el.parent().find(".rule-container").length <= 1) {
                e.preventDefault();

                if (!isClearRuleErrorFunctionRunning) {
                    isClearRuleErrorFunctionRunning = true;

                    rule.error = ["no_filter"];
                    jquerySortQueryBuilder.queryBuilder('updateError', rule);

                    var end = setInterval(function () {
                        rule.error = null;
                        jquerySortQueryBuilder.queryBuilder('updateError', rule);

                        isClearRuleErrorFunctionRunning = false;
                        clearInterval(end);
                    }, 5000);
                }
            }
        });

        jquerySortQueryBuilder.find('.rules-list .rule-container').each(function (i, obj) {
            if (i == 0)
                return true;//continue
            $(obj).find(".rule-filter-container").prepend("<label class='sort-then-by'>Then by</span>");
        });

        jquerySortQueryBuilder.on('afterCreateRuleFilters.queryBuilder', function (e, rule) {
            if (e.builder.$el.find(".rules-list .rule-container").length > 1)
                rule.$el.find(".rule-filter-container").prepend("<label class='sort-then-by'>Then by</span>");
        });

        jquerySortQueryBuilder.on('afterDeleteRule.queryBuilder', function (e) {
            if (e.builder.$el.find(".rules-list .rule-container").length > 0)
                e.builder.$el.find(".rules-list .rule-container").first().find(".rule-filter-container .sort-then-by").remove();
        });
    });
</script>

<div id="@uniqueId">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Filters" />
        </div>
        <div class="col-md-9">
            <div id="jquery-sort-query-builder"></div>
        </div>
    </div>
</div>
