﻿@model DynamicDataSourceModel

<script type="text/javascript">
    $('#dynamic-data-source-form').on('submit', function (e) {
        if (validateQueryBuilders()) {
            var rawSQLQuery = getSQL();
            $('#@Html.IdFor(model => model.RawSQLQuery)').val(rawSQLQuery);
        }
        else
            e.preventDefault();
    });
</script>

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="dynamic-data-source-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.Info")" asp-default="true">@await Html.PartialAsync(Constants.DynamicDataSourceInfoTabAdminPartialViewPath, Model)</nop-tab>
        </nop-tabs>
    </div>
</div>