﻿@model DynamicDataSourceSearchModel
@using Resanehlab.Plugin.Core.Helpers
@{
    Layout = Constants.AdminLayoutViewPath;

    //page title
    ViewBag.Title = T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.ManageDynamicDataSources").Text;
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.ManageDynamicDataSources")
    </h1>
    <div class="pull-right">
        <a asp-route="Resanehlab.Plugin.Core.Admin.DynamicDataSource.Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group" @(Model.AvailableDynamicDataSourceEntityTypes.SelectionIsNotPossible(false) ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchDynamicDataSourceEntityTypeId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchDynamicDataSourceEntityTypeId" asp-items="Model.AvailableDynamicDataSourceEntityTypes" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search-dynamic-data-sources" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="dynamic-data-sources-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#dynamic-data-sources-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("DynamicDataSourceList", "DynamicDataSourceAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    SearchName: $('#@Html.IdFor(model => model.SearchName)').val(),
                                                    SearchDynamicDataSourceEntityTypeId: $('#@Html.IdFor(model => model.SearchDynamicDataSourceEntityTypeId)').val(),
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Name",
                                        title: "@T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.Fields.Name")",
                                        width: 400
                                    },
                                    {
                                        field: "DynamicDataSourceEntityType",
                                        title: "@T("Resanehlab.Plugin.Core.Admin.DynamicDataSource.Fields.DynamicDataSourceEntityType")",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        width: 150
                                    },
                                    {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="@(RLUrlHelper.GetAbsoluteUrlInStore("/Admin/Plugin/ResanehlabCore/DynamicDataSource/Edit/#=Id#"))"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }]
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function () {
                            //search button
                            $('#search-dynamic-data-sources').click(function () {
                                //search
                                var grid = $('#dynamic-data-sources-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
