﻿@model MerchantCategoryModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content merchantCategory-content">
    <div class="form-horizontal">
        <nop-panels id="merchantCategory-panels2">
            <nop-panel asp-name="merchantCategory-info" asp-icon="fa fa-info" asp-title="@T("NB.Admin.MerchantCategory.Info")" asp-hide-block-attribute-name="merchantCategory-info" asp-hide="false" asp-advanced="false">
                <div class="panel-body">
                    @(Html.LocalizedEditor<MerchantCategoryModel, MerchantCategoryLocalizedModel>("merchantcategory-info-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.Locales[item].Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.Locales[item].ShortDescription" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="@Model.Locales[item].ShortDescription" />
                                <span asp-validation-for="@Model.Locales[item].ShortDescription"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="ShortDescription" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="ShortDescription" />
                                <span asp-validation-for="ShortDescription"></span>
                            </div>
                        </div>
                    </div>))
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PictureId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PictureId" />
                            <span asp-validation-for="PictureId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Published" />
                            <span asp-validation-for="Published"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StoreId" />
                        </div><span class="required" style="float:right;">*</span>
                        <div class="col-md-9">
                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />

                        </div>
                    </div>
                </div>
            </nop-panel>
            <nop-panel asp-name="merchantCategory-vendors" asp-icon="fa fa-th-list" asp-title="@T("NB.Admin.MerchantCategoryMerchant.Merchants")" asp-hide-block-attribute-name="Merchants" asp-hide="false" asp-advanced="true">@await Html.PartialAsync("_CreateOrUpdate.Merchants", Model)</nop-panel>
        </nop-panels>
    </div>
</div>