﻿@model AddMerchantToMerchantCategorySearchModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("NB.Admin.MerchantCategoryMerchant.Merchants.AddNew").Text;
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}
else
{
    <form asp-controller="NBMerchantCategory" asp-action="MerchantCategoryMerchantAddPopup"
          asp-route-merchantCategoryId="@Context.Request.Query["merchantCategoryId"]"
          asp-route-storeId="@Context.Request.Query["storeId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("NB.Admin.MerchantCategoryMerchant.Merchants.AddNew")
            </h1>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search panel-popup">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <nop-label asp-for="SearchMerchantName" />
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-editor asp-for="SearchMerchantName" />
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none;">
                                        <div class="col-sm-5">
                                            <nop-label asp-for="StoreId" />
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-editor asp-for="StoreId" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" id="search-merchants" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            @await Html.PartialAsync("Table", new DataTablesModel
                            {
                                Name = "merchants-grid",
                                UrlRead = new DataUrl("MerchantAddPopupList", "NBMerchantCategory", null),
                                SearchButtonId = "search-merchants",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                {
                                    new FilterParameter(nameof(Model.SearchMerchantName)),
                                    new FilterParameter(nameof(Model.StoreId))
                                },
                                ColumnCollection = new List<ColumnProperty>
                                {
                                    new ColumnProperty(nameof(VendorModel.Id))
                                    {
                                        IsMasterCheckBox = true,
                                        Render = new RenderCheckBox(nameof(AddMerchantToMerchantCategoryModel.SelectedMerchantIds)),
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Width = "50"
                                    },
                                    new ColumnProperty(nameof(VendorModel.Name))
                                    {
                                        Title = T("Admin.Vendors.Fields.Name").Text
                                    },
                                    new ColumnProperty(nameof(VendorModel.Active))
                                    {
                                        Title = T("Admin.Vendors.Fields.Active").Text,
                                        Width = "100",
                                        ClassName = NopColumnClassDefaults.CenterAll,
                                        Render = new RenderBoolean()
                                    }
                                }
                            })
                        </div>
                        <div class="panel-footer">
                            <button type="submit" name="save" class="btn bg-blue">
                                <i class="fa fa-floppy-o"></i>
                                @T("Admin.Common.Save")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}