
body {
	font: normal 9pt Arial, Helvetica, sans-serif;
	color: #231f20;
}
table {
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
li {
	list-style: none;
}
a {
	color: inherit;
}

.order-details-page .order-overview {
	margin: 0 0 25px;
}
.order-details-page .order-overview .order-number {
	font-size: 11pt;
	text-transform: uppercase;
}
.order-details-page .order-overview .order-total {
	margin: 10px 0 0;
}
.order-details-page .order-overview .order-total strong {
	font-size: 10pt;
}

.order-details-page .order-details-area {   
	margin: 0 0 25px;
	overflow: hidden;
}
.order-details-page .order-details-area ul {
	float: left;
	width: 40%;
	margin: 0 5%;
	padding: 0;
}
.order-details-page .order-details-area li.title {
	margin: 10px 0 5px;
	font-weight: bold;
}
.order-details-page .order-details-area li:first-child {
	margin-top: 0;
}

.order-details-page .data-table {
	border: 1px solid;
}
.order-details-page .data-table th {
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 5px 10px;
	font-weight: bold;
	white-space: nowrap;
}
.order-details-page .data-table td {
	border-right: 1px solid;
	border-bottom: 1px solid;
	padding: 5px 10px;
}
.order-details-page .data-table .sku,
.order-details-page .data-table .unit-price,
.order-details-page .data-table .quantity,
.order-details-page .data-table .total {
    white-space: nowrap;
    text-align: center;
}
.order-details-page .data-table .unit-price,
.order-details-page .data-table .quantity,
.order-details-page .data-table .total {
	width: 15%;
}
.order-details-page .data-table label {
	display: none;
}

.order-details-page .section {
	margin: 30px 0;
}
.order-details-page .section .title {
	margin: 0 0 10px;
}
.order-details-page .tax-shipping-info,
.order-details-page .selected-checkout-attributes {
	margin: 20px 0;
	text-align:right;
}

.order-details-page .cart-total-right {
    white-space: nowrap;
}
.order-details-page .cart-total td {
	padding: 5px 10px;
	text-align: right;
}
.order-details-page td.cart-total-left {
	width: 100%;
	font-weight: bold;
}