﻿@model Nop.Plugin.Payments.MasterCardHosted.Models.PaymentInfoModel
@{
    Layout = "_ColumnsOne";
}

<div>
    Please wait you will be redirected to Payment page.
</div>

<script src="@Model.CheckoutJsUrl"
        asp-location="Footer"></script>

 @*data-complete="completeCallback"
        data-cancel="cancelCallback"
        data-beforeRedirect="beforeRedirect"*@
@*data-afterRedirect="afterRedirect"*@

<script type="text/javascript" asp-location="Footer">

    var resultIndicator = null;
    var merchantId = "@Model.MerchantId";
    var sessionId = "@Model.CheckoutSession.Id";
    var sessionVersion = "@Model.CheckoutSession.Version";
    var successIndicator = "@Model.CheckoutSession.SuccessIndicator";
    var orderId = "@Model.OrderId";
    var currency = "@Model.Currency";

    @*function beforeRedirect() {
        return {
            successIndicator: '@Model.CheckoutSession.SuccessIndicator',
            orderId: '@Model.OrderId'
        };
    }*@

    //function afterRedirect(data) {
    //    debugger;
    //    console.log("afterRedirect", data);
    //    debugger;
    //    if (resultIndicator === "CANCELED") {
    //        return;
    //    }

    //    else if (resultIndicator) {
    //        var result = (resultIndicator === data.successIndicator) ? "SUCCESS" : "ERROR";
    //        window.location.href = "/Plugins/PaymentMasterCardHosted/SuccessPayment/" + data.orderId + "/" + result;
    //    }
    //    else {
    //        successIndicator = data.successIndicator;
    //        orderId = data.orderId;
    //        sessionId = data.sessionId;
    //        sessionVersion = data.sessionVersion;
    //        merchantId = data.merchantId;
    //        window.location.href = "/Plugins/PaymentMasterCardHosted/SuccessPayment/" + data.orderId + "/" + data.successIndicator;
    //    }
    //}

    //function cancelCallback() {
    //    debugger;
    //    return '/Plugins/PaymentMasterCardHosted/CancelPayment/' + orderId;

    //    //console.log('Payment cancelled');
    //    //resultIndicator = "CANCELED";
    //    //window.location.href = '/Plugins/PaymentMasterCardHosted/CancelPayment/' + orderId;
    //}

    //function completeCallback(response) {
    //    debugger;
    //    return "/Plugins/PaymentMasterCardHosted/SuccessPayment/" + orderId + "/SUCCESS";

    //    //console.log("completeCallback", response);
    //    //resultIndicator = response;
    //    //var result = (resultIndicator === successIndicator) ? "SUCCESS" : "ERROR";
    //    //window.location.href = "/Plugins/PaymentMasterCardHosted/SuccessPayment/" + orderId + "/" + result;
    //}

    Checkout.configure({
        merchant: '@Model.MerchantId',
        order: {
            amount: '@Model.OrderTotal',
            currency: '@Model.Currency',
            description: '@T("Plugins.Payments.MasterCardHosted.Fields.OrderDescription")'
        },
        session: {
            id: '@Model.CheckoutSession.Id'
        },
        billing: {
            address: {
                street: '@Model.BillinAddress',
                city: '@Model.City',
                postcodeZip: '@Model.PostalCode',
                stateProvince: '@Model.StateName',
                country: '@Model.CountryName'
            }
        },
        interaction: {
            merchant: {
                name: '@T("Plugins.Payments.MasterCardHosted.Fields.MerchantName")'
            }
        }
    });

    $(document).ready(function () {
        Checkout.showPaymentPage();
    });
</script>