﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body form-inputs">        
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="result">
                @Html.Raw(Model.Result)
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">           
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="row">
                    <div class="col-md-6">
                        <input asp-for="OldPassword" type="password" id="OldPassword" placeholder="@T("Account.ChangePassword.Fields.OldPassword")" />
                        <nop-required />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="NewPassword" type="password" id="NewPassword" placeholder="@T("Account.ChangePassword.Fields.NewPassword")" />
                        <nop-required />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input asp-for="ConfirmNewPassword" type="password" id="ConfirmNewPassword" placeholder="@T("Account.ChangePassword.Fields.ConfirmNewPassword")" />
                        <nop-required /> 
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 SaveButton">
                <input type="submit" class="button-1 change-password-button" value="@T("nb.save")" />
            </div>
        </form>
    </div>
</div> 