﻿@model CustomerFavoriteMerchantsModel

@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-list-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.MyFavoriteMerchants })
}

<div class="page account-page address-list-page">
    <div class="page-body AccountFavoriteMerchant">
        <div class="page-title"><h1>@T("NB.Account.FavoriteMerchant")</h1></div>
        <div class="right-container">
            <div class="favoriteMerchantBlock col-lg-12">
                @await Html.PartialAsync("_FavoriteMerchantList", Model)
            </div>
        </div>
    </div>
</div>

