﻿@model PackagePaymentInfoModel
@using System.Text.Encodings.Web
@using Nop.Core
@using Nop.Web.Models.NB.CustomerPackage
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PackagePayment").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}


<section class="loginSection signupSection clearfix">
    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("NB.Package.PackagePayment")</h2>
        </div>

        <div class="formDetails clearfix">
            <form asp-action="PackagePayment" method="post">
                <div asp-validation-summary="All" class="message-error"></div>
                <input asp-for="CustomerId" type="hidden" />
                <input asp-for="Price" type="hidden" />
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <table width="100%" cellspacing="2" cellpadding="1" border="0">
                                        <tr>
                                            <td>
                                                <label asp-for="CreditCardTypes">@T("Payment.SelectCreditCard"):</label>
                                            </td>
                                            <td>
                                                <select asp-for="CreditCardType" asp-items="Model.CreditCardTypes" class="dropdownlists"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="CardholderName" style="width:165px;" autocomplete="off" />
                                                <span asp-validation-for="CardholderName"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="CardNumber" style="width:165px;" autocomplete="off" maxlength="22" />
                                                <span asp-validation-for="CardNumber"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
                                            </td>
                                            <td>
                                                <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
                                                /
                                                <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardCode">@T("Payment.CardCode"):</label>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="CardCode" style="width:60px;" autocomplete="off" maxlength="4" />
                                                <span asp-validation-for="CardCode"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="SaveCardDetail">
                    <input type="checkbox" id="SaveCardDetail" asp-for="SaveCardDetail" />
                    <label for="SaveCardDetail">@T("NB.Package.PackagePayment.Subscribtion.CardSaved.Message")</label>
                </div>

                <div class="buttons">
                    <input type="submit" class="button-1" value="@T("NB.Package.PackagePayment.MakePayment")" name="verify-Payment-button" />
                </div>

                @*<div class="buttons">
                    <input type="button" id="cancel" class="button-1 register-next-step-button" value="@T("NB.Package.PackagePayment.Cancel")" />
                </div>*@

            </form>
        </div>
    </div>
</section>

<section class="loginSection signupSection clearfix">
    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("NB.Package.PackagePayment.Subscribtion.SubscribtionTitle")</h2>
        </div>

        <div class="fieldset">
            <div class="form-fields">
                <div class="fieldBar clearfix">
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" cellspacing="2" cellpadding="1" border="0">
                                <tr>
                                    <td>
                                        <label asp-for="CreditCardTypes">@T("Payment.SelectCreditCard"):</label>
                                    </td>
                                    <td>
                                        @Model.PackageName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
                                    </td>
                                    <td>
                                        @Model.PlanName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
                                    </td>
                                    <td>
                                        @Model.Validity
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
                                    </td>
                                    <td>
                                        @Model.Price
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    $("#cancel").click(function () {
        window.location.href="home"
    });
</script>
