﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <div class="footer-block customer-service col-md-5">
                    <ul class="list">
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})" target="_blank">@topic.Name</a></li>
                        }
                        @*@if (Model.AllowCustomersToCheckGiftCardBalance)
                            {
                                <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                            }
                            @if (Model.DisplayCustomerInfoFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                            }
                            @if (Model.DisplayCustomerOrdersFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrder")</a></li>
                            }
                            @if (Model.DisplayCustomerAddressesFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddress")</a></li>
                            }
                            @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                            {
                                <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                            }*@
                    </ul>
                </div>
                <div class="footer-whatsapp col-md-3">
                    <ul class="list">
                        <li>
                            @await Component.InvokeAsync("TopicBlock", new { systemName = "FooterWhatsapp" })
                            
                        </li>
                    </ul>
                </div>
                <div class="footer-info col-md-4">
                    <span class="footer-disclaimer" dir="ltr">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                    @if (Model.DisplayTaxShippingInfoFooter)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        <span class="footer-tax-shipping">
                            @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                //debugger
                //$(this).siblings('.list').slideToggle('slow');
            }
        });

    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            //debugger
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>