﻿@{
    Layout = "";
}

<li class="customer-phonenumber-verify">
    <a href="@Url.RouteUrl("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberVerification")">@T("Resanehlab.Plugin.Authentication.PhoneNumber.Account.VerifyPhoneNumber")</a>
</li>