@model PaymentMethodsModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Payment.Methods").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Payment methods");

    const string hideSearchBlockAttributeName = "PamentMethodsPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<style>

    .row td:first-child { display: none; }
    .row th:first-child { display: none; }
</style>
<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Payment.Methods")
    </h1>
</div>
<form>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.PaymentMethodListTop, additionalData = Model })
            
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="StoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" style="display:none;" id="search-methods" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>
                        @T("Admin.Configuration.Payment.Methods.DownloadMorePlugins")
                    </p>

                    @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "paymentmethods-grid",
                   UrlRead = new DataUrl("Methods", "Payment", new RouteValueDictionary { [nameof(PaymentMethodSearchModel.StoreId)] = Model.StoreId }),
                   UrlUpdate = new DataUrl("MethodUpdate", "Payment"),
                   SearchButtonId = "search-methods",
                   Length = Model.PaymentsMethod.PageSize,
                   LengthMenu = Model.PaymentsMethod.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.StoreId))
                        },
                   ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(PaymentMethodModel.StoreId))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.Store").Text,
                                    Editable=true,
                                    EditType=EditType.Number,
                                    Width = "10"
                                },
                            new ColumnProperty(nameof(PaymentMethodModel.FriendlyName))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.FriendlyName").Text,
                                    Width = "250",
                                    Editable = true,
                                    EditType = EditType.String
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SystemName))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.SystemName").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.LogoUrl))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.Logo").Text,
                                    Width = "100",
                                    Render = new RenderPicture()
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SupportCapture))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.SupportCapture").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SupportRefund))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.SupportRefund").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SupportPartiallyRefund))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.SupportPartiallyRefund").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SupportVoid))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.SupportVoid").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.RecurringPaymentType))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.RecurringPaymentType").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.DisplayOrder))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.DisplayOrder").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Editable = true,
                                    EditType = EditType.Number
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.IsActive))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Fields.IsActive").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean(),
                                    Editable = true,
                                    EditType = EditType.Checkbox
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SystemName))
                                {
                                    Title = T("Admin.Configuration.Payment.Methods.Configure").Text,
                                    Width = "150",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderCustom("renderColumnConfigure")
                                },
                                new ColumnProperty(nameof(PaymentMethodModel.SystemName))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "200",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonsInlineEdit()
                                }
                            }
               });

                    <script>
                        function renderColumnConfigure(data, type, row, meta) {
                            if (row.ConfigurationUrl && row.ConfigurationUrl.length > 0) {
                                return '<a class="btn btn-default" href="' + row.ConfigurationUrl + '"><i class="fa fa-cog"></i>@T("Admin.Configuration.Payment.Methods.Configure")</a>';
                            } else {
                                return '';
                            }
                        }
                        $(document).ready(function () {
                            $("#@Html.IdFor(model => model.StoreId)").change(function () {
                                $("#search-methods").click();
                            });
                        });
                    </script>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.PaymentMethodListBottom, additionalData = Model })
        </div>
    </div>
</div>
</form>