﻿@model LoginModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@inject Nop.Web.Framework.Themes.IThemeContext themeContext

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");
    var themeName = themeContext.WorkingThemeName;

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + "/Themes/{0}/" + Constants.PluginCssPath + "{1}", themeName, "style.css"));

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "bootstrap.min.css"));

    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + "{0}", "bootstrap.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "additional-methods.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "jquery.validate.min.js"));

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", null, webHelper.CurrentRequestProtocol);
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl", this.Context.Request.Query["returnUrl"]);
    }
}
<div class="page login-page">
    <div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    @await Html.PartialAsync(Constants.WebCustomerViewsPath + "_ExternalAuthentication.Errors.cshtml")
    <div class="page-body">
        <div class="customer-blocks">
            <ul class="nav nav-tabs nav-justified" id="loginTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ReturningCustomer-tab" data-toggle="tab" href="#ReturningCustomer" role="tab" aria-controls="ReturningCustomer" aria-selected="true">@T("Account.Login.ReturningCustomer")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="NewCustomer-tab" data-toggle="tab" href="#NewCustomer" role="tab" aria-controls="NewCustomer" aria-selected="false">@T("Account.Login.NewCustomer")</a>
                </li>
            </ul>
            <div class="tab-content" id="LoginTabContent">
                <div class="tab-pane show active" id="ReturningCustomer" role="tabpanel" aria-labelledby="ReturningCustomer-tab">
                    <div class="returning-wrapper fieldset">
                        @await Html.PartialAsync(Constants.EmailOrPhoneNumberFormPartialViewPath, Model.EmailOrPhoneNumberFormModel)
                    </div>

                </div>
                <div class="tab-pane" id="NewCustomer" role="tabpanel" aria-labelledby="NewCustomer-tab">
                    @if (Model.CheckoutAsGuest)
                    {
                        <div class="new-wrapper checkout-as-guest-or-register-block">
                            <div class="title">
                                <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                            </div>
                            <div class="text">
                                @await Component.InvokeAsync("TopicBlock", new { systemName = "CheckoutAsGuestOrRegister" })
                            </div>
                            <div class="buttons">
                                <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                                <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="new-wrapper register-block">
                            <div class="title">
                                <strong>@T("Account.Login.NewCustomer")</strong>
                            </div>
                            <div class="text">
                                @T("Account.Login.NewCustomerText")
                            </div>
                            <div class="buttons">
                                <input type="button" class="button-1 register-button btn-primary-sm" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                            </div>
                        </div>
                    }
                </div>
                <div class="external-authentication">
                    @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
                </div>
                @await Component.InvokeAsync("TopicBlock", new { systemName = "LoginRegistrationInfo" })
            </div>
        </div>
    </div>
</div>