@model CustomerWalletModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Customers.Customers.Wallets.AddMoneyButton").Text;
}

    <form asp-controller="Customer" asp-action="WalletAddMoneyCreatePopup"
          asp-route-productAttributeId="@Context.Request.Query["customerId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("Admin.Customers.Customers.Wallets.AddMoneyButton")
            </h1>
            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        </div>
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="CustomerId" type="hidden" />

        @if (ViewBag.RefreshPage == true)
        {
            <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
            </script>
        }
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-popup">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <nop-label asp-for="Amount" />
                                </div>
                                <div class="col-sm-9 col-xs-9 popUpAmount">
                                    <nop-editor asp-for="Amount" />
                                    <span asp-validation-for="Amount"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <nop-label asp-for="Note" />
                                </div>
                                <div class="col-sm-9 col-xs-9 popUpDescription">
                                    <nop-editor asp-for="Note" />
                                    <span asp-validation-for="Note"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>