﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableTransactionModel

@using Nop.Core.Domain.Tax;
@using Nop.Core.Domain.Orders;
@using Nop.Services

    <script type="text/javascript">
        $(document).ready(function () {
            toggleChangeOrderStatus(false);
           // toggleOrderTotals(false);
            // toggleCC(false);
        });

        function toggleChangeOrderStatus(editmode) {
            if (editmode) {
                $('#pnlChangeOrderStatus').show();
                $('#btnChangeOrderStatus').hide();
            } else {
                $('#pnlChangeOrderStatus').hide();
                $('#btnChangeOrderStatus').show();
            }
        }

        //function toggleOrderTotals(editmode) {
        //    if (editmode) {
        //        $('#trEditOrderTotals').show();
        //        $('#btnEditOrderTotals').hide();
        //        $('#btnSaveOrderTotals').show();
        //        $('#btnCancelOrderTotals').show();
        //    } else {
        //        $('#trEditOrderTotals').hide();
        //        $('#btnEditOrderTotals').show();
        //        $('#btnSaveOrderTotals').hide();
        //        $('#btnCancelOrderTotals').hide();
        //    }
        //}


    </script>


<div class="panel-group">
    @*@await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_info_top", additionalData = Model.Id })*@
    <div class="panel panel-default">
        <div class="panel-body">
            <input id="Id" value="@Model.Id" type="hidden" />
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BookingStatus" />
                </div>
                <div class="col-md-9">
                    <div class="input-group input-group-short">
                        <div class="input-group-text">
                            <strong>
                                <div class="form-text-row">@Model.Status</div>
                            </strong>
                        </div>
                        <div class="input-group-btn">
                            @if (Model.CanCancelBooking)
                            {
                                <button type="submit" name="cancelbooking" id="cancelbooking" class="btn bg-red" style="margin-right: 3px;">
                                    @T("Admin.Orders.Fields.Booking.Cancel")
                                </button>
                                <nop-action-confirmation asp-button-id="cancelbooking" />
                            }
                            <button type="submit" name="btnChangeOrderStatus" onclick="toggleChangeOrderStatus(true);return false;" id="btnChangeOrderStatus" class="btn btn-primary">
                                @T("Admin.Orders.Fields.OrderStatus.Change")
                            </button>
                            <div id="pnlChangeOrderStatus" style="margin-top: 3px;">
                                <nop-select asp-for="BookingStatus" asp-items="Model.AvailableBookingStatus" />
                                <button type="submit" name="btnSaveBookingStatus" id="btnSaveBookingStatus" class="btn btn-primary" style="margin-left: 3px">
                                    @T("Admin.Common.Save")
                                </button>
                                <nop-action-confirmation asp-button-id="btnSaveOrderStatus" />
                                <button type="submit" name="btnCancelOrderStatus" onclick="toggleChangeOrderStatus(false);return false;" id="btnCancelOrderStatus" class="btn bg-teal" style="margin-left: 3px">
                                    @T("Admin.Common.Cancel")
                                </button>
                                @*<div class="input-group-btn-hint">
                                        <em>@T("Admin.Orders.Fields.OrderStatus.Change.ForAdvancedUsers")</em>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="BookingDate" />
                </div>
                <div class="col-md-9">
                    <input asp-for="DateOfBirthDay" id="inputBookingDate" class="form-control datepicker" />
                    <span asp-validation-for="BookingDate"></span>
                </div>
            </div>
            <div class="form-group" @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="SearchStoreId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="SearchStoreId" id="ddlStores" asp-items="Model.AvailableStores" />
                </div>
            </div>
            <div class="form-group" @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="SearchVendorId" />
                </div>
                <div class="col-md-9">
                    <select asp-for="SearchVendorId" class="form-control" id="ddlVendor"><option value="0">Select</option></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="From" />
                </div>
                <div class="col-md-9">
                    <select asp-for="From" class="form-control" id="ddlTimingsFrom" (change)="getAvailableTables()"><option value="0">--Select From --</option></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="To" />
                </div>
                <div class="col-md-9">
                    <select asp-for="To" class="form-control" id="ddlTimingsTo"><option value="0">--Select To --</option></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="TableNumber" />
                </div>
                <div class="col-md-9">
                    <select asp-for="TableNumber" class="form-control" id="ddlTables"><option value="0">--Select Table --</option></select>
                </div>
            </div>

            @*<div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BookingDate" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.BookingDate</div>
                    </div>
                </div>*@
            @*@if (!Model.IsLoggedInAsVendor)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="OrderGuid" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.OrderGuid</div>
                        </div>
                    </div>
                }*@
            @*<div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreName" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.StoreName</div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerName" class="form-control" />
                    <span asp-validation-for="CustomerName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="MobileNumber" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Email" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SeatingCapacity" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Seats" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SpecialNotes" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SpecialNotes" class="form-control" />
                </div>
            </div>

            @*@if (!Model.IsLoggedInAsVendor)
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="OrderGuid" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.OrderGuid</div>
                        </div>
                    </div>
                }*@
            @*<div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreName" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@Model.StoreName</div>
                    </div>
                </div>*@
        </div>
    </div>


    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_info_bottom", additionalData = Model.Id })
</div>
@*<script>
    $(document).ready(function () {
        var date = $("#inputBookingDate").val();
        if (date != null) {
            dateEditChanged(date);
        }

    });
    function dateEditChanged(ev) {
        //$("#ddlTimingsTo").empty();
        $("#ddlTimingsFrom").empty();
        var id = $("#Id").val();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
             data: {"id": id, "date": ev },
             success: function (data) {
                 $("#ddlTimingsFrom").append($("<option></option>").val("-Select Table-").html("--Select From--"));
                 $.each(data.AvailableTimings, function (id, option) {
                     $("#ddlTimingsFrom").append($("<option></option>").val(option.Text).html(option.Value));

                     //$("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                 if (data.From != null) {
                     var string = data.From;
                     if (string != null) {
                         $("#ddlTimingsFrom").val(string);
                         dateFromEditChanged();
                     }

                 }
                 else {
                     $("#ddlTimingsTo").empty();
                 }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
    }
    function dateChanged(ev) {
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        $("#ddlTimingsFrom").empty();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
             data: {"id":0, "date": ev.target.value },
             success: function (data) {
                 $("#ddlTimingsFrom").append($("<option></option>").val("-Select Table-").html("--Select From--"));
                 $.each(data.AvailableTimings, function (id, option) {
                     $("#ddlTimingsFrom").append($("<option></option>").val(option.Text).html(option.Value));
                     //$("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
    }
    function dateFromEditChanged() {
        var FromTime = $("#ddlTimingsFrom").val();
        var id = $("#Id").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: {"id":id, "From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTimingsTo").append($("<option></option>").val("-Select Table-").html("--Select To--"));
                    $.each(data, function (id, option) {

                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value).select(option.Selected));
                        if (option.Selected) {
                            $("#ddlTimingsTo").val(option.Value);
                            SelectedTables();
                        }
                        // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    }
      $("#ddlTimingsFrom").change(function () {
          $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: {"id":0, "From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTimingsTo").append($("<option></option>").val("-Select Table-").html("--Select To--"));
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    function SelectedTables() {
         $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
        var date = $("#inputBookingDate").val();
        var id = $("#Id").val();
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: {"id":id, "From": FromTime, "To": ToTime,"date":date },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTables").append($("<option></option>").val("-Select Table-").html("--Select Table--"));
                    $.each(data, function (id, option) {
                        debugger
                     $("#ddlTables").append($("<option></option>").val(option.Text).html(option.Value));
                     if (option.Selected) {
                         $("#ddlTables").val(option.Value);
                     }
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
    }
    $("#ddlTimingsTo").change(function () {
            $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
            var date = $("#inputBookingDate").val();
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: { "id": 0, "From": FromTime, "To": ToTime, "date": date },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTables").append($("<option></option>").val("-Select Table-").html("--Select Table--"));
                 $.each(data, function (id, option) {

                     $("#ddlTables").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            minDate: new Date()
        }
        ).change(dateChanged)
            .on('changeDate', dateChanged); //Initialise any date pickers
    });*@
<script>
    $(function () { // will trigger when the document is ready
        getVendors();
        vendorGetDeafault();

        ToTimingGet();
        TablesgetDefault();
    });
    function getVendors() {
     var storeId = '@Model.SearchStoreId';
            if (storeId != 0) {
                $("#ddlVendor").empty();
                $("#ddlTimingsFrom").empty();
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                    data: { "Store": storeId },
                    contentType: "application/json",
                    success: function (data) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                        var vendorId = '@Model.SearchVendorId';
                        $("#ddlVendor").val(vendorId);
                       
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
    }

    function TablesgetDefault() {
         $("#ddlTables").empty();
            var FromTime = '@Model.From';
            var ToTime = '@Model.To';
        var date = $("#inputBookingDate").val();
        var storeId = '@Model.SearchStoreId';
        var vendorId = '@Model.SearchVendorId';
            if (FromTime != null && ToTime != null) {
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: { "id":'@Model.Id', "From": FromTime, "To": ToTime, "date": date, "Store": storeId, "Vendor": vendorId },
                contentType: "application/json",
                success: function (data) {
                 $.each(data, function (id, option) {

                     $("#ddlTables").append($("<option></option>").val(option.Value).html(option.Text));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var table = '@Model.TableNumber';
                    $("#ddlTables").val(table);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
    }
    function vendorGetDeafault() {
        var vendorId = $("#ddlVendors").val() == undefined ? '@Model.SearchVendorId' : $("#ddlVendors").val();
        if (vendorId != null && vendorId != 0) {
            var FromTime = $("#ddlTimingsFrom").val();
           var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data.AvailableTimings, function (id, option) {
                        $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));

                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var FromTime = '@Model.From';
                    $("#ddlTimingsFrom").val(FromTime);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve From Timings.');

                    }
                });
            }

        }
    }
    function ToTimingGet() {
        var Fromtime = '@Model.From';

          var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
          var vendorId = '@Model.SearchVendorId';
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: { "From": Fromtime, "Store": storeId, "Vendor": vendorId },
                contentType: "application/json",
                success: function (data) {
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Value).html(option.Text));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var FromTime = '@Model.To';
                    $("#ddlTimingsTo").val(FromTime);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }   
    function dateChanged() {
        //$("#ddlTimingsTo").empty();
        $("#ddlTimingsFrom").empty();
        $("#ddlVendor").empty();
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        var storeId = $("#ddlStores").val();
        if (storeId == null) {
            var storeId = '@Model.SearchStoreId';
            if (storeId != 0) {
                $("#ddlVendor").empty();
                $("#ddlTimingsFrom").empty();
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                    data: { "Store": storeId },
                    contentType: "application/json",
                    success: function (data) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
        }
        else {
            if (storeId != 0) {
                $("#ddlVendor").empty();
                $("#ddlTimingsFrom").empty();
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                    data: { "Store": storeId },
                    contentType: "application/json",
                    success: function (data) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                       
                       
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
        }
         var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val() == null ? '@Model.SearchVendorId' : $("#ddlVendor").val();
        if (storeId != 0 && vendorId!=0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    if (data.AvailableTimings.length > 1) {
                        $.each(data.AvailableTimings, function (id, option) {
                            $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));
                        });
                    }
                    else {
                        alert('No Table timing associated with  store and vendor');
                    }
                    
                    
                    },      
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('No Table timing associated with  store and vendor');

                    }
                });
            }
    }
      $("#ddlTimingsFrom").change(function () {
          var FromTime = $("#ddlTimingsFrom").val();
          var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
          var vendorId = $("#ddlVendor").val();
          if (FromTime == "0") {
              alert("Please select a From Time");
              return;
          }
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: { "From": FromTime, "Store": storeId, "Vendor": vendorId },
                contentType: "application/json",
                success: function (data) {
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Value).html(option.Text));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $("#ddlTimingsTo").change(function () {
            $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
        var date = $("#inputBookingDate").val();
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val();
        if (ToTime == "0") {
            alert("Please select a to time");
            return;
        }
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
                $.ajax({
                    url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                    type: "Get",
                    data: { "id": '@Model.Id', "From": FromTime, "To": ToTime, "date": date, "Store": storeId, "Vendor": vendorId },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.length > 1) {
                            $.each(data, function (id, option) {

                                $("#ddlTables").append($("<option></option>").val(option.Value).html(option.Text));
                            });
                        }
                        else {
                            alert('No Table Available for Booking between ' + FromTime + ' and ' + ToTime + '.Kindly Select Another timings.');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            minDate: new Date()
        }
        )
            .change(dateChanged)
            .on('changeDate', dateChanged); //Initialise any date pickers
    });
    $("#ddlStores").change(function () {
        $("#ddlVendor").empty();
        $("#ddlTimingsFrom").empty();
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        if (storeId == "0") {
            alert("Please select a store");
            return;
        }
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                   if (data.length > 1) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                    }
                    else {
                        alert('No vendor associated with seleted store.');
                    }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $("#ddlVendor").change(function () {
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val();
        if (vendorId == "0") {
            alert("Please select a vendor");
            return;
        }
       
        if (storeId != 0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    if (data.AvailableTimings.length > 1) {
                        $.each(data.AvailableTimings, function (id, option) {
                            $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));
                        });
                    }
                    else {
                        alert('No Table timing associated with seleted store and vendor');
                    }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve From Timings.');

                    }
                });
            }

    });
</script>
