﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableTransactionListSearchModel
@using Nop.Web.Areas.Admin.Models.BookingTable
<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_notes_top", additionalData = Model.Id })
    <div class="panel panel-default">
        <div class="panel-body">
            @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "ordernotes-grid",
                       UrlRead = new DataUrl("BookingNotesSelect", "BookingTableTransaction",new RouteValueDictionary { [nameof(BookingTableTransactionModel.BookingNote.BookingId)] = Model.Id }),
                       UrlDelete = new DataUrl("BookingNoteDelete", "BookingTableTransaction",new RouteValueDictionary { [nameof(BookingTableTransactionModel.BookingNote.BookingId)] = Model.Id }),
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       ColumnCollection = new List<ColumnProperty>
                       {
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingNote.CreatedOn))
                           {
                               Title = T("Admin.Orders.OrderNotes.Fields.CreatedOn").Text,
                               Width = "300",
                                Render = new RenderDate()
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingNote.Note))
                           {
                               Title = T("Admin.Orders.OrderNotes.Fields.Note").Text,
                               Width = "300",
                               Encode=false
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingNote.DownloadId))
                           {
                               Title = T("Admin.Orders.OrderNotes.Fields.Download").Text,
                               Width = "200",
                               Render = new RenderCustom("renderColumnDownloadId"),
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingNote.DisplayToCustomer))
                           {
                               Title = T("Admin.Orders.OrderNotes.Fields.DisplayToCustomer").Text,
                               Width = "150",
                               Render = new RenderBoolean(),
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingNote.Id))
                           {
                               Title = T("Admin.Common.Delete").Text,
                               Width = "100",
                               Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                               ClassName =  NopColumnClassDefaults.Button
                           }
                       }
                   })
            <script>
                        function renderColumnDownloadId(data, type, row, meta) {
                            if (row.DownloadId > 0) {
                                return '<a class="btn btn-default" href="@Url.Content("~/Admin/Download/DownloadFile")?downloadGuid=' + row.DownloadGuid + '"><i class="fa fa-download"></i>@T("Admin.Orders.OrderNotes.Fields.Download.Link")</a>';

                            } else {
                                return '@T("Admin.Orders.OrderNotes.Fields.Download.Link.No")';
                            }
                }
            </script>
            <nop-alert asp-alert-id="deleteSelectedFailed" />
          
        </div>
    </div>

    <div class="panel panel-default">
        <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.IdFor(model => model.AddBookingNoteHasDownload)").change(toggleAddOrderNoteHasDownload);
                toggleAddOrderNoteHasDownload();
            });

            function toggleAddOrderNoteHasDownload() {
                if ($('#@Html.IdFor(model => model.AddBookingNoteHasDownload)').is(':checked')) {
                    $('#pnlAddOrderNoteDownloadId').show();
                }
                else {
                    $('#pnlAddOrderNoteDownloadId').hide();
                }
            }
        </script>

        <div class="panel-heading">
            @T("Admin.Orders.OrderNotes.AddTitle")
        </div>

        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddBookingNoteMessage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddBookingNoteMessage" />
                    <span asp-validation-for="AddBookingNoteMessage"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddBookingNoteDownloadId" />
                </div>
                <div class="col-md-9">
                    <div class="checkbox">
                        <label>
                            <nop-editor asp-for="AddBookingNoteHasDownload" />
                            @T("Admin.Orders.OrderNotes.Fields.Download.HasDownload")
                        </label>
                    </div>
                    <div id="pnlAddOrderNoteDownloadId">
                        <nop-editor asp-for="AddBookingNoteDownloadId" />
                        <span asp-validation-for="AddBookingNoteDownloadId"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="AddBookingNoteDisplayToCustomer" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="AddBookingNoteDisplayToCustomer" />
                    <span asp-validation-for="AddBookingNoteDisplayToCustomer"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="button" id="addOrderNote" class="btn btn-primary">@T("Admin.Booking.BookingNote.AddButton")</button>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_order_details_notes_bottom", additionalData = Model.Id })
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#addOrderNote').click(function () {
            var orderNoteMessage = $("#@Html.IdFor(model => model.AddBookingNoteMessage)").val();
            var orderNoteDownloadId = 0;
            if ($('#@Html.IdFor(model => model.AddBookingNoteHasDownload)').is(':checked')) {
                orderNoteDownloadId = $("#@Html.IdFor(model => model.AddBookingNoteDownloadId)").val();
            }
            var orderNoteDisplayToCustomer = $("#@Html.IdFor(model => model.AddBookingNoteDisplayToCustomer)").is(':checked');
            $('#addOrderNote').attr('disabled', true);

            var postData = {
                DisplayToCustomer: orderNoteDisplayToCustomer,
                message: orderNoteMessage,
                downloadId: orderNoteDownloadId,
                BookingId: @Model.Id
                };
            addAntiForgeryToken(postData);

            $.ajax({
                cache:false,
                type: "POST",
                url: "@(Url.Action("BookingNoteAdd", "BookingTableTransaction"))",
                data: postData,
                success: function (data) {
                    var grid = $("#ordernotes-grid").data('kendoGrid');
                    grid.dataSource.read();
                    $('#addOrderNote').attr('disabled', false);
                },
                error:function (xhr, ajaxOptions, thrownError){
                    alert('Failed to add order note.');
                    $('#addOrderNote').attr('disabled', false);
                }
            });
        });
    });
</script>