﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableTransactionListSearchModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden"/>

<div class="content">
    <div class="panel-group">
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_top", additionalData = Model.Id })
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="BookingDate" />
                            </div>
                            <div class="col-md-9">
                                <input asp-for="DateOfBirthDay" asp-required="true" id="inputBookingDate" class="form-control datepicker" click="notify()" />
                                <span asp-validation-for="DateOfBirthDay"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group" @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-3">
                                <nop-label asp-for="SearchStoreId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SearchStoreId"  asp-required="true" id="ddlStores" asp-items="Model.AvailableStores" />
                                <span asp-validation-for="SearchStoreId"></span>
                            </div>
                        </div>
                        <br  @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null) />
                        <br @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null) />
                        @*<div class="form-group" @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-3">
                                <nop-label asp-for="SearchVendorId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SearchVendorId" id="ddlVendorsCustom"   asp-items="Model.AvailableVendors" />
                            </div>
                        </div>*@
                       
                        <div class="form-group" @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-3">
                                <nop-label asp-for="SearchVendorId" />
                            </div>
                            <div class="col-md-9"> 
                                <select asp-for="SearchVendorId"  asp-required="true" class="form-control" id="ddlVendor"></select>
                                <span asp-validation-for="SearchVendorId"></span>
                            </div>
                        </div>
                        <br @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
                        <br @(Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)/>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="From" />
                            </div>
                            <div class="col-md-9">
                                <select asp-for="From"  asp-required="true" class="form-control" id="ddlTimingsFrom" (change)="getAvailableTables()"></select>
                                <span asp-validation-for="From"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="To" />
                            </div>
                            <div class="col-md-9">
                                <select asp-for="To" asp-required="true" class="form-control" id="ddlTimingsTo"></select>
                                <span asp-validation-for="To"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="TableNumber"  />
                            </div>
                            <div class="col-md-9">
                                <select asp-for="TableNumber"   class="form-control" id="ddlTables"></select>
                                <span asp-validation-for="TableNumber"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CustomerName" asp-required="true" class="form-control" />
                                <span asp-validation-for="CustomerName"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Email" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Email" asp-required="true" class="form-control" />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="MobileNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="MobileNumber" asp-required="true" class="form-control" />
                                <span asp-validation-for="MobileNumber"></span>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SeatingCapacity" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Seats" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SpecialNotes" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="SpecialNotes" class="form-control" />
                            </div>
                        </div>
                    </div>
                    </div>
                </div>


                </div>
            </div>
    </div>
<script>
    function dateChanged(ev) {
        //$("#ddlTimingsTo").empty();
        $("#ddlTimingsFrom").empty();
        $("#ddlVendor").empty();
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        var storeId = $("#ddlStores").val();
        if (storeId == null) {
            var storeId = '@Model.SearchStoreId';
            if (storeId != 0) {
                $("#ddlVendor").empty();
                $("#ddlTimingsFrom").empty();
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                    data: { "Store": storeId },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.length > 1) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                        var vendor = '@Model.SearchVendorId';
                        $("#ddlVendor").val(vendor);
                    }
                    else {
                        alert('No vendor associated with  store.');
                    }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
        }
        else {
            if (storeId != 0) {
                $("#ddlVendor").empty();
                $("#ddlTimingsFrom").empty();
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                    data: { "Store": storeId },
                    contentType: "application/json",
                    success: function (data) {
                        if (data.length > 1) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                        var vendor = '@Model.SearchVendorId';
                        $("#ddlVendor").val(vendor);
                    }
                    else {
                        alert('No vendor associated with  store.');
                    }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }
        }
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val() == null ? '@Model.SearchVendorId' : $("#ddlVendor").val();
        if (storeId != 0 && vendorId!=0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    if (data.AvailableTimings.length > 1) {
                        $.each(data.AvailableTimings, function (id, option) {
                            $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));
                        });
                    }
                    else {
                        alert('No Table timing associated with  store and vendor');
                    }
                    
                    
                    },      
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('No Table timing associated with  store and vendor');

                    }
                });
            }

    }
      $("#ddlTimingsFrom").change(function () {
          var FromTime = $("#ddlTimingsFrom").val();
          if (FromTime == "0") {
              alert("Please select a from time");
              return;
          }
          var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
          var vendorId = $("#ddlVendor").val() == null ? '@Model.SearchVendorId' : $("#ddlVendor").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
                $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "BookingTableTransaction"))",
                data: { "From": FromTime, "Store": storeId, "Vendor": vendorId },
                contentType: "application/json",
                success: function (data) {
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Value).html(option.Text));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve to timings.');
                       
                    }
                });
            }
            
    });
    $("#ddlTimingsTo").change(function () {
            $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
        var ToTime = $("#ddlTimingsTo").val();
        if (ToTime == "0") {
            alert("Please select a to time")
            return;
        }
        var date = $("#inputBookingDate").val();
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val();
            if (FromTime != null && ToTime != null) {
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "BookingTableTransaction"))",
                type: "Get",
                data: { "From": FromTime, "To": ToTime, "date": date, "Store": storeId, "Vendor": vendorId },
                contentType: "application/json",
                success: function (data) {
                    if (data.length > 1) {
                        $.each(data, function (id, option) {

                            $("#ddlTables").append($("<option></option>").val(option.Value).html(option.Text));
                        });
                    }
                    else {
                        alert('No Table Available for Booking between ' + FromTime + ' and ' + ToTime+'.Kindly Select Another timings.');
                    }
                
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');
                       
                    }
                });
            }
            
    });

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({
            minDate: new Date()
        }
        )
            .change(dateChanged)
            .on('changeDate', dateChanged); //Initialise any date pickers
    });
    $("#ddlStores").change(function () {
        $("#ddlVendor").empty();
        $("#ddlTimingsFrom").empty();
        $("#ddlTimingsTo").empty();
        $("#ddlTables").empty();
        
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        if (storeId == "0") {
            alert("Please select a store");
            return;
        }
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "BookingTableTransaction"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    if (data.length > 1) {
                        $.each(data, function (id, option) {
                            $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));

                            // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                        });
                        var vendor = '@Model.SearchVendorId';
                        $("#ddlVendor").val(vendor);
                    }
                    else {
                        alert('No vendor associated with seleted store.');
                    }
                  
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $("#ddlVendor").change(function () {
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendor").val();
         
        if (vendorId == "0") {
            alert("Please select a vendor");
            return;
        }
        if (storeId != 0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    if (data.AvailableTimings.length > 1) {
                        $.each(data.AvailableTimings, function (id, option) {
                            $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));
                        });
                    }
                    else {
                        alert('No Table timing associated with seleted store and vendor');
                    }
                    
                    
                    },      
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('No Table timing associated with seleted store and vendor');

                    }
                });
            }

    });
    $("#ddlVendorsCustom").change(function () {
        var storeId = $("#ddlStores").val() == null ? '@Model.SearchStoreId' : $("#ddlStores").val();
        var vendorId = $("#ddlVendorsCustom").val();
        if (storeId != 0) {
            $("#ddlTimingsFrom").empty();
            $("#ddlTimingsTo").empty();
            $("#ddlTables").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableTimings", "BookingTableTransaction"))",
                data: { "id":0, "Store": storeId, "VendorId": vendorId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data.AvailableTimings, function (id, option) {
                        $("#ddlTimingsFrom").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    @*var vendor = '@Model.SearchVendorId'*@;
                    //$("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve From Timings.');

                    }
                });
            }

    });
</script>

