@charset "UTF-8";
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "foodfonticons";
  src:url("../fonts/foodfonticons.eot");
  src:url("../fonts/foodfonticons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/foodfonticons.woff") format("woff"),
    url("../fonts/foodfonticons.ttf") format("truetype"),
    url("../fonts/foodfonticons.svg#foodfonticons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "foodfonticons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "foodfonticons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\61";
}
.icon-cross:before {
  content: "\72";
}
.icon-facebook:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-linkedin:before {
  content: "\66";
}
.icon-chevron-up:before {
  content: "\67";
}
.icon-chevron-right:before {
  content: "\68";
}
.icon-chevron-left:before {
  content: "\69";
}
.icon-chevron-down:before {
  content: "\6a";
}
.icon-pin:before {
  content: "\62";
}
.icon-search:before {
  content: "\63";
}
.icon-phone:before {
  content: "\6b";
}
.icon-home:before {
  content: "\6c";
}
.icon-briefcase:before {
  content: "\6d";
}
.icon-clock-with-white-face:before {
  content: "\6e";
}
.icon-dine:before {
  content: "\6f";
}
.icon-pencil-edit-button:before {
  content: "\70";
}
.icon-calendar-with-a-clock-time-tools:before {
  content: "\71";
}
.icon-plus:before {
  content: "\73";
}
.icon-minus:before {
  content: "\74";
}
.icon-radio:before {
  content: "\75";
}
.icon-tick:before {
  content: "\76";
}
.icon-help:before {
  content: "\77";
}
.icon-manageaddrs:before {
  content: "\78";
}
.icon-orderhistory:before {
  content: "\79";
}
.icon-creditcard:before {
  content: "\7a";
}
.icon-printer:before {
  content: "\41";
}
