﻿@using Nop.Core.Domain.Payments;
@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    @if (Model.PaymentStatus == PaymentStatus.Pending)
    {
        <div class="completedIcon">
            <img src="/Themes/MKSweets/Content/img/orderCancelImg.png" />
        </div>
    }
    else
    {
        <div class="completedIcon">
            <img src="/Themes/MKSweets/Content/img/orderCompleteImg1.png" />
        </div>
    }
    @if (Model.PaymentStatus == PaymentStatus.Pending)
    {
<div class="page-title">
    <h1>@T("Checkout.ThankYou.OrderCancel")</h1>
</div>
    }
    else
    {
        <div class="page-title">
            <h1>@T("Checkout.ThankYou.OrderComplete")</h1>
        </div>
    }
        <div class="page-body checkout-data">
            @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_top", additionalData = Model.OrderId })
            <div class="section order-completed">
                @if (Model.PaymentStatus == PaymentStatus.Pending)
                {
                    <div class="title">
                        <strong>@T("Checkoutmk.YourOrderHasNotBeenSuccessfullyProcessed.OrderCancel")</strong>
                    </div>
                }
                else
                {
                    <div class="title">
                        <strong>@T("Checkoutmk.YourOrderHasBeenSuccessfullyProcessed.OrderComplete")</strong>
                    </div>
                }
                <div class="details">

                    <div class="order-number">
                        <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                    </div>
                    <div class="details-link">
                        <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                    </div>
                    @*@<a onclick="javascript:OpenWindow('/Tracking/OrderTrack.html?OrderId=@Model.OrderGuId', 800, 320, true); return false;" href="javascript:void(0);">Click here For Track Your Order</a>*@
                </div>
                @if (Model.PaymentStatus == PaymentStatus.Pending)
                {
                    <div class="buttons">
                        @*<input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1" onclick="setLocation('/homemerchant')" />*@
                        <a onclick="setLocation('@Url.RouteUrl("ReOrder", new { Model.OrderId })')" class="button-1">@T("Checkout.ThankYou.Continue")</a>
                    </div>
                }
                else
                {
                    <div class="buttons">
                        @*<input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1" onclick="setLocation('/homemerchant')" />*@
                        <a href="/" class="button-1">@T("Checkout.ThankYou.Continue")</a>
                    </div>
                }
                </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "checkout_completed_bottom", additionalData = Model.OrderId })
        </div>
    </div>
        <section class="newsletterSection">
            <div class="container">
                @await Component.InvokeAsync("NewsletterBox")
            </div>
        </section>
