﻿@model OnePageCheckoutModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@inject IWebHelper webHelper
@inject IWorkContext workContext
@{
    Layout = "_ColumnsOne";

    //scripts
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0002");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var loginSignUp = 0;
    var billingAddressStepNumber = 1;
    //var shippingAddressStepNumber = 2; //Comment By Mah 26012019


    //var shippingMethodStepNumber = 3; //Order Changed By Mah
    var paymentMethodStepNumber = 2;
    var paymentInfoStepNumber = 3;
    var confirmOrderStepNumber = 4;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        //shippingAddressStepNumber--; //Comment By Mah 26012019
        //shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
    //Model.LoginSignUpModel.AvailableISD = Model.BillingAddress.BillingNewAddress.AvailableISD;
    Model.LoginSignUpModel = new CheckoutLoginSignUpModel();

    string css_allow = (workContext.CurrentCustomer.IsRegistered()) ? "allow" : "";

}
<script src="~/js/public.accordion.js"></script>
<script src="~/js/public.ajaxcart.js?v=2.0002"></script>
<script src="~/js/public.onepagecheckout.js?v=1.0002"></script>
<script src="~/js/public.common.js?v=2.0"></script>
<div class="page checkout-page">
    <div class="page-body checkout-data checkout-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 checkLeft">
                    <div id="dv-cross-sell-products" class="smallSlider">
                        @await Component.InvokeAsync("CrossSellProducts", new { productThumbPictureSize = 300 })
                    </div>
                    @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_before" })
                <ol class="opc" id="checkout-steps">
                    <li id="opc-login-signup" class="tab-section allow active">
                        @if (workContext.CurrentCustomer.IsRegistered())
                        {
                            <script type="text/javascript" asp-location="Footer">
									LoginSignUp.init('', '@(storeLocation)');
									LoginSignUp.getLoggedInDetails();
                            </script>
                        }
                        else
                        {
                            <div class="step-title">
                                @T("Checkout.LoginSignup.Account")
                            </div>
                            <div id="checkout-step-login-signup" class="step a-item">
                                <form id="co-login-signup-form" action="" autocomplete="off">
                                    <div id="checkout-login-signup-load">
                                        @await Html.PartialAsync("OpcLoginSignup", Model.LoginSignUpModel)

                                        @*login and signup content will be loaded here*@
                                    </div>
                                </form>
                                <script type="text/javascript" asp-location="Footer">
									LoginSignUp.init('#co-login-signup-form', '@(storeLocation)');
                                </script>
                            </div>
                        }
                    </li>

                    <li id="opc-billing" class="tab-section @css_allow">
                        <div class="step-title" id="dv-billing-add-selected">
                            @*<span class="number">@billingAddressStepNumber</span>*@
                            <div class="step-title">@T("Checkout.BillingAddress.Addaddress") <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png"></div>
                        </div>
                        <div id="checkout-step-billing" class="step a-item" style="display: none;">
                            <form id="co-billing-form" action="">
                                <div id="checkout-billing-load">
                                    @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                                    @*billing address content will be loaded here*@
                                </div>
                            </form>
                            <script type="text/javascript" asp-location="Footer">
									Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBillingCustom/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
									//if ($("#billing-address-select").length > 0) {
									//    Billing.newAddress(!$('#billing-address-select').val());
									//}
                            </script>
                        </div>
                    </li>
                    @if (Model.ShippingRequired)
                    {
                        <li id="opc-shipping" class="tab-section" style="display:none">
                            <div class="step-title">
                                @*<span class="number">@shippingAddressStepNumber</span>*@
                                <h2 class="title">Delivery address  <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png"></h2>
                            </div>
                            <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                                <form action="" id="co-shipping-form">
                                    <div id="checkout-shipping-load">
                                        @*shipping address content will be loaded here*@
                                    </div>
                                </form>
                                <script type="text/javascript" asp-location="Footer">
										Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
										if ($("#shipping-address-select").length > 0) {
											Shipping.newAddress(!$('#shipping-address-select').val());
										}
                                </script>
                                <div class="buttons" id="shipping-buttons-container">
                                    @if (!Model.DisableBillingAddressCheckoutStep)
                                    {
                                        <p class="back-link">
                                            <a href="#" onclick="Checkout.back(); return false; "><small>&laquo; </small>@T("Common.Back")</a>
                                        </p>
                                    }
                                    <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" />
                                    <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                </div>
                            </div>
                        </li>
                    }

                    <li id="opc-shipping_method" class="tab-section" style="display:none">
                        <div class="step-title">
                            @*<span class="number">@shippingMethodStepNumber</span>*@
                            <h2 class="title">@T("Checkout.ShippingMethod")  <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png"></h2>
                        </div>
                        <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                            <form id="co-shipping-method-form" action="">
                                <div id="checkout-shipping-method-load">
                                    @*shipping methods content will be loaded here*@
                                </div>
                                <script type="text/javascript" asp-location="Footer">
										ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                </script>
                                <div class="buttons" id="shipping-method-buttons-container">
                                    <p class="back-link">
                                        <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                    </p>
                                    <input type="button" class="button-1 shipping-method-next-step-button" onclick="ShippingMethod.save()" value="@T("Common.Continue")" />
                                    <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                </div>
                            </form>
                        </div>
                    </li>
                    @if (Model.DisplayDeliveryScheduleButton)
                    {
                        <li id="opc-deliveryschedule_method" class="tab-section">
                            <div class="step-title">
                                @T("Checkout.date&Time") <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png">
                            </div>
                            <div id="checkout-step-deliveryschedule-method" class="step a-item" style="display: none;">
                                <form id="co-deliveryschedule-method-form" action="">
                                    <div id="checkout-deliveryschedule-method-load">
                                        @*deliveryschedule methods content will be loaded here*@
                                    </div>
                                    <script type="text/javascript" asp-location="Footer">
										DeliveryScheduleMethod.init('#co-deliveryschedule-method-form', '@(storeLocation)checkout/OpcSaveDeliveryScheduleMethod/');
                                    </script>
                                    <div class="buttons" id="deliveryschedule-method-buttons-container">
                                        <input type="button" class="button-1 deliveryschedule-method-next-step-button cancelBtn" onclick="DeliveryScheduleMethod.save(0)" value="@T("Common.Cancel")" />
                                        <input type="button" class="button-1 deliveryschedule-method-next-step-button" onclick="DeliveryScheduleMethod.save(1)" value="@T("Common.Continue")" />
                                        <span id="deliveryschedule-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                    </div>
                                </form>
                            </div>
                        </li>
                    }
                    @*<li id="opc-date-Time-method" class="tab-section">
            <div class="step-title">
                @T("Checkout.date&Time") <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png">
            </div>
            <div class="dateHead">
                <span>@T("nb.date&timeHead")</span>
            </div>
            <div class="container date">
                <div class="calendar">
                    <div class="front">
                        <div class="current-date">
                            <h1>Fri</h1>
                            <h2>10 January</h2>
                        </div>

                        <div class="current-month">
                            <ul class="week-days">
                                <li>MON</li>
                                <li>TUE</li>
                                <li>WED</li>
                                <li>THU</li>
                                <li>FRI</li>
                                <li>SAT</li>
                                <li>SUN</li>
                            </ul>

                            <div class="weeks">
                                <div class="first">
                                    <span class="last-month">28</span>
                                    <span class="last-month">29</span>
                                    <span class="last-month">30</span>
                                    <span class="last-month">31</span>
                                    <span>01</span>
                                    <span>02</span>
                                    <span>03</span>
                                </div>

                                <div class="second">
                                    <span>04</span>
                                    <span>05</span>
                                    <span class="event">06</span>
                                    <span>07</span>
                                    <span>08</span>
                                    <span>09</span>
                                    <span>10</span>
                                </div>

                                <div class="third">
                                    <span>11</span>
                                    <span>12</span>
                                    <span>13</span>
                                    <span>14</span>
                                    <span class="active">15</span>
                                    <span>16</span>
                                    <span>17</span>
                                </div>

                                <div class="fourth">
                                    <span>18</span>
                                    <span>19</span>
                                    <span>20</span>
                                    <span>21</span>
                                    <span>22</span>
                                    <span>23</span>
                                    <span>24</span>
                                </div>

                                <div class="fifth">
                                    <span>25</span>
                                    <span>26</span>
                                    <span>27</span>
                                    <span>28</span>
                                    <span>29</span>
                                    <span>30</span>
                                    <span>31</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="back">
                        <input placeholder="What's the event?">
                        <div class="info">
                            <div class="date">
                                <p class="info-date">
                                    Date: <span>Jan 15th, 2016</span>
                                </p>
                                <p class="info-time">
                                    Time: <span>6:35 PM</span>
                                </p>
                            </div>
                            <div class="address">
                                <p>
                                    Address: <span>129 W 81st St, New York, NY</span>
                                </p>
                            </div>
                            <div class="observations">
                                <p>
                                    Observations: <span>Be there 15 minutes earlier</span>
                                </p>
                            </div>
                        </div>

                        <div class="actions">
                            <button class="save">
                                Save <i class="ion-checkmark"></i>
                            </button>
                            <button class="dismiss">
                                Dismiss <i class="ion-android-close"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </li>*@





                    <li id="opc-payment_method" class="tab-section">
                        <div class="step-title">
                            @*<span class="number">@paymentMethodStepNumber</span>*@
                            @T("Checkout.PaymentMethod.ChoosePaymentMethod") <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png">
                        </div>
                        <div id="checkout-step-payment-method" class="step a-item" style="display: none;">
                            <form action="" id="co-payment-method-form">
                                <div id="checkout-payment-method-load">
                                    @*payment methods content will be loaded here*@ Payment is not required
                                </div>
                            </form>
                            <script type="text/javascript" asp-location="Footer">
									PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
									PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfoCustom/');
                            </script>
                            <div class="buttons" id="payment-method-buttons-container" style="display:none;">
                                <input type="button" id="btn-payment-method" class="button-1 payment-method-next-step-button" onclick="PaymentMethod.saveCustom()" value="@T("Common.Continue")" />
                                <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                            </div>
                        </div>

                    </li>

                    <li id="opc-confirm_order" class="tab-section" style="display: none;">
                        <div class="step-title">
                            <span class="number">@confirmOrderStepNumber</span>
                            <h2 class="title">@T("Checkout.ConfirmOrder")  <img src="/Themes/MKSweets/Content/img/greenCheckImg1.png"></h2>
                        </div>
                        <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                            <div id="checkout-confirm-order-load">
                            </div>
                            <script type="text/javascript" asp-location="Footer">
								ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                            </script>
                            <div class="buttons" id="confirm-order-buttons-container">
                                <p class="back-link">
                                    <a href="#" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                                </p>
                                <input type="button" id="confirm-order-button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                                <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                            </div>
                        </div>
                    </li>
                </ol>
                    @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_after" })
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 checkOutSection clearfix rightBoxMerchant">
                    <div class="checkOutC1">
                        <div class="row headercheckoutCart">
                            <div class="col-md-6 orderText">
                                <span class="">@T("NB.Order.Summary")</span>
                            </div>
                            <div class="col-md-6 ItemsText">
                            </div>
                        </div>
                        <div class="co_restaurent_info">
                            @await Component.InvokeAsync("MerchantOnCheckOutById")
                        </div>
                        <div class="checkOutBlock clearfix">
                            @await Component.InvokeAsync("FlyoutShoppingCart", new { isForCheckout = true })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }
        function checkMerchantTiming() {
        var localTime=formatAMPM(new Date);
        $.ajax({
          cache: false,
          type: "GET",
          url: "/HomeMerchant/CheckMerchantTiming?localTime="+localTime,
            success: function (result) {
                if (!result) {
                    location.href = '/homemerchant';
                }
          }});
        }
        function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours + ':' + minutes + ' ' + ampm;
          return strTime;
        }
        checkMerchantTiming();
    </script>
</div>
<section class="newsletterSection">
    <div class="container">
        @await Component.InvokeAsync("NewsletterBox")
    </div>
</section>
<script>
    var app = {
        settings: {
            container: $('.calendar'),
            calendar: $('.front'),
            days: $('.weeks span'),
            form: $('.back'),
            input: $('.back input'),
            buttons: $('.back button')
        },

        init: function () {
            instance = this;
            settings = this.settings;
            this.bindUIActions();
        },

        swap: function (currentSide, desiredSide) {
            settings.container.toggleClass('flip');

            currentSide.fadeOut(900);
            currentSide.hide();

            desiredSide.show();
        },

        bindUIActions: function () {
            settings.days.on('click', function () {
                instance.swap(settings.calendar, settings.form);
                settings.input.focus();
            });

            settings.buttons.on('click', function () {
                instance.swap(settings.form, settings.calendar);
            });
        }
    }

    app.init();
</script>
