﻿@model CheckoutPaymentInfoModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    var storeLocation = webHelper.GetStoreLocation();

}
<div class="checkout-data">
    @if (Model.Warnings.Count > 0)
    {
        <div class="message-error">
            <ul>
                @foreach (var warning in Model.Warnings)
                {
                    <li>@warning</li>
                }
            </ul>
        </div>
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_info_top" })
    <div class="section payment-info">
        <div class="info">
            @await Component.InvokeAsync(Model.PaymentViewComponentName)
        </div>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_info_bottom" })
    @if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @await Component.InvokeAsync("OrderSummary")
        </div>
    }
    <br style="clear:both;" />
    @*<div id="checkout-step-confirm-order" class="step a-item">
            <div id="checkout-confirm-order-load" style="display:none;">
            </div>
            <script type="text/javascript" asp-location="Footer">
                            ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
            </script>
            <div class="buttons" id="confirm-order-buttons-container"  style="display:none;">
                <input type="button" id="confirm-order-button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="Pay Now" />
                <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
            </div>
        </div>*@
</div>
