﻿@model Nop.Plugin.Payments.KNet.Models.ConfigurationModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentKNet" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ResourcePath_OverrideForStore" asp-input="ResourcePath" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ResourcePath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ResourcePath" />
                        <span asp-validation-for="ResourcePath"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="KeyStorePath_OverrideForStore" asp-input="KeyStorePath" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="KeyStorePath" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="KeyStorePath" />
                        <span asp-validation-for="KeyStorePath"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TranportalId_OverrideForStore" asp-input="TranportalId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TranportalId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TranportalId" />
                        <span asp-validation-for="TranportalId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TranportalPassword_OverrideForStore" asp-input="TranportalPassword" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TranportalPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TranportalPassword" />
                        <span asp-validation-for="TranportalPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TerminalResourceKey_OverrideForStore" asp-input="TerminalResourceKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TerminalResourceKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalResourceKey" />
                        <span asp-validation-for="TerminalResourceKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>