﻿@model SupplierModel

@if (Model.Id > 0)
{
<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
{
    Name = "products-grid",
    UrlRead = new DataUrl("ProductList", "NBSupplier", new RouteValueDictionary { [nameof(Model.SupplierProductSearchModel.SupplierId)] = Model.SupplierProductSearchModel.SupplierId }),
    Length = Model.SupplierProductSearchModel.PageSize,
    LengthMenu = Model.SupplierProductSearchModel.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
    {
         new ColumnProperty(nameof(SupplierProductModel.ProductName))

    {
        Title = T("Admin.Supplier.Products.Fields.Product").Text
    },
     new ColumnProperty(nameof(SupplierProductModel.Price))
    {
        Title = T("Admin.Supplier.Products.Fields.Price").Text,
        Width = "150",
        ClassName = NopColumnClassDefaults.CenterAll,
        Editable = true,
        EditType = EditType.Number
    },
    new ColumnProperty(nameof(SupplierProductModel.ProductId))
    {
        Title = T("Admin.Common.View").Text,
        Width = "150",
        ClassName = NopColumnClassDefaults.Button,
        Render = new RenderButtonView(new DataUrl("~/Admin/Product/Edit/", nameof(SupplierProductModel.ProductId)))
    },
    new ColumnProperty(nameof(SupplierProductModel.Id))
    {
        Title = T("Admin.Common.Edit").Text,
        Width = "200",
        ClassName = NopColumnClassDefaults.Button,
        Render = new RenderButtonsInlineEdit()
    },
    new ColumnProperty(nameof(SupplierProductModel.Id))
    {
        Title = T("Admin.Common.Delete").Text,
        Width = "100",
        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
        ClassName = NopColumnClassDefaults.Button
    }
    }
})
</div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewProduct"
                onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "Supplier", new { SupplierId = Model.Id, btnId = "btnRefreshProducts", formId = "supplier-form" }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("Admin.Supplier.Products.AddNew")
        </button>
        <input type="submit" id="btnRefreshProducts" style="display: none" />
        <script>
            $(document).ready(function () {
                $('#btnRefreshProducts').click(function () {
                    //refresh grid
                    updateTable('#products-grid');

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Supplier.Products.SaveBeforeEdit")
    </div>
}


