﻿@model AddProductToSupplierSearchModel

@{
    Layout = "_AdminPopupLayout";

    //page title
    ViewBag.Title = T("Admin.Supplier.AddNew").Text;
}

@if (ViewBag.RefreshPage == true)
{
<script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}
else
{
    <form asp-controller="NBSupplier" asp-action="ProductAddPopup"
          asp-route-supplierId="@Context.Request.Query["supplierId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("Admin.Supplier.Products.AddNew")
            </h1>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search panel-popup">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-sm-5">
                                            <nop-label asp-for="SearchProductName" />
                                        </div>
                                        <div class="col-sm-7">
                                            <nop-editor asp-for="SearchProductName" />
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-sm-5">
                                                <nop-label asp-for="SearchStoreId" />
                                            </div>
                                            <div class="col-sm-7">
                                                <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                            </div>
                                        </div>

                                        <div class="form-group" @(Model.AvailableSuppliers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-sm-5">
                                                <nop-label asp-for="SearchSupplierId" />
                                            </div>
                                            <div class="col-sm-7">
                                                <nop-select asp-for="SearchSupplierId" asp-items="Model.AvailableSuppliers" />
                                            </div>
                                        </div>


                                        <div class="form-group" @(Model.AvailableManufacturers.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-sm-5">
                                                <nop-label asp-for="SearchManufacturerId" />
                                            </div>
                                            <div class="col-sm-7">
                                                <nop-select asp-for="SearchManufacturerId" asp-items="Model.AvailableManufacturers" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" id="search-suppliers" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                @await Html.PartialAsync("Table", new DataTablesModel
                           {
                               Name = "products-grid",
                               UrlRead = new DataUrl("ProductAddPopupList", "NBSupplier", null),
                               SearchButtonId = "search-products",
                               Length = Model.PageSize,
                               LengthMenu = Model.AvailablePageSizes,
                               Filters = new List<FilterParameter>
                               {

                                    new FilterParameter(nameof(Model.SearchProductName)),
                                    new FilterParameter(nameof(Model.SearchSupplierId)),
                                    new FilterParameter(nameof(Model.SearchManufacturerId)),
                                    new FilterParameter(nameof(Model.SearchStoreId)),
                                    new FilterParameter(nameof(Model.SearchVendorId)),
                                    new FilterParameter(nameof(Model.SearchProductTypeId))
                                },
                               ColumnCollection = new List<ColumnProperty>
                               {
                                new ColumnProperty(nameof(ProductModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox(nameof(AddProductToCategoryModel.SelectedProductIds)),
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Width = "50"
                                },
                               new ColumnProperty(nameof(ProductModel.Name))
                               {
                                   Title = T("Admin.Supplier.Products.Fields.Name").Text
                               },
                               new ColumnProperty(nameof(ProductModel.Published))
                               {
                                   Title = T("Admin.Supplier.Products.Fields.Published").Text,
                                   Width = "100",
                                   ClassName = NopColumnClassDefaults.CenterAll,
                                   Render = new RenderBoolean()
                               }
                           }
                           })
                      
                            </div>
                            <div class="panel-footer">
                                <button type="submit" name="save" class="btn bg-blue">
                                    <i class="fa fa-floppy-o"></i>
                                    @T("Admin.Common.Save")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                 $(document).ready(function () {
            $("#@Html.IdFor(model => model.SearchStoreId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.SearchSupplierId)");
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetAllSuppliersByStore", "NBSupplier"))",
                    data: {
                        "storeId": selectedItem
                    },
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
            </script>
            </div>
    </form>
    <nop-alert asp-alert-id="storesAlert" asp-alert-message="@T("Admin.Common.Alert.States.Failed")" />
}