﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">
    <div class="footer-upper">
        <div class="container">
            <div class="row">
                <div class="footer-block customer-service col-md-3">
                    <div class="title">
                        <strong>@T("nb.Help")</strong>
                    </div>
                    <ul class="list">
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                        }
                        @if (Model.AllowCustomersToCheckGiftCardBalance)
                        {
                            <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                        }
                        @if (Model.DisplayCustomerInfoFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                        }
                        @if (Model.DisplayCustomerOrdersFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrder")</a></li>
                        }
                        @if (Model.DisplayCustomerAddressesFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddress")</a></li>
                        }
                        @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                        } 
                    </ul>
                </div>
                <div class="footer-block information col-md-3">
                    <div class="title">
                        <strong>@T("NB.mksweets.policy")</strong>
                    </div>
                    <ul class="list"> 
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})" target="_blank">@topic.Name</a></li>
                        }
                        @*@if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                        }*@
                    </ul>
                </div>
                <div class="footer-block my-account col-md-3">
                    <div class="title">
                        <strong>@T("NB.download.our.apps")</strong>
                    </div>
                    <div class="footerplayStore">
                           @await Component.InvokeAsync("TopicBlock", new { systemName = "footerPlayStore" })
                    </div>

                    <div class=" social">
                        <div class="title">
                            <strong>@T("Footer.FollowUs")</strong>
                        </div>
                        <ul class="list">
                            <li> @await Component.InvokeAsync("SocialButtons")</li>
                        </ul>
                    </div>

                </div>
                <div class="footer-block getInTouch col-md-3">
                    @* <div class="social">
            <div class="title">
                <strong>@T("Footer.FollowUs")</strong>
            </div>
            @await Component.InvokeAsync("SocialButtons")
        </div>*@

                    <div class="title">
                        <strong>@T("nb.get.in.touch")</strong>
                    </div>
                    <ul class="list">
                        <li>

                            @await Html.PartialAsync("NBContactUs", Model.ContactUsModel)<div class="getInTuchForm">
                        </li>
                    </ul>
                    @*<form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input  type="text" class="form-control form-group-lg" placeholder="Name">
                        <nop-required />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input  type="text" class="form-control form-group-lg" placeholder="Email">
                        <nop-required />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input  type="text" class="form-control form-group-lg" placeholder="Phone Number">
                        <nop-required />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea  type="text" class="form-control form-group-lg" placeholder="Message"></textarea>
                        <nop-required />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" class="form-control form-group-lg btn-block submitquery">@T("nb.submit.your.query")</button>
                    </div>
                </div>
            </div>
        </form>*@
                </div>

                </div>
                </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="row">
                <div class="col-md-12 foot">
                    <div class="footer-info">
                        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            <span class="footer-tax-shipping">
                                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                    @* @if (!Model.HidePoweredByNopCommerce)
                        {
                            <div class="footer-powered-by">
                                Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
                            </div>
                        }*@
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                //debugger
                //$(this).siblings('.list').slideToggle('slow');
            }
        });
        
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            //debugger
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>