﻿@model List<string>

<div class="row text-center headOffers">
    <h1>@T("Items.offers")</h1>
</div>
<div class="row headOffersImages">

    <div class="col-md-12 main">
        <div id="offerSlider">
            <!-- Give wrapper ID to target with jQuery & CSS -->
            <div class="MS-content">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="item"><img src=@(Model[i]) class="slides" alt=" img1" /> </div>
                }
            </div>
            <div class="MS-controls">
                <button class="MS-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button class="MS-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>

    </div>

</div>


<script>
    $(".MS-content").ready(function () {
        if ($(".MS-content .item").length === 0) {
            $(".offers_banner_area").addClass("hideBox");
        }
    });
</script>


@*Include jQuery, then include Multislider script-- >*@

<script src="../Themes/MicroShipping/Content/scripts/jquery-2.2.4.min.js"></script>
<script src="../Themes/MicroShipping/Content/scripts/multislider.min.js"></script>

<script>

    // Initialize with options, if needed
    $('#offerSlider').multislider({
        slideAll: true,
        autoSlide: true,
        duration: 1000,
        interval: 4000
    });
</script>