﻿@model List<CategoryModel.SubCategoryModel>
<style>
    .subCategory {display : block !important}
</style>
@if (Model != null && Model.Count > 0)
{
    <ul class="subCategory">
        @foreach (var item in Model)
        {
        <li>
            <a href="#@item.Id" idL="@item.Id">
                @item.Name (@item.NumberOfProductsOfSubCategories)
            </a>
            @await Html.PartialAsync("_CategoryMenuMerchant", item.SubCategories)
        </li>
        }
    </ul>
}