﻿@using Nop.Services.Stores
@model Nop.Web.Areas.Admin.Models.RatingReview.AgentRatingListSearchModel
@using Nop.Web.Areas.Admin.Models.RatingReview
@inject AdminAreaSettings adminAreaSettings
@inject IStoreService storeService

@{
    var stores = storeService.GetAllStores();

    //page title
    ViewBag.Title = T("Admin.RatingAndReview.Agent").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Agent");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.RatingAndReview.Agent")
    </h1>
    <div class="pull-right">
        @if (!Model.IsLoggedInAsVendor)
        {
            //these buttons are not visible to vendors
            <button type="button" id="approve-selected" class="btn bg-green">
                <i class="fa fa-check-square-o"></i>
                @T("Admin.RatingAndReview.Agent.ApproveSelected")
            </button>
            <button type="button" id="disapprove-selected" class="btn bg-navy">
                <i class="fa fa-minus-square-o"></i>
                @T("Admin.RatingAndReview.Agent.DisapproveSelected")
            </button>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.RatingAndReview.Agent.DeleteSelected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        }
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_agent_review_list_buttons" })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedOnFrom" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedOnFrom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedOnTo" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedOnTo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchText" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchText" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchApprovedId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchApprovedId" asp-items="Model.AvailableApprovedOptions" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchAgentId" />
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="search-product-name" autocomplete="off" />
                                    <script type="text/javascript">
                                    $(document).ready(function() {
                                        $('#search-product-name').autocomplete({
                                            delay: 500,
                                            minLength: 3,
                                            source: '@(Url.Action("AgentSearchAutoComplete"))',
                                            select: function (event, ui) {
                                                console.log(ui.item);
                                                $('#@Html.IdFor(model => model.SearchAgentId)').val(ui.item.productid);
                                                $('#search-product-friendly-name').text(ui.item.label);
                                                $('#search-product-clear').show();
                                                return false;
                                            }
                                        });
                                    });
                                    </script>

                                    <span id="search-product-friendly-name"></span>
                                    <button type="button" id="search-product-clear" class="btn bg-gray" style="display: none; margin-top: 5px;">@T("Admin.Common.Clear")</button>
                                    <input asp-for="SearchAgentId" autocomplete="off" style="display:none;" />

                                    <script type="text/javascript">
                                    //remove button
                                    $('#search-product-clear').click(function() {
                                        $('#@Html.IdFor(model => model.SearchAgentId)').val('0');
                                        $('#search-product-friendly-name').text('');
                                        $('#search-product-clear').hide();
                                        return false;
                                    });
                                    </script>
                                </div>
                            </div>

                            <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 || Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchStoreId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                </div>
                            </div>
                            <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchVendorId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-3">
                                    <button type="button" id="search-agentreviews" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "agentreviews-grid",
                   UrlRead = new DataUrl("AgentList", "RatingReview", null),
                   SearchButtonId = "search-agentreviews",
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.CreatedOnFrom)),
                            new FilterParameter(nameof(Model.CreatedOnTo)),
                            new FilterParameter(nameof(Model.SearchText)),
                            new FilterParameter(nameof(Model.SearchStoreId)),
                            new FilterParameter(nameof(Model.SearchVendorId)),
                            new FilterParameter(nameof(Model.SearchAgentId)),
                            new FilterParameter(nameof(Model.SearchApprovedId))
                        },
                   ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(AgentRatingModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_product_reviews"),
                                Visible = !Model.IsLoggedInAsVendor,
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50",
                            },
                            new ColumnProperty(nameof(AgentRatingModel.StoreName))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.Store").Text,
                                Visible = storeService.GetAllStores().Count > 1 ? true : false,
                                Width = "150"
                            },
                            //new ColumnProperty(nameof(AgentRatingModel.ProductName))
                            //{
                            //    Title = T("Admin.RatingReview.AgentReview.Fields.Product").Text,
                            //    Width = "200",
                            //    Render = new RenderLink(new DataUrl("~/Admin/Product/Edit", nameof(AgentRatingModel.ProductId)))
                            //},
                            new ColumnProperty(nameof(AgentRatingModel.Agent))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.Agent").Text,
                                Width = "200",
                            },
                            new ColumnProperty(nameof(AgentRatingModel.CustomerInfo))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.Customer").Text,
                                Width = "200",
                                Render = new RenderLink(new DataUrl("~/Admin/Customer/Edit", nameof(AgentRatingModel.CustomerId)))
                            },
                            new ColumnProperty(nameof(AgentRatingModel.ReviewText))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.ReviewText").Text,
                                Width = "400",
                                Encode = false
                            },
                            new ColumnProperty(nameof(AgentRatingModel.LikeDislike))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.LikeDislike").Text,
                                Width = "100",
                                Encode = false,
                                Render=new RenderBoolean()
                            },
                             new ColumnProperty(nameof(AgentRatingModel.IsApproved))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.IsApproved").Text,
                                Width = "100",
                                Encode = false,
                                Render=new RenderBoolean()
                            },
                            new ColumnProperty(nameof(AgentRatingModel.CreatedOn))
                            {
                                Title = T("Admin.RatingReview.AgentReview.Fields.CreatedOn").Text,
                                Width = "200",
                                Render = new RenderDate()
                            },
                            new ColumnProperty(nameof(AgentRatingModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("AgentEdit"))
                            }
                        }
               })

                    <script>
                        $(document).ready(function() {

                            //"approve selected" button
                            $('#approve-selected').click(function(e) {
                                e.preventDefault();

                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("ApproveSelected", "RatingReview"))",
                                    data: postData,
                                    traditional: true,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#approveSelectedFailed-info').text(errorThrown);
                                        $("#approveSelectedFailed").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        updateTable('#agentreviews-grid');
                                    }
                                });
                                return false;
                            });

                            //"disapprove selected" button
                            $('#disapprove-selected').click(function(e) {
                                e.preventDefault();

                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("DisapproveSelected", "RatingReview"))",
                                    data: postData,
                                    traditional: true,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#disapproveSelectedFailed-info').text(errorThrown);
                                        $("#disapproveSelectedFailed").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        updateTable('#agentreviews-grid');
                                    }
                                });
                                return false;
                            });

                            //"delete selected" button
                            $("#delete-selected-action-confirmation-submit-button").bind("click", function () {
                                var postData = {
                                    selectedIds: selectedIds
                                };
                                addAntiForgeryToken(postData);
                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("DeleteSelected", "RatingReview"))",
                                    data: postData,
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $('#deleteSelectedFailed-info').text(errorThrown);
                                        $("#deleteSelectedFailed").click();
                                    },
                                    complete: function (jqXHR, textStatus) {
                                        updateTable('#agentreviews-grid');
                                    }
                                });
                                $('#delete-selected-action-confirmation').modal('toggle');
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<nop-alert asp-alert-id="approveSelectedFailed" />
<nop-alert asp-alert-id="disapproveSelectedFailed" />
<nop-alert asp-alert-id="deleteSelectedFailed" />

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SearchStoreId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.SearchVendorId)");
                var vendorProgress = $("#Vendor-loading-progress");
                vendorProgress.show();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetVendorByStoreId", "RatingReview"))",
                    data: { "storeId": selectedItem, "vendorId": selectedItem},
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.Id).html(option.Name));
                        });
                        vendorProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');
                        vendorProgress.hide();
                    }
                });
            });
        });
</script>

