﻿@model TipModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content tip-content">
    <div class="form-horizontal">
        <nop-panels id="product-tip-panels2">
            <nop-panel asp-name="product-tip-info" asp-icon="fa fa-info" asp-title="@T("NB.Admin.Tips.Info")" asp-hide-block-attribute-name="product-tip-info" asp-hide="false" asp-advanced="false">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="TipAmount" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="TipAmount" />
                            <span asp-validation-for="TipAmount"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Deleted" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Deleted" />
                            <span asp-validation-for="Deleted"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StoreId" />
                        </div><span class="required" style="float:right;">*</span>
                        <div class="col-md-9">
                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />

                        </div>
                    </div>
                </div>
            </nop-panel>
        </nop-panels>
    </div>
</div>