﻿@model TipSearchModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.Tips").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tips");
}

<form asp-controller="NBTipMaster" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Tips")
        </h1>
        <div class="pull-right">
            <a asp-action="CreateTip" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "tip-grid",
                       UrlRead = new DataUrl("TipsList", "NBTipMaster", null),
                       UrlDelete = new DataUrl("DeleteTip", "NBTipMaster", null),
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(TipModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_products"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50",
                                },
                               new ColumnProperty(nameof(TipModel.TipAmount))
                                {
                                    Title = T("NB.Admin.TipMaster.Fields.TipAmount").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(TipModel.DisplayOrder))
                                {
                                    Title = T("NB.Admin.TipMaster.Fields.DisplayOrder").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(TipModel.StoreName))
                                {
                                    Title = T("NB.Admin.TipMaster.Fields.StoreName").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(TipModel.Deleted))
                                {
                                    Title = T("NB.Admin.TipMaster.Fields.Deleted").Text,
                                    Width = "200",
                                    Render = new RenderBoolean()
                                },
                           new ColumnProperty(nameof(TipModel.Id))
                           {
                               Title = T("Admin.Common.Edit").Text,
                               Width = "100",
                               ClassName =  NopColumnClassDefaults.Button,
                               Render = new RenderButtonEdit(new DataUrl("~/Admin/NBTipMaster/EditTip/"))
                           },
                           new ColumnProperty(nameof(TipModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                            }
                       }
                   })
                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "NBTipMaster"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#tip-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
