﻿@model ConfigurationModel

@{
    Layout = Resanehlab.Plugin.Core.Infrastructure.Constants.PluginOutputPath + Resanehlab.Plugin.Core.Infrastructure.Constants.LayoutConfigurationViewPath;

    //page title
    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.Configuration").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.Configuration");
}

<div class="content">
    <div class="form-horizontal">
        <div class="raw clearfix">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Resanehlab.Plugin.Authentication.PhoneNumber.Configuration.GeneralInfo")
                    </div>
                    <div class="panel-body">
                        <table class="adminContent">
                            <tr>
                                <td colspan="2">
                                    <ul class="configure-hints">
                                        <li><strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.Configuration.Hint")</strong></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="adminSeparator">
                                <td colspan="2">
                                    <hr />
                                </td>
                            </tr>
                        </table>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Enabled" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Enabled" />
                                <span asp-validation-for="Enabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="PhoneNumberRequired" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="PhoneNumberRequired" />
                                <span asp-validation-for="PhoneNumberRequired"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="NumberOfCustomerSMSVerificationCodes" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NumberOfCustomerSMSVerificationCodes" />
                                <span asp-validation-for="NumberOfCustomerSMSVerificationCodes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="SMSVerficationCodeExpirationDateInMinutes" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="SMSVerficationCodeExpirationDateInMinutes" />
                                <span asp-validation-for="SMSVerficationCodeExpirationDateInMinutes"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="WaitingTimeForNextResendCodeRequestInSeconds" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="WaitingTimeForNextResendCodeRequestInSeconds" />
                                <span asp-validation-for="WaitingTimeForNextResendCodeRequestInSeconds"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="OverrideSystemCustomerAttributeNames_Phone" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="OverrideSystemCustomerAttributeNames_Phone" />
                                <span asp-validation-for="OverrideSystemCustomerAttributeNames_Phone"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="StoreOwnerPhoneNumber" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="StoreOwnerPhoneNumber" placeholder="ex: 00989121234567"/>
                                <span asp-validation-for="StoreOwnerPhoneNumber"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="TwoStepVerficationSelectedCustomerRoleIds" />
                            </div>
                            <div class="col-md-8">
                                <div class="input-group input-group-required">
                                    <nop-select asp-for="TwoStepVerficationSelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                                    <div class="input-group-btn">
                                        <nop-required />
                                    </div>
                                </div>
                                <script>
                $(document).ready(function() {
                    var customerRolesIdsInput = $('#@Html.IdFor(model => model.TwoStepVerficationSelectedCustomerRoleIds)').data("kendoMultiSelect");
                    customerRolesIdsInput.setOptions({
                        customerRolesIdsInput: false,
                        filter: "contains"
                    });

                    @if (Model.AvailableCustomerRoles.Count == 0)
                    {
                        <text>
                            customerRolesIdsInput.setOptions({
                                enable: false,
                                placeholder: '@T("Admin.Customers.Customers.Fields.CustomerRoles.NoRoles")'
                            });
                            customerRolesIdsInput._placeholder();
                            customerRolesIdsInput._enable();
                        </text>
                    }
                });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Resanehlab.Plugin.Authentication.PhoneNumber.Configuration.CustomerEventsInfo")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="AllowedTokens" />
                            </div>
                            <div class="col-md-8">
                                <div class="form-text-row">@Model.AllowedTokens</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <hr />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="PhoneNumberVerificationText" />
                            </div>
                            <div class="col-md-8">
                                <nop-textarea asp-for="PhoneNumberVerificationText" />
                                <span asp-validation-for="PhoneNumberVerificationText"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>