﻿@using Nop.Web.Framework.Models.DataTables
@using Nop.Plugin.Atluz.Razorpay.Models
@model Nop.Plugin.Atluz.Razorpay.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
    Html.AddCssFileParts("~/Plugins/Atluz.Razorpay/Content/custom.css");
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-md-8">
        @await Component.InvokeAsync("StoreScopeConfiguration")
    </div>
    <div class="col-md-4">
        <div class="pull-right">
            <a href="https://store.atluz.com/release-notes-razorpay" target="AtluzStoreReleaseNote" class="pull-left" style="margin-top: 8px; margin-right: 5px;"><span>v</span>@Model.AtluzLicense.ProductVersion</a>
            <a href="@Url.RouteUrl("Plugin.Atluz.Razorpay.License")" class="btn bg-navy">
                <i class="fa fa-key"></i>
                @T("Plugin.Atluz.Razorpay.License.LicenseButton")
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var color = $("#@Html.IdFor(model => model.Color)").val();
        $("#changeColor").css("background-color", color);
    });
</script>
<form asp-controller="AtluzRazorpay" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PictureId_OverrideForStore" asp-input="PictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PictureId" />
                        <span asp-validation-for="PictureId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiKeyId_OverrideForStore" asp-input="ApiKeyId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiKeyId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKeyId" />
                        <span asp-validation-for="ApiKeyId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiKeySecret_OverrideForStore" asp-input="ApiKeySecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiKeySecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKeySecret" />
                        <span asp-validation-for="ApiKeySecret"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsAdditionalFeePercentage_OverrideForStore" asp-input="IsAdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsAdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <label>
                            <input asp-for="IsAdditionalFeePercentage" type="checkbox" class="toggle-check-input" />
                            <span class="toggle-check-text"></span>
                        </label>
                        <span asp-validation-for="IsAdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SupportOrderPaymentRefund_OverrideForStore" asp-input="SupportOrderPaymentRefund" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SupportOrderPaymentRefund" />
                    </div>
                    <div class="col-md-9">
                        <label>
                            <input asp-for="SupportOrderPaymentRefund" type="checkbox" class="toggle-check-input" />
                            <span class="toggle-check-text"></span>
                        </label>
                        <span asp-validation-for="SupportOrderPaymentRefund"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SupportOrderPaymentCapture_OverrideForStore" asp-input="SupportOrderPaymentCapture" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SupportOrderPaymentCapture" />
                    </div>
                    <div class="col-md-9">
                        <label>
                            <input asp-for="SupportOrderPaymentCapture" type="checkbox" class="toggle-check-input" />
                            <span class="toggle-check-text"></span>
                        </label>
                        <span asp-validation-for="SupportOrderPaymentCapture"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Name_OverrideForStore" asp-input="Name" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Name" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Color_OverrideForStore" asp-input="Color" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Color" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <nop-editor asp-for="Color" />
                            <span asp-validation-for="Color"></span>
                            <span class="input-group-btn">
                                <button type="button" id="changeColor" class="btn btn-flat">
                                    &nbsp;
                                </button>
                            </span>
                        </div>
                    </div>
                    <script>
                        $("#@Html.IdFor(model => model.Color)").keyup(function () {
                            var color = $("#@Html.IdFor(model => model.Color)").val();
                            $("#changeColor").css("background-color", color);
                        });
                    </script>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebhookSecret_OverrideForStore" asp-input="WebhookSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebhookSecret" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <nop-editor asp-for="WebhookSecret" />
                            <span asp-validation-for="WebhookSecret"></span>
                            <span class="input-group-btn">
                                <button type="button" name="generateSecret" id="generateSecret" class="btn btn-info btn-flat">
                                    <i class="fa fa-refresh"></i>
                                    @T("Plugin.Atluz.Razorpay.ReGenerate")
                                </button>
                            </span>
                        </div>
                    </div>
                    <script>
                        $("#generateSecret").click(function (e) {
                            var postData = {};
                            addAntiForgeryToken(postData);
                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@Html.Raw(Url.Action("ReGenerateSecret", "AtluzRazorpay"))",
                                data: postData,
                                success: function (result) {
                                    $("#@Html.IdFor(model => model.WebhookSecret)").attr("value", result.Data);
                                },
                                error: function (err) {
                                    alert(err.statusText);
                                }
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-9">
                        <div class="callout bg-gray-light no-margin" style="margin-left: 0px !important;">
                            <b>Step 1</b> : Goto the Razorpay Dashboard.<br />
                            <b>Step 2</b> : Navigate to Webhook and Add webhook.<br />
                            <b>Step 3</b> : Add Webhook Url ( <b>@Model.StoreUrl</b> ).<br />
                            <b>Step 4</b> : Add Webhook Secret as above.<br />
                            <b>Step 5</b> : Select <b>payment.authorized</b> in Webhook.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <button type="submit" name="saveSettings" id="saveSettings" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "plugins-grid",
                    UrlRead = new DataUrl("GetTransactionsList", "AtluzRazorpay", null),
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(RazorpayTransactionModel.Id))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.TransactionId").Text
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.OrderId))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.OrderId").Text,
                            Render = new RenderCustom("renderColumnOrder")
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.Amount))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.Amount").Text,
                            Render = new RenderCustom("renderColumnAmount")
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.Method))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.Method").Text,
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.Status))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.Status").Text
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.Email))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.Email").Text
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.AmountRefunded))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.Refunded").Text,
                            Render = new RenderCustom("renderColumnAmountRefunded")
                        },
                        new ColumnProperty(nameof(RazorpayTransactionModel.DateTime))
                        {
                            Title = T("Plugin.Atluz.Razorpay.Fields.DateTime").Text,
                            Render = new RenderDate()
                        }
                    }
                })
                <script>
                    function renderColumnOrder(data, type, row, meta) {
                        return  data == '' ? "" : "<a class=\'btn btn-default\' href=\'/Admin/Order/Edit/" + data + "\'><i class=\'fa fa-eye\'>" + (row.CustomOrderId != "" ? row.CustomOrderId : data) + "</i></a>";
                    }

                    function renderColumnAmount(data, type, row, meta) {
                        return row.Currency + row.Amount;
                    }

                    function renderColumnAmountRefunded(data, type, row, meta) {
                        return row.Currency + row.AmountRefunded;
                    }
                </script>
            </div>
        </div>
    </div>
</form>