﻿@model DeliverySlotModel
@inject IWorkContext workcontext
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.StoreId)").change(function() {
                var selectedItem = $(this).val();
                var ddlMerchants = $("#@Html.IdFor(model => model.MerchantId)");

                var postData = {
                    storeId: selectedItem
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetMerchantsByStoreId", "NBDeliverySlot"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlMerchants.html('');
                        $.each(data, function(id, option) {
                            ddlMerchants.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#merchantsAlert").click();
                    }
                });
            });

            //$('#@Html.IdFor(model => model.StoreId)').trigger('change');
        });
</script>
<div class="content">
    <div class="form-horizontal">
        <nop-panels id="deliverySlot-panels2">
            <nop-panel asp-name="deliverySlot-info" asp-icon="fa fa-info" asp-title="@T("NB.Admin.DeliverySlot.Info")" asp-hide-block-attribute-name="deliverySlot-info" asp-hide="false" asp-advanced="false">
                <div class="panel-body">
                    @(Html.LocalizedEditor<DeliverySlotModel, DeliverySlotLocalizedModel>("deliverySlot-info-localized",
                    @<div>
                        <div class="form-group HeadSlots">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.Locales[item].Name" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group main">
                            <div class="col-md-3 slotName">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-9 slotStore">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>))
                    @*TODO: Need to work on future
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="IsDefaultSlot" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="IsDefaultSlot" />
                                <span asp-validation-for="IsDefaultSlot"></span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StoreId" />
                        </div><span class="required" style="float:right;">*</span>
                        <div class="col-md-9">
                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />

                        </div>
                    </div>
                    @if (!workcontext.IsVendorRole)
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="MerchantId" />
                            </div><span class="required" style="float:right;">*</span>
                            <div class="col-md-9">
                                <nop-select asp-for="MerchantId" asp-items="Model.AvailableMerchants" />
                            </div>
                        </div>
                    }
                    <div class="form-group Slots">
                        <div class="col-md-3">
                            <nop-label asp-for="Duration" />
                        </div>
                        <div class="col-md-9 slotMain">
                            <div class="col-md-9 slot">
                                <div class="raw">
                                    <div class="col-md-3">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("Duration", "15", (Model.Duration == 15 || Model.IsCustomDuration), new { id = "Duration_15" })
                                                15 min
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("Duration", "30", (Model.Duration == 30), new { id = "Duration_30" })
                                                30 min
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="radio">
                                            <label>
                                                @Html.RadioButton("Duration", "45", (Model.Duration == 45), new { id = "Duration_45" })
                                                45 min
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-11 custom-time">
                                        <input id="CustomDuration" type="number" name="CustomDuration" min="5" max="300" value="@(Model.IsCustomDuration ? Model.Duration.ToString() : "")" />
                                        @T("NB.Admin.DeliverySlot.Custom")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="CutOffTime" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="CutOffTime" />
                            <span asp-validation-for="CutOffTime"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StartDateUtc" />
                        </div>
                        <div class="col-md-4">
                            <nop-editor asp-for="StartDateUtc" />
                            <span asp-validation-for="StartDateUtc"></span>
                        </div>
                        <div class="col-md-4">
                            <nop-editor asp-for="EndDateUtc" />
                            <span asp-validation-for="EndDateUtc"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="StartTime" />
                        </div>
                        <div class="col-md-4">
                            <nop-editor asp-for="StartTime" />
                            <span asp-validation-for="StartTime"></span>
                        </div>
                        <div class="col-md-4">
                            <nop-editor asp-for="EndTime" />
                            <span asp-validation-for="EndTime"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="NumberOfOrders" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="NumberOfOrders" />
                            <span asp-validation-for="NumberOfOrders"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="SurChargeFee" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SurChargeFee" />
                            <span asp-validation-for="SurChargeFee"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Published" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Published" />
                            <span asp-validation-for="Published"></span>
                        </div>
                    </div>
                </div>
            </nop-panel>
        </nop-panels>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.StartDateUtc)").attr("readonly", true)

        $("#@Html.IdFor(model => model.EndDateUtc)").attr("readonly", true)

        $("#@Html.IdFor(model => model.StartTime)").attr("readonly", true)

        $("#@Html.IdFor(model => model.EndTime)").attr("readonly", true)

        $("#CustomDuration").change(function () {
            var max = parseInt($(this).attr('max'));
            var min = parseInt($(this).attr('min'));
            if ($(this).val() == "")
            {

            }
            else if ($(this).val() > max) {
                $(this).val(max);
            }
            else if ($(this).val() < min) {
                $(this).val(min);
            }
        });

        var datepickerStartDate = $("#@Html.IdFor(model => model.StartDateUtc)").data("kendoDatePicker");
        var datepickerEndDate = $("#@Html.IdFor(model => model.EndDateUtc)").data("kendoDatePicker");

        if (@Model.Id > 0) {
            datepickerStartDate.min(new Date('@(Model.StartDateUtc)'));
            datepickerEndDate.min(new Date('@(Model.StartDateUtc)'));
        }
        else {
            datepickerStartDate.min(new Date());
            datepickerEndDate.min(new Date());
        }
    });
</script>
<nop-alert asp-alert-id="merchantsAlert" asp-alert-message="@T("NB.Admin.Common.Alert.Merchants.Failed")" />