﻿@model DeliverySlotSearchModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.DeliverySlot").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("DeliverySlots");
}
<form asp-controller="NBDeliverySlot" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.DeliverySlot")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            <nop-action-confirmation asp-button-id="delete-selected" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row opened" data-hideAttribute="false">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body opened">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Name" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="Name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="Duration" />
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(x => x.Duration, new[]{
                                                new SelectListItem(){ Text = "All", Value = "0"},
                                                new SelectListItem(){ Text = "15", Value = "15"},
                                                new SelectListItem(){ Text = "30", Value = "30"},
                                                new SelectListItem(){ Text = "45", Value = "45"}
                                                })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" id="search-deliverySlots" class="btn btn-primary btn-search">
                                                <i class="fa fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "deliverySlot-grid",
                       UrlRead = new DataUrl("DeliverySlotsList", "NBDeliverySlot", null),
                       UrlDelete = new DataUrl("Delete", "NBDeliverySlot", null),
                       SearchButtonId = "search-deliverySlots",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.Name)),
                            new FilterParameter(nameof(Model.Duration))
                        },
                       ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(DeliverySlotModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_products"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50",
                                },
                                new ColumnProperty(nameof(DeliverySlotModel.Name))
                                {
                                    Title = T("NB.Admin.DeliverySlot.Fields.Name").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(DeliverySlotModel.DisplayOrder))
                                {
                                    Title = T("NB.Admin.DeliverySlot.Fields.DisplayOrder").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(DeliverySlotModel.StoreName))
                                {
                                    Title = T("NB.Admin.DeliverySlot.Fields.StoreName").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(DeliverySlotModel.Published))
                                {
                                    Title = T("NB.Admin.DeliverySlot.Fields.Published").Text,
                                    Width = "200",
                                    Render = new RenderBoolean()
                                },
                           new ColumnProperty(nameof(DeliverySlotModel.Id))
                           {
                               Title = T("Admin.Common.Edit").Text,
                               Width = "100",
                               ClassName =  NopColumnClassDefaults.Button,
                               Render = new RenderButtonEdit(new DataUrl("~/Admin/NBDeliverySlot/Edit/"))
                           },
                           new ColumnProperty(nameof(DeliverySlotModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                            }
                       }
                   })
                        <script>
                            $(document).ready(function () {
                                $('#delete-selected-action-confirmation-submit-button').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "NBDeliverySlot"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#deliverySlot-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
