﻿@model ItemsListModel
<input type="hidden" id="storingOrder" value="5" />
<input type="hidden" id="hdViewMode" value="grid" />
@if (!string.IsNullOrEmpty(Model.Keywords) || Model.SelectedImageTags.Count > 0)
{
    <div class="topFilterShort">
        <div class="topFilterList">
            @if (!string.IsNullOrEmpty(Model.Keywords))
            {
                <div id="slctd-txtKeywords">@Model.Keywords <span onclick="AjaxFilter.removeKeywordsFilter('txtKeywords')">X</span></div>
            }

            @foreach (var item in Model.SelectedImageTags)
            {
                <div id="slctd-dvImageTags_@(item.Value)">@item.Text <span onclick="AjaxFilter.removeFilter(@(item.Value))">X</span></div>
            }

            <style>
                .menuItemsList.bestsellers {
                    display: none !important;
                }
            </style>

            <div class="clearAll"><span onclick="AjaxFilter.clearAllFilter()">@T("Items.Filter.ClearAll")</span></div>
        </div>
    </div>

}

@*BestSeller Products --Start--*@
@*@await Component.InvokeAsync("HomepageBestSellers")*@
@*--End--*@
@if (Model.CategoryName != T("NB.Admin.BestSeller").Text)
{
    <div class="category">@Model.CategoryName (@Model.PagingFilteringContext.TotalItems)</div>
}
@*<div class="row marchentfilterBelow text-center">
    <div class="filtersSection">
        <div class="merchantHeadDropdown">
            <label class="headLabel">@T("Catalog.OrderBy") :</label>
            <div class="sortingList select fa">
                <nop-select asp-for="@Model.SortingList" asp-items="@Model.SortingList" />
            </div>
        </div>
        <div class="merchantHeadFilter">
            <a onclick="viewMode('grid');" class="gridView">@T("NB.Grid")</a>
            <a onclick="viewMode('list');" class="listView"> @T("NB.List")</a>
        </div>
        <input id="hdViewMode" type="hidden" value="@Model.PagingFilteringContext.ViewMode" />
    </div>
</div>*@
<div class="suggested_websites">@T("NB.Suggested.Website")</div>


@*<div class="sortingList product">
        <nop-select asp-for="@Model.SortingList" asp-items="@Model.SortingList" />
        <div class="merchantHeadFilter">
            <a href="#"> <img class="full" src="/Themes/MicroShipping/Content/img/window-blue.png" /></a>
            <a href="#"> <img class="half" src="/Themes/MicroShipping/Content/img/window-grey.png" /></a>
        </div>
    </div>*@

@if (Model.Items.Count > 0)
{
    <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
        @foreach (var product in Model.Items)
        {
            product.ViewMode = Model.PagingFilteringContext.ViewMode;
            @await Html.PartialAsync("_ProductBoxMerchant", product)
        }
    </div>
}
else
{
    <div class="no-data">
        @T("nb.noProduct")
    </div>
}
@{
    var pager = Html.CustomPager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}

<script>
    $("#SortingList").change(function () {
        $("#storingOrder").val($('#SortingList option:selected').val());
        AjaxFilter.filterItems(1);
    });
</script>

<script>
    function viewMode(data) {
        var vmode = $("#viewMode").val(data).val();
        $("#hdViewMode").val(vmode);
        AjaxFilter.filterItems(1);
    }
    $(function () {
        $(".merchantHeadFilter a.listView").click(function () {
            $(".item-grid").addClass("listViewBox");
            $(".item-grid").removeClass("gridViewBox");
            $("#hdViewMode").val('list');
        });


        $(".merchantHeadFilter a.gridView").click(function () {
            $(".item-grid").addClass("gridViewBox");
            $(".item-grid").removeClass("listViewBox");
            ("#hdViewMode").val('grid');
        });
    });

</script>