﻿@model Nop.Plugin.Widgets.NivoSlider.Models.ConfigurationModel
@using Nop.Core
@inject IStoreContext storeContext

@{
    Layout = "_ConfigurePlugin";

    var googleAccountKey = storeContext.GoogleMapAccountKey;
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="WidgetsNivoSlider" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.NivoSlider.Picture1")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture1Id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Picture1Id" />
                        <span asp-validation-for="Picture1Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text1_OverrideForStore" asp-input="Text1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text1" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text1" />
                        <span asp-validation-for="Text1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AltText1_OverrideForStore" asp-input="AltText1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AltText1" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText1" />
                        <span asp-validation-for="AltText1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Link1_OverrideForStore" asp-input="Link1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Link1" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link1" />
                        <span asp-validation-for="Link1"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GeofancingPicture1_OverrideForStore" asp-input="GeofancingPicture1" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GeofancingPicture1" />
                        <button type="button" id="GeofancingPicture1Button" onclick="GetGeofancing('GeofancingPicture1');" class="btn btn-info btn-lg">@T("nb.geo-fencing")</button>
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="GeofancingPicture1"></nop-textarea>
                        <span asp-validation-for="GeofancingPicture1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.NivoSlider.Picture2")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Picture2Id_OverrideForStore" asp-input="Picture2Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture2Id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Picture2Id" />
                        <span asp-validation-for="Picture2Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text2_OverrideForStore" asp-input="Text2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text2" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text2" />
                        <span asp-validation-for="Text2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AltText2_OverrideForStore" asp-input="AltText2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AltText2" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText2" />
                        <span asp-validation-for="AltText2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Link2_OverrideForStore" asp-input="Link2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Link2" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link2" />
                        <span asp-validation-for="Link2"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GeofancingPicture2_OverrideForStore" asp-input="GeofancingPicture2" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GeofancingPicture2" />
                        <button type="button" id="GeofancingPicture2Button" onclick="GetGeofancing('GeofancingPicture2');" class="btn btn-info btn-lg">@T("nb.geo-fencing")</button>
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="GeofancingPicture2"></nop-textarea>
                        <span asp-validation-for="GeofancingPicture2"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.NivoSlider.Picture3")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Picture3Id_OverrideForStore" asp-input="Picture3Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture3Id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Picture3Id" />
                        <span asp-validation-for="Picture3Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text3_OverrideForStore" asp-input="Text3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text3" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text3" />
                        <span asp-validation-for="Text3"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AltText3_OverrideForStore" asp-input="AltText3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AltText3" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText3" />
                        <span asp-validation-for="AltText3"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Link3_OverrideForStore" asp-input="Link3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Link3" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link3" />
                        <span asp-validation-for="Link3"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GeofancingPicture3_OverrideForStore" asp-input="GeofancingPicture3" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GeofancingPicture3" />
                        <button type="button" id="GeofancingPicture3Button" onclick="GetGeofancing('GeofancingPicture3');" class="btn btn-info btn-lg">@T("nb.geo-fencing")</button>
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="GeofancingPicture3"></nop-textarea>
                        <span asp-validation-for="GeofancingPicture3"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.NivoSlider.Picture4")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Picture4Id_OverrideForStore" asp-input="Picture4Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture4Id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Picture4Id" />
                        <span asp-validation-for="Picture4Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text4_OverrideForStore" asp-input="Text4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text4" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text4" />
                        <span asp-validation-for="Text4"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AltText4_OverrideForStore" asp-input="AltText4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AltText4" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText4" />
                        <span asp-validation-for="AltText4"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Link4_OverrideForStore" asp-input="Link4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Link4" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link4" />
                        <span asp-validation-for="Link4"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GeofancingPicture4_OverrideForStore" asp-input="GeofancingPicture4" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GeofancingPicture4" />
                        <button type="button" id="GeofancingPicture4Button" onclick="GetGeofancing('GeofancingPicture4');" class="btn btn-info btn-lg">@T("nb.geo-fencing")</button>
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="GeofancingPicture4"></nop-textarea>
                        <span asp-validation-for="GeofancingPicture4"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.NivoSlider.Picture5")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Picture5Id_OverrideForStore" asp-input="Picture5Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture5Id" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Picture5Id" />
                        <span asp-validation-for="Picture5Id"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Text5_OverrideForStore" asp-input="Text5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Text5" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Text5" />
                        <span asp-validation-for="Text5"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AltText5_OverrideForStore" asp-input="AltText5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AltText5" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AltText5" />
                        <span asp-validation-for="AltText5"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Link5_OverrideForStore" asp-input="Link5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Link5" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Link5" />
                        <span asp-validation-for="Link5"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="GeofancingPicture5_OverrideForStore" asp-input="GeofancingPicture5" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="GeofancingPicture5" />
                        <button type="button" id="GeofancingPicture5Button" onclick="GetGeofancing('GeofancingPicture5');" class="btn btn-info btn-lg">@T("nb.geo-fencing")</button>
                    </div>
                    <div class="col-md-9">
                        <nop-textarea asp-for="GeofancingPicture5"></nop-textarea>
                        <span asp-validation-for="GeofancingPicture5"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="geoMapModel" class="modal" style="display:none">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="closeBox">&times;</span>
        <div id="map" style="height:450px;width:100%;"></div>
        <script>
            // This example requires the Drawing library. Include the libraries=drawing
            // parameter when you first load the API. For example:
            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=drawing">
            var all_overlays = [], drawingManager;

            function CenterControl(controlDiv, map) {

                // Set CSS for the control border.
                var controlUI = document.createElement('div');
                controlUI.style.backgroundColor = '#fff';
                controlUI.style.border = '2px solid #fff';
                controlUI.style.borderRadius = '3px';
                controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                controlUI.style.cursor = 'pointer';
                controlUI.style.marginBottom = '22px';
                controlUI.style.textAlign = 'center';
                controlUI.title = 'Clickto delete all geofences';
                controlDiv.appendChild(controlUI);

                // Setup the click event listeners: simply set the map to Chicago.
                controlUI.addEventListener('click', function () {

                    for (let i = 0; i < all_overlays.length; i++) {
                        //GET LAT LONGS OF ALL SHAPES
                        console.log(all_overlays[i]);
                        if (all_overlays[i].type == "polygon") {
                            // console.log(all_overlays[i].overlay.getPath());
                            let textToSend = "Type: Polygon\n'Cordinates: \n"
                            let vertices = all_overlays[i].overlay.getPath();
                            for (let i = 0; i < vertices.getLength(); i++) {
                                let xy = vertices.getAt(i);
                                textToSend += 'Coordinate ' + i + ': ' + xy.lat() + ',' + xy.lng() + "\n";
                            }
                            window.alert(textToSend);

                        }
                        if (all_overlays[i].type == "circle") {
                            let textToSend = "Type: Circle\nRadius:" + all_overlays[i].overlay.getRadius() + "\nlat:" + all_overlays[i].overlay.getCenter().lat() + "\nlng: " + all_overlays[i].overlay.getCenter().lng();
                            window.alert(textToSend);
                            console.log('radius', all_overlays[i].overlay.getRadius());
                            console.log('lat', all_overlays[i].overlay.getCenter().lat());
                            console.log('lng', all_overlays[i].overlay.getCenter().lng());
                        }
                    }
                    //GET LAT LONGS ENDS


                    //CODE BELOW WILL DELETE ALL THE SHAPES
                    console.log("isMapping", isMapping);

                    for (let i = 0; i < all_overlays.length; i++) {
                        all_overlays[i].overlay.setMap(null);
                    }
                    all_overlays = [];
                    //TO GIVE CONTROLS AGAIN WHEN drawing is deleted
                    drawingManager.setOptions({
                        drawingControl: true
                    });
                    //CODE FOR DELETION ENDS
                });

            }


            function initMap() {
                //alert("Map");
                let center = { lat: -34.397, lng: 150.644 };
                //Logic to put map to center of geofence
                if (drawingFigure && drawingFigure.type) {
                    switch (drawingFigure.type) {
                        case "MARKER":
                            center = drawingFigure.coordinates;
                            break;
                        case "POLYGON":
                            let latCenter = 0, lngCenter = 0;
                            for (let i = 0; i < drawingFigure.coordinates.length; i++) {
                                latCenter += drawingFigure.coordinates[i].lat;
                                lngCenter += drawingFigure.coordinates[i].lng;
                            }
                            center = { lat: latCenter / drawingFigure.coordinates.length, lng: lngCenter / drawingFigure.coordinates.length }
                            break;
                        case "CIRCLE":
                            center = drawingFigure.coordinates.center;
                            break;
                    }
                }
                let map = new google.maps.Map(document.getElementById('map'), {
                    center,
                    zoom: 13
                });

                //to draw drawing before hand
                if (drawingFigure && drawingFigure.type) {
                    switch (drawingFigure.type) {
                        case "MARKER":
                            drawnFigure = new google.maps.Marker({ position: drawingFigure.coordinates, map: map });
                            break;
                        case "POLYGON":
                            drawnFigure = new google.maps.Polygon({
                                paths: drawingFigure.coordinates,
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.35
                            });
                            drawnFigure.setMap(map);
                            break;
                        case "CIRCLE":
                            drawnFigure = new google.maps.Circle({
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.35,
                                map: map,
                                center: center,
                                radius: drawingFigure.coordinates.radius
                            });
                            break;
                    }
                }
                let object = {
                    drawingMode: null,
                    drawingControl: true,
                    drawingControlOptions: {
                        position: google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: ['marker']
                    },
                    markerOptions: { icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png' },
                    circleOptions: {
                        fillColor: '#ffff00',
                        fillOpacity: 0.1,
                        strokeWeight: 5,
                        clickable: true,
                        editable: true,
                        draggable: true,
                        strokeOpecity: 0.25,
                        zIndex: 1
                    }
                }
                console.log("isMapping >", isMapping)
                if (isMapping) {
                    // object.drawingMode = google.maps.drawing.OverlayType.POLYGON;
                    //object.drawingControlOptions.drawingModes = ['circle', 'polygon']
                    object.drawingControlOptions.drawingModes = ['polygon']
                }
                drawingManager = new google.maps.drawing.DrawingManager(object);

                let centerControlDiv = document.createElement('div');
                let centerControl = new CenterControl(centerControlDiv, map);

                centerControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);
                google.maps.event.addListener(drawingManager, 'overlaycomplete', function (e) {

                    all_overlays.push(e);
                    // if (e.type != google.maps.drawing.OverlayType.MARKER) {
                    // Switch back to non-drawing mode after drawing a shape.
                    drawingManager.setDrawingMode(null);
                    // Add an event listener that selects the newly-drawn shape when the user
                    // mouses down on it.
                    let newShape = e.overlay;
                    newShape.type = e.type;
                    // google.maps.event.addListener(newShape, 'click', function () {
                    //   setSelection(newShape);
                    // });
                    //   setSelection(newShape);
                    // }
                    //TO SET DRAWING CONTROL OFF WHEN FIR SHAPE COMPLETES
                    // drawingManager.setOptions({
                    //   drawingControl: false
                    // });
                });
                google.maps.event.addListener(drawingManager, "drawingmode_changed", function () {
                    console.log("drawingmode_changed")

                    if (drawingManager.getDrawingMode()) {
                        console.log("drawnFigure 1234567", drawnFigure)
                        drawnFigure ? drawnFigure.setMap(null) : "";
                        for (var i = 0; i < all_overlays.length; i++) {
                            all_overlays[i].overlay.setMap(null);
                        }
                        all_overlays = [];
                    }
                });
                drawingManager.setMap(map);
            }


        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&libraries=drawing&callback=initMap"
                async defer></script>
    </div>
</div>

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        /* z-index: 1;  Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        padding-left: 20%;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 95%
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    /* Always set the map height explicitly to define the size of the div
                * element that contains the map. */
    #map {
        height: 100%;
    }
</style>

<script>
    // Get the modal
    var isMapping = 0, drawingFigure = null, drawnFigure = null;
    var modal = document.getElementById('geoMapModel');

    // Get the button that opens the modal
    var btn1 = document.getElementById("myBtn1");

    // Get the button that opens the modal
    var btn2 = document.getElementById("myBtn2");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var spanClose = document.getElementById("closeBox");

    var activeGeofancingElementId = '';

    // When the user clicks the button, open the modal
    function GetGeofancing(elementId) {
        //alert("" + elementId + "");
        //set activeElementId as current elementId to use further while closing geofancing trought span.
        activeGeofancingElementId = elementId;
        console.log("drawingFigure", document.getElementById("" + elementId + "").value);
        drawingFigure = document.getElementById("" + elementId + "").value ? JSON.parse(document.getElementById("" + elementId + "").value) : null //PASS OBJECT HERE TO RENDER IMAGE SENT BY BACKEND
        isMapping = 1;

        initMap();
        modal.style.display = "block";
        //alert("Open3");
    }
    // When the user clicks on <span> (x), close the modal
    spanClose.onclick = function () {
        modal.style.display = "none";
        if (isMapping) {
            for (let i = 0; i < all_overlays.length; i++) {
                //GET LAT LONGS OF ALL SHAPES
                console.log(all_overlays[i]);
                if (all_overlays[i].type == "polygon") {
                    let arrayOfCoordinates = [];
                    let vertices = all_overlays[i].overlay.getPath();
                    for (let i = 0; i < vertices.getLength(); i++) {

                        let xy = vertices.getAt(i);
                        arrayOfCoordinates.push({ lat: xy.lat(), lng: xy.lng() });
                    }
                    if (vertices.getLength() > 0) {
                        let xy = vertices.getAt(0);
                        arrayOfCoordinates.push({ lat: xy.lat(), lng: xy.lng() });
                    }
                    document.getElementById("" + activeGeofancingElementId + "").value = JSON.stringify({
                        "type": "POLYGON",
                        "coordinates": arrayOfCoordinates
                    });
                }

                if (all_overlays[i].type == "circle") {
                    document.getElementById("" + activeGeofancingElementId + "").value = JSON.stringify({
                        "type": "CIRCLE",
                        "coordinates": {
                            "center": { lat: all_overlays[i].overlay.getCenter().lat(), lng: all_overlays[i].overlay.getCenter().lng() },
                            "radius": all_overlays[i].overlay.getRadius()
                        }
                    });
                }
            }
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function setGeofancybuttonVisibility(e) {
        var checkboxId = e.id
        //run only for geofacing checkbox
        if (checkboxId.indexOf('Geofancing') != -1) {
            var geofacingButtonArray = checkboxId.split('_');
            var geofancingbuttonId = geofacingButtonArray[0] + "Button";
            if (!$(e).is(':checked')) {
                $("#" + geofancingbuttonId + "").prop('disabled', true);
            }
            else {
                $("#" + geofancingbuttonId + "").prop('disabled', false);
            }
        }
    }

    // enable/disapbe geofancy button
    $(document).ready(function () {
        //on load
        $('.multi-store-override-option').each(function () {
            setGeofancybuttonVisibility(this);
        });

        //on click
        $('.multi-store-override-option').click(function (e) {
            setGeofancybuttonVisibility(this);
        });
    });
</script>