﻿@model CustomerNavigationModel
<div class="block block-account-navigation">
    <div class="Main-head">
        <span class="res-head">@T("Account.MyAccount")</span>
    </div>
    <div class="listbox-resp">
        <div class="title">
            <h3>@T("Account.Personal.Details")</h3>
        </div>
        <div class="listbox">
            <ul class="list">
                <li>
                    <a href="/customer/info" class="active">@T("NB.Account.MyProfile")</a>
                </li>
                <li>
                    <a href="/customer/addresses" class="inactive">@T("NB.Account.CustomerAddresses")</a>
                </li>
                <li>
                    <a href="/customer/changepassword" class="inactive">@T("Account.ChangePassword")</a>
                </li>
            </ul>
        </div>
        <div class="title">
            <h3 class="Sec">@T("Account.Navigation")</h3>
        </div>
        <div class="listbox">
            <ul class="list">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
                @foreach (var item in Model.CustomerNavigationItems)
                {
                    <li class="@item.ItemClass">
                        <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                    </li>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
            </ul>
        </div>
    </div>
</div>
    @*<script>
            $(".listbox li a").click(function () {
                $(this).find()
                $(this).addClass("active");
            });
        </script>.*@
    <script>
        $(".res-head").click(function () {
            $(".listbox-resp").toggleClass("menuOpen");
            style.cssText = "-webkit-transition: all 0.5s ease-in-out;";
        });


        $(function () {
            var url = this.location.href;
            var activePage = url.substring(url.lastIndexOf('/') + 1);
            $('.listbox li a').each(function () {
                var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);
                $(this).removeClass('active');
                if (activePage == currentPage) {
                    if (!$(this).hasClass('active')) {
                        //$(".listbox li a.active").removeClass("active");
                        $(this).removeClass("inactive");
                        $(this).addClass("active");
                    }
                }
            });
        })
    </script>
